.navbar-search {
  --f7-navbar-bg-color: white;
  --f7-searchbar-bg-color: white;
  --f7-navbar-link-color: #{gray("900")};
  --f7-searchbar-link-color: #{gray("900")};
  --f7-searchbar-border-color: white;
  --f7-searchbar-input-font-size: 14px;
  ~ * {
    --f7-page-navbar-offset: 58px;
  }
}

.navbar {
  .location-select {
    font-size: 14px;
    i.f7-icons {
      width: 17px;
      font-size: 12px;
    }
    a.popup-open {
      position: relative;
      display: block;
      cursor: pointer;
      &:before {
        background: transparent;
        cursor: pointer;
        position: absolute;
        content: "";
        top: -10px;
        right: -10px;
        left: -10px;
        bottom: -10px;
      }
    }
  }
}

.geffen-smart {
  .item-after {
    display: block;

    padding: 0;
    background: white;
    max-width: 100%;
    color: gray("900");
    @extend .text-truncate;
    padding-right: 13px;
    position: relative;
    &:after {
      position: absolute;
      right: 10px;
      top: 13px;
      content: "";
      top: 8px;
      right: 0;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: gray("500") transparent transparent transparent;
    }
  }
  select {
    display: none;
  }
}

.cashback-filter {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid gray("300");
  border-bottom: 1px solid gray("300");
  width: 100%;
  .cashback-filter-item::last-child {
    &:after {
      display: none;
    }
  }
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  width: 100%;
  z-index: 500;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);

 
}

.cashback-filter-item {
  flex: 1 1 0px;
  min-width: 0;
  padding: 5px 10px;
  background: white;
  position: relative;
  font-size: 13px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    width: 1px;
    background: gray("200");
  }
  .nhan {
    // font-size: 14px;
    color: gray("500");
    margin-bottom: 5px;
  }

  .geffen-smart {
    position: relative;
    display: block;
    cursor: pointer;
    &:before {
      background: transparent;
      cursor: pointer;
      position: absolute;
      content: "";
      top: -25px;
      right: -10px;
      left: -10px;
      bottom: 0;
    }
  }

  &.single {
    &:after {
      // display: none;
    }
  }
}

.cashback-cat-icon {
  .item-media {
    img {
      width: 30px;
    }
  }
}

.cas-container {
  padding: 10px;
}

.cas-item {
  padding: 10px;
  border-radius: 3px;
  background: white;
  @extend .shadow-1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.cas-item-avatar {
  width: 52px;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid gray("200");
  @extend .shadow-1;

  .embed-responsive,
  .embed-responsive-img {
    background: white;
  }
  height: 52px;
  //   border-radius: 3px;
  //   padding: 3px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cas-item-content {
  flex: 1;
  min-width: 0;
  padding: 0 10px;
  .name {
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 1.2;
  }
  .desc {
    font-size: 13px;
    color: gray("600");
  }
  .loc {
    margin-top: 2px;
    font-size: 13px;
    color: gray("500");
    i {
      color: gray("400");
      vertical-align: -3%;
    }
  }
}

.cas-item-number {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px dashed gray("300");
  color: gray("600");
  font-size: 11px;
  line-height: 1.1;
  text-align: center;
  padding-top: 4px;
  span {
    margin-top: 3px;
    display: block;
    font-size: 1.15em;
  }

  &.big {
    width: 60px;
    height: 60px;

    @extend .shadow-1;
    padding-top: 3px;
    background: white;
    span {
      margin-top: 3px;
      display: block;
      font-size: 1.35em;
    }
  }
}

.cas-view-more {
  color: gray("900");
  // background: gray("300");
  .page-content {
    background: gray("100");
  }
  .swipe-handler {
    background: gray("100");
  }
}

.cas-address-navi {
  display: block;
  position: relative;
  cursor: pointer;
  &:before {
    cursor: pointer;
    position: absolute;
    content: "";
    top: -5px;
    right: -10px;
    left: -25px;
    bottom: -25px;
  }
}

.cas-quickview {
  margin-top: 15px;

  .cas-item-number {
    width: 60px;
    height: 60px;

    @extend .shadow-1;
    padding-top: 3px;
    background: white;
    span {
      margin-top: 3px;
      display: block;
      font-size: 1.35em;
    }
  }
}

.cas-quickview-heading {
  padding-left: 10px;
  padding-right: 10px;
}

.cas-quickview-title {
  font-size: 18px;
  font-weight: bold;
}

.cas-quickview-sub {
  font-size: 13px;
  color: gray("500");
  margin-top: 3px;
  line-height: 1.2;
}

.cas-heading-container {
  padding-top: 15px;
  padding-bottom: 15px;
  @extend .shadow-1;
}

.cas-heading {
  padding-left: 10px;
  padding-right: 10px;
}

.cas-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.cas-heading-cat {
  padding: 0px 10px;
  display: inline-block;
  height: 18px;
  line-height: 17px;
  margin-bottom: 3px;
  font-size: 12px;
}

.cas-sub {
  font-size: 13px;
  color: gray("700");
  margin-top: 2px;
  line-height: 1.2;
}

.cas-cat {
  font-size: 13px;
  color: gray("700");
  margin-top: 2px;
  line-height: 1.2;
}

.cas-lo {
  font-size: 13px;
  color: gray("500");
  margin-top: 5px;
  line-height: 1.2;
}

.popup-smartselect {
  //   --f7-popup-border-radius: 15px 15px 0 0;
  //   --f7-popup-tablet-border-radius: 15px;
  //   --f7-page-bg-color: #fff;
  //   --f7-block-strong-border-color: transparent;
  height: 400px;
  top: auto;
  bottom: 0;
}

.popup-smartselect .page-content {
  // padding-top: 0;
  // padding-bo
  .list {
    margin: 0;
  }
}

.cashback-filter-single {
  margin: 0 8px;
  border-radius: var(--f7-card-border-radius);
  // border: 1px solid gray("300");
  overflow: hidden;
  box-shadow: var(--f7-card-box-shadow);
  .cashback-filter {
    border-top: none;
    border-bottom: none;
    position: relative;
    top: 0;
    .cashback-filter-item:last-child {
      &:after {
        display: none;
      }
    }
  }
  .cashback-filter-item{
    // padding: 5px 15px;
  }
}

.cas-address-list.list .item-content{
  padding-left: 10px;
}
// Maneki Neko Deli


//CASH BACK NEW


.cbsd-thumb{
  .avatar{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 20;
  }
}

.cbsd-heading-container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.cbsd-heading{
 
}

.cbsd-title{
  padding-right: 15px;
}

.cbsd-sub{
  color: gray("600");
  font-size: 14px;
  padding-right: 15px;
}

.cbsd-value {
  
  text-align: right;
  .name {
    color: $pink-hot;
  }
  .sub {
    font-size: 14px;
    color: gray("600");
  }
}


.cbsd-list{
  margin-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: gray("700");
  font-size: 14px;
  .list-inline-item:not(:first-child){
    margin-left: 20px;
  }
}


.mm-viewmore{
  a{
    font-size: 16px;
  }
}

.cbsd-info{
  padding-top: 15px;
  border-top: 1px solid gray("100");
}

.cbsd-loca-filter{
  margin-top: -5px;
}

.cbsd-address-list{
  margin: 15px 0 !important;
  padding: 0 15px !important;
  border-radius: 5px;
  background: gray("100");
  ul{
    background: transparent;
  }
  .item-content{
    padding-left: 0;
  }
  .item-inner{
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.cbsd-address-name{
  font-weight: 600;
  font-size: 15px;
}

.cbsd-address-detail{
  font-size: 12px;
  color: gray("500");
  margin-top: 6px;
}

.cbsd-address-navi{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background: rgba($primary, 0.1);
}