.contact__grid {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.contact__list {
  background-color: white;
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &.is-less {
    border: 1px solid gray("200");
    border-radius: 5px;

    .contact__item:not(:last-child) {
      margin-bottom: 0;
      &:after {
        content: "";
        height: 1px;
        width: auto;
        left: 60px;
        right: 0;
        bottom: 0;
        position: absolute;
        background-color: gray("200");
      }
    }
    .contact__item {
      border: none;
    }
  }
}

.contact__item {
  border: 1px solid gray("200");
  padding: 10px;
  border-radius: 5px;
  position: relative;
  // &:nth-child(5n+1) {
  //   .contact__avatar {
  //     background-color: #e91e63;
  //   }
  // }
  // &:nth-child(5n+2) {
  //   .contact__avatar {
  //     background-color: #9c27b0;
  //   }
  // }
  // &:nth-child(5n+3) {
  //   .contact__avatar {
  //     background-color: #ff5722;
  //   }
  // }
  // &:nth-child(5n+4) {
  //   .contact__avatar {
  //     background-color: #3f51b5;
  //   }
  // }
  // &:nth-child(5n+5) {
  //   .contact__avatar {
  //     background-color: #009688;
  //   }
  // }
}
.contact__avatar {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: gray("200");
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 16px;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  &.is-pink {
    background-color: rgba(240, 59, 160, 0.6);
  }
  &.is-purple {
    background-color: rgba(#9e44ed, 0.6);
  }
  &.is-orange {
    background-color: rgba(#fd7b13, 0.6);
  }
  &.is-blue {
    background-color: rgba(#4286f5, 0.6);
  }
  &.is-teal {
    background-color: rgba(#4286f5, 0.6);
  }
}

.contact__info {
  flex: 1;
  min-width: 0;
}

.contact__name {
  font-weight: 500;
}
.contact__phone {
  color: gray("500");

  font-size: 14px;
  line-height: 22px;
}

.contact__function {
  opacity: 0.7;
  white-space: nowrap;
  a {
    width: 36px;
    line-height: 44px;
    height: 44px;
    display: inline-block;
    color: gray("600");
    text-align: right;

    i {
      font-size: 26px;

      line-height: 44px;
    }

    img {
      width: 26px;
      padding-top: 9px;
    }
  }
}

.process-step {
  display: flex;
  margin-left: -2px;
  margin-right: -2px;
  flex-wrap: nowrap;
  width: 100%;
}

.process-step__item {
  display: block;
  margin: 0 2px;
  background-color: gray("300");
  border-radius: 5px;
  height: 4px;
  flex: 1 1 0px;

  &.is-active {
    background-color: $blue;
  }
}
