.mdona-check {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: -4px;
  margin-right: -4px;
}
.mdona-item {
  border-radius: 8px;
  border: solid 1px rgba(199, 199, 205, 0.8);
  background-color: white;
  text-align: center;
  padding: 0 15px;
  height: 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &.is-active {
    box-shadow: 0 4px 12px 0 rgba(42, 49, 53, 0.2);
    border: solid 2px $color-momo-2;
    .mdona-money {
      color: $color-momo-2;
    }
    &:after,
    .mdona-check-icon {
      opacity: 1;
    }
  }

  &:after {
    content: "";
    width: 30px;
    height: 15px;
    background: $color-momo-2;
    position: absolute;
    top: -6px;
    left: -10px;
    transform: rotate(-45deg);
    opacity: 0;
  }
}

.mdona-check-icon {
  opacity: 0;
  position: absolute;
  font-size: 10px;
  color: white;
  top: -2px;
  left: -2px;
  z-index: 1;
  .f7-icons {
    font-size: 14px;
  }
}

.mdona-col {
  flex: 0 0 percentage(4/12);
  padding: 0 4px;
}

.mdona-money {
  font-size: 16px;
  font-weight: bold;
}

.mdona-money-label {
  font-size: 12px;
}

.mdona-input-money {
  display: block;
  width: 100%;

  input {
    font-size: 16px;
    font-weight: bold;
    background: gray("200");
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    width: 100%;
    border: none;
    outline: none;
    &::placeholder {
      color: gray("500");
      font-weight: normal;
    }
    border: 1px solid gray("200");
  }

  &.is-wrong {
    input {
      border-color: rgba(theme-color("danger"), 0.5);
    }
  }

  &.is-success {
    input {
      border-color: rgba(theme-color("success"), 0.5);
    }
  }
}
.mdona-title {
  font-size: 20px;
}

.dona-hero-img {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.dona-rule-check {
  bottom: 0;
  padding: 10px 16px;
  font-size: 13px;

  .form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
  }
  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
  }
  .form-check-label {
    margin-bottom: 0;
  }
}
.dona-list-detail {
  --f7-list-item-after-font-size: 15px;
}

.dona-history {
  padding: 10px 0;
}

.dona-history-item {
  border-radius: 5px;
  padding: 10px;
  background-color: #f1f9ea;
  margin-bottom: 10px;
}

.dona-change-select {
  .dona-change-item:not(:last-child) {
    margin-bottom: 5px;
  }
}

.dona-change-select {
  padding: 10px 8px;
}

.dona-change-item {
  position: relative;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  &.is-active {
    background-color: #edf6fe;
    .mdona-change-icon {
      opacity: 1;
    }
  }
}

.mdona-change-icon {
  opacity: 0;
  position: absolute;
  right: 7px;
  top: 10px;
  i {
    font-size: 20px;
    color: theme-color("success");
  }
}

.campaign-people {
}

.campaign-people-list {
  // margin-bottom: 10px;
  margin-top: 5px;
  .campaign-people-item:not(:last-child) {
    // margin-bottom: 10px;
    border-bottom: 1px solid gray("100");
  }
}

.campaign-people-more {
  border-top: 1px solid gray("100");
  padding-top: 10px;
}

.campaign-people-item {
  padding: 8px 0 8px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 14px;

  .campaign-people-avatar + .campaign-people-info {
    padding-left: 10px;
  }
}

.campaign-people-avatar {
  width: 35px;
  height: 35px;
  flex: 0 0 35px;
  line-height: 35px;
  font-size: 15px;
  color: gray("600");
  border-radius: 50%;
  background-color: gray("200");
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  &.is-image {
    background: transparent;
    border-radius: 0;
  }

  &.is-avatar {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.is-small {
    width: 24px;
    height: 24px;
    font-size: 11px;
    flex: 0 0 24px;
    line-height: 24px;
  }

  &.is-pink {
    background-color: $color-momo-light;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
  }

  + .campaign-people-avatar {
    margin-left: 10px;
  }
}

.campaign-people-name {
  color: gray("900");
  font-weight: 600;
  margin-bottom: 3px;
  padding-top: 3px;
}

.campaign-people-info {
  padding: 0 15px 0 0;
  flex-grow: 1;
}

.campaign-people-phone {
  color: gray("500");
  font-size: 12px;
}

.campaign-people-money {
  color: gray("900");
  font-weight: 600;
  white-space: nowrap;
}

.icon-heovang {
  position: relative;
  top: -2px;
  padding-left: 4px;
  vertical-align: middle;
}

.toggle--small {
  --f7-toggle-width: 42px;
  --f7-toggle-height: 22px;
  --f7-toggle-border-color: #e5e5e5;
  --f7-toggle-inactive-color: #fff;
}

.campaign-people-list {
  // margin-bottom: 10px;
  .campaign-people-comment:not(:last-child) {
    // margin-bottom: 10px;
    border-bottom: 1px solid gray("100");
  }
}
.campaign-people-comment {
  margin-top: -2px;
  padding-bottom: 8px;
  // border-bottom: 1px solid gray("200");

  .content {
    border-radius: 5px;
    background-color: gray("100");
    padding: 7px 18px;
    font-size: 11px;
    position: relative;
    &:after,
    &:before {
      content: "";
      background: url("../images/donation/quote.svg");
      width: 10px;
      height: 10px;
      position: absolute;
      top: 4px;
      left: 4px;
    }
    &:before {
      left: auto;
      right: 4px;
      top: auto;
      transform: rotate(180deg);
      bottom: 4px;
    }
  }
}

.setting__more {
  width: 50px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: gray("500");
  cursor: pointer;
  &:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 0;
  }
}
