.embed-responsive-hdh {
  background-color: #3a6a39;
  background-repeat: no-repeat;
  background-size: cover;
}

.embed-responsive-hdh::before {
  padding-top: percentage(540/750);
}
.hdh-question {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 44px;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  padding: 15% 11% 20%;

  display: flex;
  flex-flow: column nowrap;
}

.hdh-question-number {
  padding: 15px 10px 5px;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: white;
}

.hdh-question-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  font-size: 18px;
  line-height: 26px;
  color: white;

  @include media-breakpoint-ip5() {
    font-size: 15px;
    line-height: 24px;
  }
}

.hdh-box {
  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: -10px;
  position: relative;
  z-index: 2;
  padding: 15px;
  position: relative;
}

.hdh-gram {
  border-radius: 30px;
  background: #f5f5f5;
  font-size: 14px;
  line-height: 14px;
  color: #71a445;
  font-weight: bold;
  padding: 12px 15px 12px 45px;
  position: relative;
  min-width: 130px;
  .icon {
    position: absolute;
    left: 10px;
    top: 5px;
  }
}

.hdh-choice {
  padding: 25px 0;

  &.is-bottom {
    padding-bottom: 100px;
  }
}

.hdh-choice-item {
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #71a445;
  border-radius: 8px;
  min-height: 50px;
  text-align: center;
  padding: 10px 15px;

  &.is-active {
    background: #71a445;
    color: white;
  }

  &.is-focus {
    border: 3px solid #9fe166;
  }
}

.sheet-modal-round {
  background: transparent;
  &:before {
    display: none !important;
  }
  .sheet-modal-inner {
    box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
  }
}

#heoAnimation {
  background-image: url(../images/heo/heo-animation-sprite.png);
}
/*
.heoAnimate {
  width: 100px;
  height: 108px;
  // position: absolute;
  // bottom: 40px;
  // left: 50%;
  background-size: auto 108px;
  animation: runner 4s steps(29) infinite;
  position: absolute;
  bottom: -30px;
  left: 10px;
}

@keyframes runner {
  50% {
    background-position: -2900px;
  }
  100% {
    background-position: -2900px;
  }
} */

.heoAnimate-hand {
  position: absolute;
  top: -12px;
  left: 17px;
  width: 57px;
  z-index: 1;
}

.pigstudy-container {
}

.pigstudy {
  width: 100px;
  // position: relative;
  position: absolute;
  bottom: -34px;
  left: 10px;
}

.pigstudy-component {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pigstudy-mui {
  width: 20%;
  left: 23%;
  top: 34%;
}

.pigstudy-bg-mui {
  width: 29%;
  left: 18.6%;
  top: 32.3%;
}


.pigstudy-mat {
  width: 45%;
  left: 17%;
  top: 23.5%;
}

.pigstudy-eyebrow-left{
  width: 9%;
  left: 13.6%;
  top: 9%;
}


.pigstudy-eyebrow-right{
  width: 9%;
  left: 56%;
  top: 9%;
}