.htu-swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    position: relative;
  }

  .swiper-pagination-fraction {
    bottom: 0;
    padding: 8px 15px;
    //background: rgba(gray("200"),0.9);
    font-size: 13px;
    color: gray("600");
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
}

.htu-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  color: #000;
}

.htu-content {
  width: 100%;
  will-change: scroll-position;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

.htu-mockup {
  background: gray("200");
}

.htu-mockup-slider {
  width: 240px;
  height: 387px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7px 15px 0;

  @include media-breakpoint-ip5() {
    width: 200px;
    height: 324px;
    margin: 0 auto;

    padding: 9px 14px 0;
  }
}

.htu-mockup-txt {
  font-size: 16px;

  background: white;

  padding: 30px 20px;

  @include media-breakpoint-ip5() {
    padding: $grid-gutter-width/2;
    font-size: 14px;
  }
}

.htu-mockup-body {
  color: gray("600");
}

.htu-mockup-more {
  height: 320px;
  width: 100%;
  position: relative;

  margin: 20px 0 20px;
}

.htu-mockup-item {
  display: block;
  background: gray("300");
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate3d(0, 0, 0);
  &.i1 {
    width: 180px;
    height: 320px;
    position: relative;
    margin: 0 auto;
    z-index: 3;
  }

  &.i2 {
    width: 120px;
    height: 213px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin-left: -80px;
  }

  &.i3 {
    width: 120px;
    height: 213px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin-left: 80px;
  }
}

.htu-navigation-btn {
  outline: none;
  width: 34px;
  height: 34px;
  line-height: 36px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  color: gray("100");
  padding: 0;
  margin-top: -17px;
  top: 193px;

  display: flex;
  align-items: center;
  justify-content: center;
  &:after {
    font-size: 18px;
    height: auto;
  }
  &.swiper-button-next {
    padding-left: 2px;
  }

  &.swiper-button-prev {
    padding-right: 2px;
  }

  @media (max-width: 320px) {
    top: 162px;
  }
}

.sheet-htu-bank {
  height: 85vh;
}



.tab-pri {
  padding: 0 10px;
  background-color: white;
  position: absolute;
  top: 49px;
  left: 0;
  right: 0;
  z-index: 5;
  &:after {
    content: "";
    display: block;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
    top: 0;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

.tab-pri__body {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid gray("300");
  &::-webkit-scrollbar {
    display: none
  }
}

.tab-pri__item {
  font-size: 13px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: inline-block;

  a {
    color: gray("500");
    display: block;
    padding: 12px 25px;
    position: relative;
    &:after {
      content: "";
      display: block;
      // width: 0;
      // transition: width 0.35s ease-in-out;
      transition: all 0.2s ease-in-out;
      position: absolute;
      opacity: 0;
      height: 3px;
      background-color: $color-momo;
      bottom: -1px;
      left: 0;
    }
  }

  .tab-link-active{
    color: gray("900");
    &:after {
      width: 100%;
      opacity: 1;
    
    }
  }
}

.tab-pri__htuBank{
  // .toolbar{
  //   position: fixed;
  //   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  // }

  .page-content{
    overflow: hidden;
  }

  .toolbar + .tab-pri__content{
    // padding-bottom: 60px;
  }
}

.tab-pri__wrap{
  display: flex;
  height: 100%;
  padding-top: 44px;
  flex-flow: column nowrap;

  .toolbar{
    flex-shrink: 0;
  }

}



.tab-pri__content{
  // margin-top: 44px;
  padding: 16px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
    background-color: #fff;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;


  
}

.swiper-htuBank{
  --f7-theme-color: #{$color-momo};
  padding-bottom: 40px;
  .swiper-pagination{

  }

 
}