.qg-segment{
  position: relative;
  display: flex;
  width: 100%;
  background: gray("200");
  color: gray("600");
  border-radius: 5px;
  height: 100%;
}

.qg-segment-item{
  flex: 0 0 50%;
  width: 50%;
  padding: 10px 10px;
  color: gray("600");
  font-size: 12px;
  font-weight: bold;
  position: relative;
  &.tab-link-active{
    color: gray("900");
    &:after{
      opacity: 1;
    }
  }
  &:after{
    transition: opacity 0.1s ease-in;
    content :"";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    background: white ;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
  }
}

.qg-page{
  --f7-subnavbar-height: 50px;
  --f7-subnavbar-link-color: #{gray("600")};
}

.qg-subnavbar{
  
  background: white;
  .subnavbar-inner{
    padding:7px 10px;
    
  }
  &:after, &:before{
    display: none;
  }
}

.dona-qg-cp{
  margin: 0 0 15px 0;
}

.dona-qg-cp-pd{
  padding: 6px;
  padding-bottom: 40px;
}

.dona-qg-cp-result{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  padding: 6px;
  line-height: 1.1;
}

.dona-qg-cp-status{
  padding: 2px 5px;
  position: absolute;
  border-radius: 15px;
  bottom: 5px;
  right: 5px;
  background-color: rgba($color-momo, 0.9);
  color: white;
  font-size: 9px;
  &.is-completed{
    background-color :rgba(#7eb54a, 0.9);
  }
}

.dona-qg-empty{
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}