.referral-swiper {
  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: white;
    }
  }
}



.embed-responsive-referral {
  &::before {
    padding-top: percentage(54/108);
  }
}

#inputCode {
  left: 0;
}
.referral-code {
  border-radius: 5px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background: gray("200");
  .copy-popover {
    padding: 4px 10px 4px 36px;
  }
  &.code {
    max-width: 200px;
  }
}
.referral-code-txt {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 15px;
}

.referral-code-btn {
  height: 100%;
  background: $color-momo;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  a {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none !important;

    color: white !important;
  }
}

.referral-gift {
  position: relative;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px,
    rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.mm-highlight {
  background-color: lighten($color-momo, 57%);
  border-top: 1px solid gray("200");
  border-bottom: 1px solid gray("200");
  // border: none;
  // padding: 0 0 20px;
  // margin: 0;
}

.referral-gift-highlight {
  position: relative;
  background: white;

  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  .referral-gift-name {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px 0;
  }

  .referral-gift-desc {
    font-size: 13px;
    color: gray("600");
    margin-top: 5px;
    padding: 0px 10px 10px;
  }
}

.referral-code-phone {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.referral-social {
  line-height: 0;
}

.referral-social-item {
  display: inline-block;
  margin-right: 5px;
}

.toolbar-referral {
  .referral-code {
    height: 34px;
  }
}

.swiper-item-referral {
  padding: 0 15px;
  .swiper-slide {
    width: 65%;

    .cbs-item-sm:last-child {
      margin-bottom: 0;
    }
  }
}

.referral-gift-name {
  font-size: 15px;
  //margin-top: 8px;
  padding: 10px 14px;
}

.referral-gift-detail {
  color: gray("700");
}

.htu-bank {
  display: flex;
  flex-flow: row wrap;
  margin-left: -3px;
  margin-right: -3px;
  overflow: hidden;
  justify-content: center;
  padding: 10px 0;
}

.htu-bank-col {
  flex: 0 0 auto;
  padding: 0 4px;
  text-align: center;
}

.htu-bank-item {
  width: 62px;
  height: 55px;
  position: relative;
  background: white;
  margin: 0 auto 8px;
  border-radius: $border-radius;
  padding: 4px 6px 20px;
  font-size: 10px;
  text-align: center;
  border: 1px solid gray("300");
  div {
    @include text-truncate();
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 0;
  }

  img {
    width: 25px;
    margin-bottom: 4px;
  }
}

.referral-qr {
  margin: -13px -13px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.cas-htu-popup.popup-swipe-round {
  .page-content {
    padding-top: 48px;
  }
}

.referral-popup,
.cas-htu-popup {
  .navbar-inner {
    .popup-close {
      position: relative;
      z-index: 9;
      transform: translate3d(0, 0, 0);
      &:after {
        content: "";
        position: absolute;
        width: 80px;
        outline: none;
        height: 100%;
        left: -10px;
        top: 0;
        bottom: -20px;
      }
    }
  }
}

.page-content {
  //scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.bg-sha {
  background-color: #fafdff;
}

.accordion-referral {
  .accordion-item {
    margin-bottom: 10px;
    .item-content {
      border-radius: 5px;
      padding-left: 15px;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px,
        rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
    }
  }
  .accordion-item-content {
    background: #ececec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .item-link .item-inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  ul:after,
  ul:before,
  a:after,
  .item-inner:after,
  li:after {
    display: none;
  }
  ul {
    background: transparent;
  }
  ul.steps {
    margin-top: 15px;
  }
  .step-link {
    font-size: 14px;
  }
  .step-item {
    width: 100%;
    position: relative;
  }
  .step-number {
    background: white;
    color: $color-momo;
    font-weight: bold;
  }
  .steps-vertical .step-item:not(:last-child):before {
    background: gray("400");
    top: 26px;
  }

  .step-title {
    p {
      margin: 0;
    }

    margin-right: 15px;
  }

  .steps-vertical .step-item:not(:last-child) {
    //padding-bottom: 10px;
    .step-title {
      //margin-right: 15px;
    }

    .step-link {
      width: 100%;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        height: 0;
        left: 43px;
        right: 15px;
        bottom: -10px;
        border-bottom: 1px dashed gray("400");
      }
    }
  }
}
.giftrefe__wrap {
  text-align: center;
  margin-top: 10px;
  // border-radius: 10px;
  // background-color: $color-momo;
  // border: 1px dashed gray("400");
  display: block;
  padding: 10px 20px;

  border-radius: 8px;
  border: 1px dashed #d0021b;
  background-color: #fff4f6;
  background-image: url("../images/oval.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top right;
}

.giftrefe__label {
  font-size: 13px;
  color: gray("900");
  text-transform: uppercase;
  font-weight: bold;
}

.giftrefe__val {
  font-size: 28px;
  font-weight: bold;
  // background-color: $color-momo;
  color: $color-momo;
  // color: white;
  padding-top: 0px;
  // border-radius: 20px;
}

.giftrefe__meta {
  border-top: 1px solid gray("300");
  border-bottom: 1px solid gray("300");
  padding: 13px 0;

  .giftrefe__meta__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.giftrefe__meta__item {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  .f7-icons {
    color: $color-momo;
    position: absolute;
    font-size: 18px;
    top: 2px;
    left: 0;
  }
}

.bg-mm-light {
  background-color: #f5f5f7;
}
.mm-space {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.07);
  // &:nth-child(even){
  //   background-color: gray("100");
  // }
}

.mm-space-title {
  padding-top: 5px;
  display: flex;
  flex-flow: row nowrap;
}
.mm-space-name {
  flex: 1;
  padding-right: 15px;
}
.mm-space-sub {
  font-size: 16px;
}

.refFeature-content {
  padding: 20px;
}

.refFeature-card {
  background-color: white;
  margin: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.refFeature-step {
  background-color: gray("200");
  // background-color: rgba($color-momo, 0.07);
  // color: $color-momo;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  &.success {
    background-color: #219653;
    color: white;
    padding-left: 30px;
  }

  .f7-icons {
    font-size: 22px;
    position: absolute;
    left: 14px;
    top: 3px;
  }
}

.refFeature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 10px;
    padding-left: 35px;
    position: relative;
    color: gray("700");
    span {
      color: gray("900");
      font-weight: bold;
    }
  }

  .refFeature-list-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($pink, 0.1);
    position: absolute;
    left: 0;
    top: 0;

    svg {
      color: $pink;
      width: 16px;
    }
    &.green {
      background: rgb(131, 223, 204);
      background: linear-gradient(
        180deg,
        rgba(131, 223, 204, 1) 0%,
        rgba(79, 200, 171, 1) 100%
      );
      svg {
        color: white;
      }
    }
    &.red{
      background: rgb(248,149,152);
      background: linear-gradient(180deg, rgba(248,149,152,1) 0%, rgba(247,121,124,1) 100%);
      svg {
        color: white;
      }
    }
  }
}

.refFeature-content {
  .accordion-item-opened {
    .accordion-item-toggle {
      .open {
        display: none;
      }
      .close {
        display: inline-block;
      }
    }
  }
  .accordion-item-toggle {
    .open {
      display: inline-block;
    }
    .close {
      display: none;
    }
  }
}




//@at-root


.referral-feature-item{
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 180px;
}

.referral-feature-meta{
  position: absolute;
  z-index: 13;
  bottom: 0;
  left: 0;
  width: 100%;
  // background-color: rgba(255,255,255,0.6);
  background-color: rgba(0, 0, 0, 0.4);
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.15) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px);
  padding: 8px 14px;
  display: flex;
  align-items: center;
  color: white;
  flex-flow: row nowrap;
  height: 45px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.referral-feature-name{
  flex: 1;
  font-weight: bold;
  font-size: 16px;
}

.referral-feature-btn{
  .button{
    height: 27px;
    color: $pink;
    font-weight:bold;
    font-size: 12px;
    padding:0 15px;
    background-color: rgba(255,255,255,0.9);
  }
  .check{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    // background-color: rgba(255,255,255,1);
    background-color: #3CBA58;
    border: 1px solid white;
    justify-content: center;

    i{
      // color: #39CF57;
      color: white;
      font-size: 24px;
    }
  }
}

.referral-feature-img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-size: cover;
}

.referral-feature-detail{
  padding-bottom: 140px;
  ul{
    padding-left: 20px;
  }
  li{
    margin-bottom: 5px;
  }
}

.referral-feature-change{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 11;
  height: 130px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  border-top: 1px solid gray("300");
  background-color: rgba(255,255,255,0.3);

  backdrop-filter: blur(40px);
  .tt{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .button{
    width: 110px;
  }
}