.list-form {
  --f7-label-focused-text-color: #{$color-momo};
  // .item-floating-label{
  //     color: $color-momo;
  // }
}

.list-form-outline {
  ul:after {
    display: none;
  }

  .item-inner input {
    background: gray("200");
    padding-left: 15px;
    border-radius: 6px;
  }
  --f7-textarea-height: 60px;

  .item-inner textarea {
    background: gray("200");
    padding-left: 15px;
    border-radius: 6px;
    min-height: 58px;
  }
  
}

.item-input-lab {
  position: absolute;
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 16px;
  color: gray("500");
}

.item-input-wrap {
  &.have-lab {
    .input-clear-button {
      // margin-right: 20px;
      right: 10px;
    }
  }
}

.list-outline-label {
  font-size: 10px;
  font-weight: bold;
  color: gray("800");
  margin-bottom: 2px;
}


