.list-form.list {
  --f7-list-font-size: 15px;
  --f7-input-font-size: 15px;
  --f7-label-font-size: 11px;
  margin: 0 0 1rem;
  .item-inner {
    padding-right: 0;
    input {
      padding-right: 20px;
    }
  }
  .item-content {
    padding-left: 0;
  }
  ul {
    &:before {
      display: none;
    }
  }
}

.list.list-style1 {
  .item-title {
    color: gray("500");
    padding-right: 15px;
    flex-shrink: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: inherit;
    max-width: 100%;
  }

  .item-after {
    color: gray("900");
    flex-shrink: 1;
    // max-width: 70%;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }
  &.no-border-outside{
    ul:before, ul:after{
      display: none;
    }
  }
}


.color-cyan {
  color: #36bc99;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-format {
  li {
    position: relative;
    padding-left: 21px;
    &:after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 8px;
      background: gray("700");
    }
  }
  li:not(:last-child) {
    margin-bottom: 7px;
  }
}
