.logo-momo {
  display: block;
  width: 36px;
  cursor: pointer;
  img{
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 5px;
  }
}
.dona-momo-icon {
    display: block;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    padding: 0px 10px;
    border-radius: 6px;

    font-size: 28px;
    color: $color-momo;
}