.mm-navbar-search {
  --f7-navbar-bg-color: white;
  --f7-searchbar-bg-color: white;
  --f7-navbar-link-color: #{gray("900")};
  --f7-searchbar-link-color: #{gray("900")};
  --f7-searchbar-border-color: white;
  --f7-searchbar-input-font-size: 16px;
  --f7-searchbar-input-height: 48px;
  // --f7-navbar-height: 68px;
  --f7-navbar-height: 68px;
  --f7-searchbar-input-border-width: 1px;
  --f7-searchbar-input-bg-color: white;
  --f7-searchbar-input-border-color: #{gray("300")};
  --f7-searchbar-input-border-radius: 3px;

  --f7-searchbar-input-padding-horizontal: 18px;
  ~ * {
    --f7-page-navbar-offset: 68px;
    --f7-page-subnavbar-offset: 0px;
  }

  .mm-navbar-icon-search + input[type="search"],
  .mm-navbar-icon-search + input[type="text"] {
    padding-right: 50px;
  }

  .mm-navbar-link {
    z-index: 35;
    cursor: pointer;
  }
  .searchbar-disable-button {
    margin-left: 15px !important;
  }

  + .page-content {
    // padding-top: 130px;
    // --f7-page-navbar-offset: var(--f7-navbar-height) + 53px;
  }
}
.mm-font-nunito {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

.mm-navbar-icon-search {
  z-index: 40;
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray("500");
}

.mm-filter {
  display: block;
  white-space: nowrap;
  font-size: 0;

  background: white;

  width: 100%;

  width: 100%;
  z-index: 500;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  transform: translate3d(0, 0, 0);
  padding: 5px 16px 20px 16px;

  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;

  .mm-filter-item:not(:last-child) {
    margin-right: 10px;
  }
  // .mm-filter-item{
  //   display: inline-block;
  //   font-size: 14px;
  //   margin-right: 10px;
  // }
}

.mm-filter-item {
  display: inline-block;
  font-size: 14px;
}

.mm-filter-smart {
  .item-after {
    display: block;
    padding: 0;
    background: white;
    max-width: 100%;
    color: gray("900");
    @extend .text-truncate;
    padding-right: 13px;
    position: relative;
    font-size: 14px;
    background: gray("100");
    padding: 8px 35px 8px 15px;
    border-radius: 100px;
    border: 1px solid gray("100");

    &:after {
      position: absolute;
      content: "chevron_down";
      top: 10px;
      right: 10px;
      font-size: 16px;
      color: gray("700");
      @extend .framework7-icons;
    }
  }
  select {
    display: none;
  }
  &.is-active {
    .item-after {
      border: 1px solid gray("400");
    }
  }
}

.mm-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mm-section-title {
  padding-top: 15px;
  border-top: 1px solid gray("200");
  display: flex;
  flex-flow: row nowrap;
}
.mm-section-name {
  flex: 1;
  padding-right: 15px;
}
.mm-section-sub {
  font-size: 16px;
}

.mm-cat {
  white-space: nowrap;
  font-size: 0;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
  position: relative;
  .mm-cat-item {
    &:first-child {
      margin-left: #{$pron-gutter}px;
    }
    &:last-child {
      margin-right: #{$pron-gutter}px;
    }
  }
  .mm-cat-item {
    font-size: 14px;
    width: 90px;
    vertical-align: top;
    display: inline-block;
  }

  .mm-cat-item:not(:last-child) {
    margin-right: 5px;
  }
}

.mm-cat-thumb {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(180deg, gray("200") 0%, gray("100") 100%);
  // background: gray("200");
  border-radius: 50%;
  padding: 8px;
  margin: 0 auto;
}
.mm-cat-name {
  margin-top: 8px;
  white-space: normal;
  text-align: center;
}

.mm-cat-wrap {
  position: relative;
  &.is-show {
    .mm-cat-showmore {
      animation-name: isShow;
      animation-duration: 5s;
    }
  }
}

.mm-cat-showmore {
  width: 34px;
  border-radius: 5px;

  height: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  .f7-icons {
    font-size: 16px;
  }
  &.mm-cat-left {
    left: 10px;
    right: auto;
  }
  opacity: 0;
  cursor: none;
  pointer-events: none;
}

@keyframes isShow {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cbs-value {
  color: $pink-hot;
  text-align: right;
  .name {
    font-weight: bold;
  }
  .sub {
    font-size: 12px;
    color: gray("600");
    margin-top: 2px;
  }
}

.cbs-item-sm-con {
  padding: 0 10px;
  flex: 1;
  min-width: 0;
  .name {
    font-weight: bold;
  }
  .sub {
    font-size: 12px;
    color: gray("600");
    margin-top: 2px;
  }

  .address {
    font-size: 12px;
    color: gray("800");
    margin-top: 3px;
    i {
      font-size: 12px;
      color: gray("500");
    }
  }
}

.swiper-cbs-item-sm {
  padding-left: #{$pron-gutter}px;
  padding-right: #{$pron-gutter}px;
  .swiper-slide {
    width: 90%;

    .cbs-item-sm:last-child {
      margin-bottom: 0;
    }
  }
}

.cbs-item-sm {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px;
  background: gray("100");
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  // width: 230px;
  .avatar {
  }
}

.cbs-item-md {
  padding: 10px 10px;
  margin-bottom: 10px;
  .cbs-item-sm-con {
    padding: 0 13px;
  }
}

.cbs-feature {
}

.cbs-feature-cat {
  font-weight: 600;
  margin-top: 10px;
}

.cbs-feature-name {
  margin-top: 1px;
  padding-right: 15px;
}

.searchbar-not-found {
  text-align: center;
  padding: 100px 20px 50px;
  color: gray("500");
}

.search-preloader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 140px;
  z-index: 90999;
  margin: 20px auto;
}

.trending-search {
  margin: -10px 0 20px 0;
}
.trending-search .item-content {
  padding-left: 0;
}
