.avatar{
  border-radius: 5px;
  height: 50px;
  width: 50px;
  background: gray("200");
  box-sizing: border-box;
  // &.avatar-xs, &.avatar-sm{
  //     width: $spacer*2.25;
  //     height: $spacer*2.25;
  // }
  &.avatar-lg{
    height: 58px;
    width: 58px;
  }
  &.avatar-xl{
    height: 80px;
    width: 80px;
  }
}


