
.momo-pass-popup{
    height: 430px;
}
.momo-pass {
  text-align: center;
  padding: 30px 15px 5px;
  // background: gray("200");

  input {
    // width: 100%;
    // height: 100px;
    // padding: 20px;
    // font-size: 20px;
    // border: none;
    // text-align: center;
  }
}

.momo-pass-error{
    font-size: 12px;
    padding-top: 10px;
}

.momo-pass-sym {
  width: 180px;
  padding: 20px 30px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 50px;
  border: 1px solid gray("300");

  .sym {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray("300");
    &.is-active {
      background: gray("700");
    }
  }
}
