.popup-handler {
  --f7-popup-border-radius: 15px 15px 0 0;
  --f7-popup-tablet-border-radius: 15px;
  --f7-page-bg-color: #fff;
  --f7-block-strong-border-color: transparent;
  color: gray("900");
  --f7-navbar-bg-color: #fff;
  height: calc(100% - var(--f7-navbar-height) - var(--f7-statusbar-height));
  top: calc(var(--f7-navbar-height) + var(--f7-statusbar-height));
}

.sheet-pop-round {
  --f7-navbar-bg-color: white;
  --f7-navbar-text-color: #{gray("900")};
  --f7-navbar-link-color: #{gray("900")};
  --f7-sheet-bg-color: #fff;
  --f7-sheet-border-color: transparent;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  height: 400px;
  .navbar {
    border-bottom: 1px solid gray("300");
  }
  .page-content {
    padding-top: 0;

  }

  .toolbar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}


.sheet-pop-round .navbar+.sheet-modal-inner {
    // height: calc(100% - var(--f7-navbar-height) - 60px);
    height: calc(100% - var(--f7-navbar-height) );
}


.sheet-pop-round .toolbar+.sheet-modal-inner {
  // height: calc(100% - var(--f7-navbar-height) - 60px);
  padding-bottom: 60px;
}



.sheet-modal {
 
  .toolbar{
    // --f7-toolbar-bg-color: red;
  }
}

.dona-sheet-money{
  height: 470px;
}




.popup-swipe-round {
  --f7-popup-border-radius: 15px 15px 0 0;
  --f7-popup-tablet-border-radius: 15px;
  --f7-page-bg-color: #fff;
  --f7-block-strong-border-color: transparent;
  --f7-navbar-bg-color: #fff;
  --f7-navbar-link-color: #{gray("900")};
  --f7-bars-link-color: #{gray("900")};
  --f7-navbar-text-color: #{gray("900")};
  height: calc(100% - var(--f7-navbar-height) - var(--f7-statusbar-height) + 15px);
  top: calc(var(--f7-navbar-height) + var(--f7-statusbar-height) - 15px);
  .navbar{
    border-bottom: 1px solid gray("200");
  }
}

.popup-swipe-round .page-content {
  padding-top: 16px;
}

