// Brand Colors
$color-brand-01: #0168fa;
$color-brand-02: #042893;
$color-brand-03: #1ce1ac;

// Inverse Colors
$color-inverse-01: #001737;
$color-inverse-02: #1b2e4b;
// Text Colors
$color-text-01: $color-inverse-01;
$color-text-02: $color-inverse-02;
$color-text-03: #8392a5;
$color-text-04: #c0ccda;

// UI Colors
$color-ui-01: #f5f6fa;
$color-ui-02: #e5e9f2;
$color-ui-03: #c0ccda;
$color-ui-04: #8392a5;

.list ul.steps {
  margin: 10px 0 15px 10px;
}
.steps {
  margin: 10px 0 10px 10px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.step-item {
  display: inline-block;
  position: relative;
}

.step-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 15px;
  color: gray("800");

//   @include hover-focus() {
//     color: $primary;
//   }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12px;

    span {
      display: block;
    }
    .step-title {
      margin-left: 0;
    }
  }
}

.step-number {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 12px;
//   color: gray("600");
//   color: $color-momo;
  color: white;
  font-weight: 500;
//   background-color: gray("200");
background:$color-momo;
  @include border-radius(100%);
}

// .step-icon {
//   width: 36px;
//   height: 36px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-shrink: 0;
//   border: 2px solid $color-ui-04;
//   color: $color-ui-04;
//   @include border-radius(100%);

//   svg {
//     width: 20px;
//     height: 20px;
//   }
// }

.step-title {
  margin-left: 15px;
  width: auto;
  white-space: normal;
}

.step-desc {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: $color-text-03;
}

.steps-justified {
  display: flex;
  align-items: center;

  .step-item {
    flex: 1;

    + .step-item {
      &::before {
        display: none;
      }
    }
  }

  .step-link {
    width: 100%;
  }
}

.steps-tab {
  .step-item {
    + .step-item {
      margin-left: 1px;
      &::before {
        display: none;
      }
    }

  }

  .step-link {
    // background-color: lighten($gray-200, 4%);
    padding: 5px 7px;

    @include media-breakpoint-up(sm) {
      padding: 8px 15px;
    }
  }
}

.steps-vertical {
  display: flex;
  flex-direction: column;

  .step-item {
  
    &:not(:last-child) {
        margin-left: 0;
        padding-bottom: 20px;
      &:before {
        content: "";
        position: absolute;
        top: 30px;
        left: 13px;
        width: 1px;
        background-color:   rgba($color-momo, 0.2);
        display: block;
        height: 100%;
      }
    }
  }

  .step-title {
    width: auto;
    white-space: normal;
  }

  &.steps-tab {
    .step-item + .step-item {
      margin-top: 1px;
    }
  }

  &.steps-sm {
    .step-item + .step-item::before {
      left: 12px;
    }
  }
}
