// .toolbar-large{
//     height: 70px;
// }

// .page .toolbar-large + .page-content{
//     padding-bottom: 70px;
// }

// .toolbar-inner{
//     .button-large, a.link.button-large{
//         height: 50px;
//         font-size: 20px;
//         line-height: 50px;
//     }
//     .row{
      
//     }
// }


.toolbar-large{
    height: 58px;
}

.page .toolbar-large + .page-content{
    padding-bottom: 56px;
}
.toolbar-inner{
    .button-large, a.link.button-large{
        height: 44px;
        font-size: 15px;
        line-height: 44px;
        font-weight: bold;
    }
    .row{
      
    }
}
.toolbar-medium{
    height: 58px;
}
.page .toolbar-medium + .page-content{
    padding-bottom: 58px;
}

.toolbar-inner-md{
    .button-large, a.link.button-large{
        height: 44px;
        font-size: 15px;
        line-height: 44px;
        font-weight: bold;
    }
}