
@mixin vertical-align($number, $inc, $unit: 1%) {
  @for $i from 1 through $number {
    .va-#{$i * $inc} {
      vertical-align: -#{$i * $inc * $unit}  ; 
    }

    .va#{$i * $inc} {
      vertical-align: #{$i * $inc * $unit} ;
    }
  }
}

@include vertical-align(3,5);
