<template>
  <div class="page  mm-font-nunito" data-name="home">


    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a class="col button button-fill button-large color-gray link back ">Quay lại</a>

            <button class="col button button-fill button-large color-pink  ">Sử dụng
            </button>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content bg-white mm-type">

      <div class="cbsd-thumb">
        <div class="embed-responsive embed-responsive-cb ">

          <div class="avatar avatar-xl border overflow-hidden bg-white shadow-1">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190716160716-636988900361273776.jpg"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190716160716-636988900363900978.jpg"
            class="img-fluid  lazy embed-responsive-img" alt="Ước mơ của Thúy">
        </div>
      </div>

      <div class="pron-container balance cbsd-heading-container">
        <div class="pron-row no-gutters ">

          <div class="pron-col">
            <div class="cbsd-heading">

              <h1 class="cbsd-title font-weight-bold h4 mt-0 mb-1 ">
                Maneki Neko Deli
              </h1>
              <div class="cbsd-sub">
                Nhà Hàng Ẩm Thực Nhật Bản
              </div>

              <ul class="list-inline cbsd-list">
                <li class="list-inline-item">
                  <i class="f7-icons lutie-16 ">placemark</i> 13 địa điểm
                </li>

                <li class="list-inline-item">
                  <a href="" class="font-weight-bold">Nhà Hàng</a>
                </li>
              </ul>




            </div>

          </div>

          <div class="pron-col auto">
            <div class="cbsd-value">
              <div class="font-weight-bold h4 name  mt-0 mb-1">
                50%
              </div>
              <div class="sub">
                hoàn tiền
              </div>
            </div>


          </div>

        </div>
      </div>


      <div class="pron-container balance">

        <div class="pron-section pron-container">

          <div class="cbsd-info">

            <div class="js-pron-viewmore  active">
              <div class="js-pron-viewmore-content mb-2 is-170 is-white">
                <div class="izlude-cbs-sale">
                  <strong>Chi tiết ưu đãi:</strong><br>
                  Hoàn tiền 50% tối đa 50.000đ trên tổng hóa đơn (duy nhất ngày 1/11/2019)<br>
                  <br>
                  <strong>Điều kiện và điều khoản:</strong><br>
                  - Chỉ áp dụng cho lần thanh toán đầu tiên của khách hàng trong ngày 1/11/2019<br>
                  - Những lần thanh toán tiếp theo, áp dụng tỷ lệ hoàn tiền mặc định của cửa hàng tiện lợi.<br>
                  - Áp dụng cho các khách hàng đang liên kết ngân hàng với MoMo<br>
                  - Không được cộng gộp với ưu đãi hoặc thẻ quà khác<br>
                  - Ưu đãi có hạn và có thể kết thúc sớm hơn thời gian dự tính

                  <div class="">• &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo</div>
                </div>
              </div>
              <div class="js-pron-viewmore-btn mm-viewmore">

                <div class="pt-2 pb-0">
                  <a href="#" class=" open">Xem thêm <i class="f7-icons">chevron_down</i> </a>

                  <a href="#" class="close">Rút gọn <i class="f7-icons">chevron_up</i>
                  </a>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="mm-section  ">
        <div class="pron-container balance">
          <div class="mm-section-title">
            <h3 class="h5 mt-0 mm-section-name">
              Danh sách cửa hàng (228)
            </h3>

          </div>


          <div class="mm-filter cbsd-loca-filter p-0 pb-3">

            <div class="mm-filter-item">
              <div class="mm-filter-smart is-active">
                <a href="#" data-popup=".cas-location-popup" class="popup-open item-after ">TP. HCM </a>
              </div>


            </div>

            <div class="mm-filter-item">

              <a class="mm-filter-smart smart-select smart-select-init" data-open-in="popup" data-close-on-select="true"
                data-popup-close-link-text="Đóng" data-page-title="Chọn Quận huyện" data-css-class=" popup-smartselect">

                <select name="sapxep">
                  <option value="mac" selected>Chọn Quận/ Huyện</option>
                  <option value="mac">Quận 1</option>
                  <option value="windows">Quận 2</option>
                  <option value="windows">Quận 3</option>
                  <option value="windows">Quận 4</option>
                  <option value="windows">Quận 5</option>
                  <option value="windows">Quận 6</option>
                  <option value="windows">Quận 7</option>
                  <option value="windows">Quận 8</option>
                  <option value="windows">Quận 9</option>
                  <option value="windows">Quận 10</option>
                  <option value="windows">Quận 11</option>
                  <option value="windows">Quận 12</option>
                </select>
                <div class="item-title"></div>
              </a>

            </div>


          </div>

          <div class=" lutie-14">
            13 cửa hàng tại <span class="text-momo font-weight-bold">Quận 7 - TP. Hồ Chí Minh</span>
          </div>

          <div class="list media-list inset  cbsd-address-list ">
            <ul class="">
              <li>
                <div class="item-content ">
                  <div class="item-inner">

                    <div class="pron-row no-gutter align-items-center">
                      <div class="pron-col">
                        <div class="text-truncate cbsd-address-name ">Maneki Neko Deli Vivo City</div>
                        <div class="cbsd-address-detail text-truncate">
                          <i class="f7-icons lutie-14 ">placemark</i>
                          104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                          Chí Minh
                        </div>
                      </div>
                      <div class="pron-col auto">
                        <a href="momo.vn" class="lutie-13 link external cbsd-address-navi"><i
                            class="f7-icons lutie-15">navigation_fill</i> </a>
                      </div>
                    </div>

                  </div>
                </div>
              </li>

              <li>
                <div class="item-content ">
                  <div class="item-inner">

                    <div class="pron-row no-gutter align-items-center">
                      <div class="pron-col">
                        <div class="text-truncate cbsd-address-name ">Maneki Neko Deli Vivo City</div>
                        <div class="cbsd-address-detail text-truncate">
                          <i class="f7-icons lutie-14 ">placemark</i>
                          104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                          Chí Minh
                        </div>
                      </div>
                      <div class="pron-col auto">
                        <a href="momo.vn" class="lutie-13 link external cbsd-address-navi"><i
                            class="f7-icons lutie-15">navigation_fill</i> </a>
                      </div>
                    </div>

                  </div>
                </div>
              </li>

              <li>
                <div class="item-content ">
                  <div class="item-inner">

                    <div class="pron-row no-gutter align-items-center">
                      <div class="pron-col">
                        <div class="text-truncate cbsd-address-name ">Maneki Neko Deli Vivo City</div>
                        <div class="cbsd-address-detail text-truncate">
                          <i class="f7-icons lutie-14 ">placemark</i>
                          104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                          Chí Minh
                        </div>
                      </div>
                      <div class="pron-col auto">
                        <a href="momo.vn" class="lutie-13 link external cbsd-address-navi"><i
                            class="f7-icons lutie-15">navigation_fill</i> </a>
                      </div>
                    </div>

                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="mt-3 pb-0 mb-0 text-left ">
            <a href="#" class=" ">Xem
              thêm 12 chi nhánh</a>
          </div>


        </div>

      </div>


      <div class="mm-section  ">
        <div class="pron-container balance">
          <div class="mm-section-title">
            <h3 class="h5 mt-0 mm-section-name">
              Hướng dẫn thanh toán
            </h3>


          </div>
        </div>

        <div class="htu-mockup-more  bg-transparent position-relative">

          <a href="#" data-popup=".cas-htu-popup" class="popup-open link-absolute"></a>

          <div class="htu-mockup-item i1"
            style="background-image: url('https://static.mservice.io/img/momo-upload-api-191008171059-637061514597580950.png')">

          </div>
          <div class="htu-mockup-item i2"
            style="background-image: url('https://static.mservice.io/img/momo-upload-api-191008171113-637061514736041034.png')">

          </div>
          <div class="htu-mockup-item i3"
            style="background-image: url('https://static.mservice.io/img/momo-upload-api-191008171135-637061514957710214.png')">

          </div>
        </div>


        <div class="mt-2 pb-0 mb-0 text-center ">
          <a href="#" data-popup=".cas-htu-popup"
            class="popup-open  button button-outline button-round d-inline-block">Xem
            hướng dẫn</a>
        </div>


      </div>



   
      <div class="mm-section ">
        <div class="pron-container balance">
          <div class="mm-section-title">
            <h3 class="h5 mt-0">
              Thương hiệu liên quan
            </h3>
          </div>
        </div>
  
  
  
  
        <div class="pron-container balance">
  
          <div class="cbs-item-sm cbs-item-md ">
            <div class="avatar avatar-lg border overflow-hidden p-1 bg-white">
              <div class="embed-responsive embed-responsive-1by1">
                <img
                  data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                  class="embed-responsive-img lazy" alt="">
              </div>
            </div>
  
            <div class="cbs-item-sm-con">
              <div class="name text-truncate">
                Shamoji </div>
              <div class="sub text-truncate">Nhà hàng món Nhật </div>
  
              <div class="address  text-truncate">
                <i class="f7-icons lutie-15 ">placemark_fill</i> 13 địa điểm
              </div>
            </div>
  
            <div class="cbs-value">
              <div class="name ">30% </div>
              <div class="sub text-truncate">hoàn tiền</div>
            </div>
          </div>
  
        </div>
  
  
      </div>
  




    </div>

    <!-- And somewhere in DOM -->
    <div class="popup cas-htu-popup popup-swipe-round">
      <div class="view">
        <div class="page">

          <!-- <a href="#" class="link  popup-close close-button">
            <img src="images/close.svg" alt="Close">
          </a> -->
          <!--   <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link back">
                  <i class="icon icon-back"></i>
                  <span class="if-not-md">Quay lại</span>
                </a>
              </div>
              <div class="title">Hướng dẫn</div>
            </div>
          </div> -->

          <div class="navbar close-handler">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link popup-close">
                  <img src="images/icons/icon-x.svg" width="28" alt="">
                  <!-- <i class="icon icon-back"></i> -->
                </a>
              </div>
              <div class="title">Hướng dẫn Baskin Robbins</div>
            </div>
          </div>



          <!-- <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
              <div class=" w-100">
                <p class="row mb-0 ">
                  <a class="col button button-fill button-large color-gray link popup-close">Quay lại</a>

                  <button class="col button button-fill button-large color-pink  ">Sử dụng
                  </button>
                </p>
              </div>

            </div>
          </div> -->

          <div class="page-content">

            <div data-lazy='{"enabled": true}'
              data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
              class="swiper-container swiper-init htu-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">

                {{#each @root.htu}}
                <div class="swiper-slide">

                  <div class="htu-content">
                    <div class="htu-mockup">
                      <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                        <img data-src="{{image}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                      </div>

                      <div class="htu-mockup-txt">
                        <h3 class="htu-mockup-title mt-0 mb-2">{{title}}</h3>
                        <div class="htu-mockup-body">
                          {{content}}
                        </div>

                        <div class="mt-3  font-italic">
                          {{note}}
                        </div>

                      </div>

                    </div>
                  </div>

                </div>

                {{/each}}
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>



  </div>



</template>


<script>

  return {
    data: function () {


      return {
        htu: [
          {
            "image": "https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg",
            "title": "Tải ứng dụng Ví MoMo",
            "content": "Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store hoặc Google Play Store.",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg",
            "title": "Nhập số điện thoại",
            "content": "Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo. ",
            "note": "Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí Internet Banking của ngân hàng bạn muốn liên kết."
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg",
            "title": "Nhập mã xác thực ",
            "content": "Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn. </br> Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô \"Nhập mã xác thực\" rồi nhấn \"Tiếp tục\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg",
            "title": "Tạo mật khẩu đăng nhập ",
            "content": "Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật khẩu ở 2 ô phải hoàn toàn giống nhau. </br> \nSau đó bấm \"Xác nhận\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg",
            "title": "Nhập thông tin ",
            "content": "Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo yêu cầu và nhấn \"Xác nhận\" để hoàn tất đăng ký.",
            "note": ""
          }
        ]
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;


        const ele = document;
        const saleMoreCon = ele.querySelector(".js-pron-viewmore");
        const saleMore = ele.querySelector(".js-pron-viewmore-content");
        const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
        const saleMoreHeight = saleMore.scrollHeight;

        if (saleMoreHeight > 170) {
          saleMoreCon.classList.add("active");


          saleMoreCon.classList.add("is-long");

          saleMoreBtn.addEventListener("click", function () {
            if (saleMoreCon.classList.contains("active")) {
              saleMore.style.setProperty("max-height", saleMoreHeight + "px");
              saleMoreCon.classList.remove("active");
            } else {
              saleMore.style.setProperty("max-height", "170px");
              saleMoreCon.classList.add("active");
            }
          });
        }
        var casHtu = app.popup.create({
          el: '.cas-htu-popup',
          swipeToClose: "to-bottom",
          swipeHandler: '.close-handler',
        });

        casHtu.on('open', function (popup) {
          // console.log("dfwfwe");
          var swiper = app.swiper.get('.htu-swiper');
          swiper.update();
        });
      },
    },
  };

</script>