<template>
    <div class="page bg-white mm-font-nunito" data-name="cashback">

        <div class="navbar mm-navbar-search">
            <div class="navbar-inner ">
                <form class="searchbar  searchbar-main">
                    <div class="searchbar-inner">
                        <a href="/cashback-search/" class="link-absolute mm-navbar-link"></a>

                        <div class="searchbar-input-wrap shadow-md">
                            <div class="mm-navbar-icon-search">
                                <i class="f7-icons size-22">search</i>
                            </div>
                            <input type="search" placeholder="Nhập tên cửa hàng bạn muốn tìm">

                        </div>
                        <span class="searchbar-disable-button if-not-aurora">Hủy</span>
                    </div>
                </form>
            </div>
        </div>


        <div class="page-content mm-type " style="">


            <div class="searchbar-backdrop"></div>

            <div class="mm-filter ">

                <div class="mm-filter-item">
                    <div class="mm-filter-smart is-active">
                        <a href="#" data-popup=".cas-location-popup" class="popup-open item-after ">TP. HCM </a>
                    </div>


                </div>

                <div class="mm-filter-item">

                    <a class="mm-filter-smart smart-select smart-select-init" data-open-in="popup"
                        data-close-on-select="true" data-popup-close-link-text="Đóng" data-page-title="Chọn Quận huyện"
                        data-css-class=" popup-smartselect">

                        <select name="sapxep">
                            <option value="mac" selected>Chọn Quận/ Huyện</option>
                            <option value="mac">Quận 1</option>
                            <option value="windows">Quận 2</option>
                            <option value="windows">Quận 3</option>
                            <option value="windows">Quận 4</option>
                            <option value="windows">Quận 5</option>
                            <option value="windows">Quận 6</option>
                            <option value="windows">Quận 7</option>
                            <option value="windows">Quận 8</option>
                            <option value="windows">Quận 9</option>
                            <option value="windows">Quận 10</option>
                            <option value="windows">Quận 11</option>
                            <option value="windows">Quận 12</option>
                        </select>
                        <div class="item-title"></div>
                    </a>

                </div>

                <div class="mm-filter-item">

                    <a class="mm-filter-smart smart-select smart-select-init" data-routable-modals="false"
                        data-open-in="popup" data-close-on-select="true" data-popup-close-link-text="Đóng"
                        data-page-title="Chọn danh mục" data-css-class=" popup-smartselect">
                        <select name="danhmuc" id="danhmuc">
                            <option label="Cửa hàng tiện lợi" value="number:50" selected="selected"
                                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                                data-option-class="cashback-cat-icon">Cửa hàng tiện lợi
                            </option>
                            <option label="Siêu thị" value="number:143"
                                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                                data-option-class="cashback-cat-icon">Siêu thị
                            </option>

                            <option label="Siêu thị" value="number:2"
                                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_cafe_dessert@3x.png"
                                data-option-class="cashback-cat-icon">Cà phê - Trà sữa
                            </option>

                            <option label="Siêu thị" value="number:3"
                                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                                data-option-class="cashback-cat-icon">Nhà hàng
                            </option>
                            <option label="Siêu thị" value="number:4"
                                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                                data-option-class="cashback-cat-icon">Giải trí
                            </option>

                            <option label="Siêu thị" value="number:5"
                                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                                data-option-class="cashback-cat-icon">Giải trí
                            </option>

                            <option label="Siêu thị" value="number:6"
                                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                                data-option-class="cashback-cat-icon">Giải trí
                            </option>
                        </select>
                        <div class="item-title"></div>
                    </a>

                </div>


            </div>

            <div class="mm-section  mt-0">
                <div class="pron-container balance">
                    <div class="mm-section-title">
                        <h3 class="h5 mt-0">
                            Bạn cần tìm gì ?
                        </h3>
                    </div>
                </div>
                <div class="mm-cat-wrap">
                    <div class="mm-cat">
                        <div class="mm-cat-item">
                            <div class="mm-cat-thumb">
                                <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="mm-cat-name">
                                Cửa hàng tiện lợi
                            </div>
                        </div>

                        <div class="mm-cat-item">
                            <div class="mm-cat-thumb">
                                <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_cafe_dessert@3x.png"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="mm-cat-name">
                                Cà phê - Trà sữa
                            </div>
                        </div>

                        <div class="mm-cat-item">
                            <div class="mm-cat-thumb">
                                <img src="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_nha_hang@3x.png"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="mm-cat-name">
                                Nhà hàng
                            </div>
                        </div>

                        <div class="mm-cat-item">
                            <div class="mm-cat-thumb">
                                <img src="https://static.mservice.io/placecategory/s/momo-upload-api-191223151947-637127111873031960.png"
                                    class="img-fluid" alt="">
                            </div>
                            <div class="mm-cat-name">
                                Xăng dầu
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mm-cat-showmore mm-cat-left">
                        <i class="f7-icons">chevron_left</i>
                    </div> -->
                    <div class="mm-cat-showmore mm-cat-right">
                        <i class="f7-icons">chevron_right</i>
                    </div>
                </div>



            </div>

            <div class="mm-section  ">
                <div class="pron-container balance">
                    <div class="mm-section-title">
                        <h3 class="h5 mt-0 mm-section-name">
                            Hoàn tiền SIÊU TO
                        </h3>

                        <div class="mm-section-sub">
                            <a href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-container swiper-init swiper-cbs-item-sm" data-space-between="15"
                    data-slides-per-view="auto"
                    data-lazy='{"enabled": true, "loadPrevNext": true, "loadPrevNextAmount": 2}'>
                    <div class="swiper-wrapper">
                        {{#each @root.itemsm}}
                        <div class="swiper-slide">
                            <div class="cbs-item-sm ">
                                <div class="avatar border overflow-hidden p-1 bg-white">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_Toco.jpg"
                                            class="embed-responsive-img lazy" alt="">
                                    </div>
                                </div>

                                <div class="cbs-item-sm-con">
                                    <div class="name text-truncate">Toco Toco</div>
                                    <div class="sub text-truncate">Trà sữa của hạnh phúc</div>
                                </div>


                                <div class="cbs-value">
                                    <div class="name ">5%</div>
                                    <div class="sub text-truncate">hoàn tiền</div>
                                </div>

                            </div>
                            <div class="cbs-item-sm ">
                                <div class="avatar border overflow-hidden p-1 bg-white">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="https://img.mservice.io/momo_app_v2/img/banner/Logo_Smoothie.jpg"
                                            class="embed-responsive-img lazy" alt="">
                                    </div>
                                </div>

                                <div class="cbs-item-sm-con">
                                    <div class="name text-truncate">
                                        Smoothie Factory
                                    </div>
                                    <div class="sub text-truncate">
                                        Cửa hàng sinh tố dinh dưỡng
                                    </div>
                                </div>

                                <div class="cbs-value">
                                    <div class="name ">25%</div>
                                    <div class="sub text-truncate">hoàn tiền</div>
                                </div>
                            </div>
                            <div class="cbs-item-sm ">
                                <div class="avatar border overflow-hidden p-1 bg-white">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                                            class="embed-responsive-img lazy" alt="">
                                    </div>
                                </div>

                                <div class="cbs-item-sm-con">
                                    <div class="name text-truncate">
                                        Shamoji
                                    </div>
                                    <div class="sub text-truncate">Nhà hàng món Nhật</div>
                                </div>

                                <div class="cbs-value">
                                    <div class="name ">30%</div>
                                    <div class="sub text-truncate">hoàn tiền</div>
                                </div>
                            </div>

                        </div>
                        {{/each}}

                    </div>
                </div>

            </div>


            <div class="mm-section  ">
                <div class="pron-container balance">

                    <div class="mm-section-title">
                        <h3 class="h5 mt-0 mm-section-name">
                            Cửa hàng tiện lợi
                        </h3>

                        <div class="mm-section-sub">
                            <a href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-container swiper-init swiper-cbs-item-sm" data-space-between="15"
                    data-slides-per-view="auto"
                    data-lazy='{"enabled": true, "loadPrevNext": true, "loadPrevNextAmount": 2}'>
                    <div class="swiper-wrapper">
                        {{#each @root.itemsm}}
                        <div class="swiper-slide">
                            <div class="cbs-item-sm ">
                                <div class="avatar border overflow-hidden p-1 bg-white">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="https://img.mservice.io/momo_app_v2/new_version/img/THAO.MAI/190718_IC_CB_Toco.jpg"
                                            class="embed-responsive-img lazy" alt="">
                                    </div>
                                </div>

                                <div class="cbs-item-sm-con">
                                    <div class="name text-truncate">Toco Toco</div>
                                    <div class="sub text-truncate">Trà sữa của hạnh phúc</div>
                                </div>


                                <div class="cbs-value">
                                    <div class="name ">5%</div>
                                    <div class="sub text-truncate">hoàn tiền</div>
                                </div>

                            </div>
                            <div class="cbs-item-sm ">
                                <div class="avatar border overflow-hidden p-1 bg-white">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="https://img.mservice.io/momo_app_v2/img/banner/Logo_Smoothie.jpg"
                                            class="embed-responsive-img lazy" alt="">
                                    </div>
                                </div>

                                <div class="cbs-item-sm-con">
                                    <div class="name text-truncate">
                                        Smoothie Factory
                                    </div>
                                    <div class="sub text-truncate">
                                        Cửa hàng sinh tố dinh dưỡng
                                    </div>
                                </div>

                                <div class="cbs-value">
                                    <div class="name ">25%</div>
                                    <div class="sub text-truncate">hoàn tiền</div>
                                </div>
                            </div>
                            <div class="cbs-item-sm ">
                                <div class="avatar border overflow-hidden p-1 bg-white">
                                    <div class="embed-responsive embed-responsive-1by1">
                                        <img data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                                            class="embed-responsive-img lazy" alt="">
                                    </div>
                                </div>

                                <div class="cbs-item-sm-con">
                                    <div class="name text-truncate">
                                        Shamoji
                                    </div>
                                    <div class="sub text-truncate">Nhà hàng món Nhật</div>
                                </div>

                                <div class="cbs-value">
                                    <div class="name ">30%</div>
                                    <div class="sub text-truncate">hoàn tiền</div>
                                </div>
                            </div>

                        </div>
                        {{/each}}

                    </div>
                </div>


            </div>

            <div class="mm-section ">
                <div class="pron-container balance">
                    <div class="mm-section-title">
                        <h3 class="h5 mt-0 mm-section-name">
                            Khuyến mãi đang diễn ra
                        </h3>

                        <div class="mm-section-sub">
                            <a href="">Xem thêm</a>
                        </div>
                    </div>

                </div>

                <div class="swiper-container swiper-init swiper-cbs-item-sm" data-space-between="15"
                    data-slides-per-view="auto"
                    data-lazy='{"enabled": true, "loadPrevNext": true, "loadPrevNextAmount": 2}'>
                    <div class="swiper-wrapper">
                        {{#each @root.itemsm}}
                        <div class="swiper-slide">
                            <div class="cbs-feature ">
                                <div class="cbs-feature-img">
                                    <div class="embed-responsive embed-responsive-21by9 rounded">
                                        <img data-src="https://static.mservice.io/blogscontents/momo-upload-api-191219110343-637123502236368225.jpg"
                                            class="swiper-lazy embed-responsive-img" alt="">
                                    </div>
                                </div>

                                <div class="cbs-feature-cat text-small-cap">CỬA HÀNG TIỆN LỢI</div>
                                <div class="cbs-feature-name">Đi cửa hàng tiện lợi hoàn tiền 30%
                                </div>
                            </div>


                        </div>
                        {{/each}}

                    </div>
                </div>


            </div>

        </div>


        <div class="mm-section ">
            <div class="pron-container balance">
                <div class="mm-section-title">
                    <h3 class="h5 mt-0">
                        Danh sách
                    </h3>
                </div>
            </div>


            <div class="pron-container balance">

                <div class="cbs-item-sm cbs-item-md ">
                    <div class="avatar avatar-lg border overflow-hidden p-1 bg-white">
                        <div class="embed-responsive embed-responsive-1by1">
                            <img data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                                class="embed-responsive-img lazy" alt="">
                        </div>
                    </div>

                    <div class="cbs-item-sm-con">
                        <div class="name text-truncate">
                            Shamoji
                        </div>
                        <div class="sub text-truncate">Nhà hàng món Nhật</div>

                        <div class="address  text-truncate">
                            <i class="f7-icons lutie-15 ">placemark_fill</i> 13 địa điểm
                        </div>
                    </div>

                    <div class="cbs-value">
                        <div class="name ">30%</div>
                        <div class="sub text-truncate">hoàn tiền</div>
                    </div>
                </div>

            </div>


        </div>

        <!-- And somewhere in DOM -->
        <div class="popup cas-location-popup">
            <div class="view">
                <div class="page">

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Chọn Tỉnh thành</div>
                            <div class="right">
                                <!-- Link to close popup -->
                                <a class="link popup-close">Đóng</a>
                            </div>

                            <div class="subnavbar">
                                <form class="searchbar searchbar-location">
                                    <div class="searchbar-inner">
                                        <div class="searchbar-input-wrap">
                                            <input type="search" placeholder="Tìm kiếm">
                                            <i class="searchbar-icon"></i>
                                            <span class="input-clear-button"></span>
                                        </div>
                                        <span class="searchbar-disable-button if-not-aurora">Xóa</span>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>


                    <div class="page-content">
                        <!-- Searchbar backdrop -->
                        <div class="searchbar-backdrop"></div>

                        <!-- search target list -->
                        <div class="list media-list pt-3">
                            <ul>
                                <li>
                                    <label class="item-radio item-content">
                                        <input type="radio" name="demo-media-radio" value="1" checked />
                                        <i class="icon icon-radio" checked></i>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">TP. HCM</div>
                                            </div>
                                            <div class="text-color-gray lutie-12">356 địa điểm</div>
                                        </div>
                                    </label>
                                </li>

                                <li>
                                    <label class="item-radio item-content">
                                        <input type="radio" name="demo-media-radio" value="2" />
                                        <i class="icon icon-radio"></i>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">Hà nội</div>
                                            </div>
                                            <div class="text-color-gray lutie-12">356 địa điểm</div>
                                        </div>
                                    </label>
                                </li>

                                <li>
                                    <label class="item-radio item-content">
                                        <input type="radio" name="demo-media-radio" value="3" />
                                        <i class="icon icon-radio"></i>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">Đà Nẵng</div>
                                            </div>
                                            <div class="text-color-gray lutie-12">356 địa điểm</div>
                                        </div>
                                    </label>
                                </li>


                            </ul>
                        </div>
                        <!-- Nothing found message -->
                        <div class="block searchbar-not-found">
                            <div class="block-inner">Nothing found</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>



</template>


<script>

    return {
        data: function () {

            var self = this;
            var app = self.$app;

            // var danhmuc = app.views.current.router.currentRoute.query.danhmuc ? "dwd" : '';
            // var sapxep = app.views.current.router.currentRoute.query.sapxep ? app.views.current.router.currentRoute.query.sapxep : '';
            var danhmuc = '';
            var sapxep = '';

            return {
                danhmuc: danhmuc,
                sapxep: sapxep,
                itemsm: ["dwd", "dwd", "dwd", "dwd"],
                stories: ["w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw"]
            }
        },
        methods: {
            reloadFilter() {
                var self = this;
                var app = self.$app;

                var danhmuc = (self.danhmuc == '') ? '' : '?danhmuc=' + self.danhmuc;
                var sapxep = (self.sapxep == '') ? '' : '?sapxep=' + self.sapxep;
                var url = danhmuc + sapxep;

                var urlbase = app.views.current.router.url.substring(0, app.views.current.router.url.lastIndexOf('/') + 1);
                // console.log(app.views.current.router.url);
                app.views.current.router.updateCurrentUrl(urlbase + url);
                //Lay query
                console.log(app.views.current.router.currentRoute.query);
            },
            elementIntoView(el) {
                var self = this;
                var app = self.$app;

                var partiallyVisible = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : false;

                var _el$getBoundingClient = el.getBoundingClientRect(),
                    top = _el$getBoundingClient.top,
                    left = _el$getBoundingClient.left,
                    bottom = _el$getBoundingClient.bottom,
                    right = _el$getBoundingClient.right;

                var _window = window,
                    innerHeight = _window.innerHeight,
                    innerWidth = _window.innerWidth;
                return partiallyVisible ? (top > 0 && top < innerHeight || bottom > 0 && bottom < innerHeight) && (left > 0 && left < innerWidth || right > 0 && right < innerWidth) : top >= 0 && left >= 0 && bottom <= innerHeight && right <= innerWidth;
            }
        },
        on: {
            pageBeforeRemove: function () {
                var self = this;
                // if (self.stepperPig) self.stepperPig.destroy();
            },
            pageInit: function () {
                var self = this;
                var app = self.$app;

                self.$setState({
                    danhmuc: app.views.current.router.currentRoute.query.danhmuc ? app.views.current.router.currentRoute.query.danhmuc : '',
                    sapxep: app.views.current.router.currentRoute.query.sapxep ? app.views.current.router.currentRoute.query.sapxep : ''
                }
                );

                // var param = app.views.current.router




                $$('#danhmuc').on('change', function (e) {
                    // console.log($$(this).val());
                    // console.log(app.views.current.router);
                    // console.log(app.views.current.router.url);
                    // app.views.current.router.updateCurrentUrl(app.views.current.router.url + "danhmuc/" + $$(this).val());

                    // app.views.current.router.navigate({
                    //   params: { userId: 1, postId: 2 },
                    // }, {
                    //   reloadCurrent: false,
                    //   ignoreCache: false,
                    // });
                    // console.log(app.views.current.router.currentRoute.query);

                    // app.views.current.router.updateCurrentUrl(app.views.current.router.url + '?fwef=' + $$(this).val());

                    self.$setState({
                        danhmuc: $$(this).val()
                    });

                    self.reloadFilter();

                    // app.views.current.router.updateCurrentUrl(app.views.current.router.url + '?danhmuc=' + self.danhmuc + '?sapxep=' + self.sapxep);

                    // app.view.router.navigate({
                    //   params: { userId: 1, postId: 2 },
                    // }, {
                    //   reloadCurrent: false,
                    //   ignoreCache: false,
                    // });

                    // app.views.current.router.navigate(
                    //   '/some-page/Names/?subtitle=List&arr=["John","Vlad","Timo"]'
                    //   , {
                    //     reloadCurrent: false,
                    //     ignoreCache: false,
                    //   }
                    // );

                });

                $$('#sapxep').on('change', function (e) {

                    self.$setState({
                        sapxep: $$(this).val()
                    });

                    self.reloadFilter();

                });

                document.querySelector(".mm-cat-wrap").classList.add("is-show");

                // $$(".page-content").on('scroll', function (e) {
                //     if(self.elementIntoView(document.querySelector(".mm-cat-wrap"))){
                //         document.querySelector(".mm-cat-wrap").classList.add("is-show");
                //     } 
                // });

                // elementIsVisibleInViewport(el);


            },
        },
    };

</script>