<template>
  <div class="page no-swipeback" data-name="home">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Quyên góp</div>
      </div>
    </div>


    <div data-infinite-distance="50" class="page-content infinite-scroll-content " @infinite="loadMore">

      <div class="card ">
        <div class="embed-responsive embed-responsive-apd card-header ">
          <div class="embed-responsive-img">

            <img
              data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
              class="img-fluid  lazyloaded" alt="Ước mơ của Thúy"
              src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80">
          </div>
        </div>


        <div class="card-content card-content-padding">
          <div class="dona-heading border-bottom">
            <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy Infinity</h3>
            <div class="lutie-card-subheading mb-0">Hỗ trợ bệnh nhi ung thư</div>
          </div>


          <div class="dona-content">
            <div class="dona-text">
              Đã quyên góp được
              <strong>
                980.000.000đ
              </strong> / 300.000.000đ
            </div>

            <div class="dona-process">
              <div class="progressbar color-pink" data-progress="20">
                <span></span>
              </div>
            </div>

            <div class="dona-meta">
              <div class="pron-row no-gutters align-items-center flex-nowrap">
                <div class="pron-col auto">

                  <div class="mr-3">
                    <div class="lutie-12">Lượt quyên góp</div>
                    <div class="font-weight-bold">1900</div>
                  </div>

                </div>
                <div class="pron-col auto">

                  <div class="">
                    <div class="lutie-12">Thời hạn còn</div>
                    <div class="font-weight-bold">5 ngày</div>
                  </div>
                </div>
                <div class="pron-col text-right">
                  <a href="/single/" class=" button button-outline w-auto d-inline-block color-pink">Quyên
                    góp</a>
                </div>
              </div>
            </div>

          </div>



        </div>

      </div>


      <div class="card ">
        <div class="embed-responsive embed-responsive-apd card-header ">
          <div class="embed-responsive-img">

            <img
              data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
              class="img-fluid  lazyloaded" alt="Ước mơ của Thúy"
              src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80">
          </div>
        </div>


        <div class="card-content card-content-padding">
          <div class="dona-heading border-bottom">
            <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy</h3>
            <div class="lutie-card-subheading mb-0">Hỗ trợ bệnh nhi ung thư</div>
          </div>


          <div class="dona-content">
            <div class="dona-text">
              Đã quyên góp được
              <strong>
                300.000.000đ
              </strong> / 300.000.000đ
            </div>

            <div class="dona-process">
              <div class="progressbar color-green" data-progress="100">
                <span></span>
              </div>
            </div>

            <div class="dona-meta">
              <div class="pron-row no-gutters align-items-center flex-nowrap">
                <div class="pron-col auto">

                  <div class="mr-3">
                    <div class="lutie-12">Lượt quyên góp</div>
                    <div class="font-weight-bold">4400</div>
                  </div>

                </div>

                <div class="pron-col text-right">
                  <a href="/single/" class=" button button-outline w-auto d-inline-block color-gray opacity-7">
                    Đã đạt mục tiêu
                  </a>
                </div>
              </div>
            </div>

          </div>



        </div>



      </div>


      {{#each @root.stories}}

      <div class="card ">
        <a href="/single/" class="link-absolute"></a>
        <div class="embed-responsive embed-responsive-apd card-header ">
          <div class="embed-responsive-img">

            <img
              data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
              class="img-fluid  lazyloaded" alt="Ước mơ của Thúy"
              src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80">
          </div>
        </div>


        <div class="card-content card-content-padding">
          <div class="dona-heading border-bottom">
            <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy</h3>
            <div class="lutie-card-subheading mb-0">Hỗ trợ bệnh nhi ung thư</div>
          </div>


          <div class="dona-content">
            <div class="dona-text">
              Đã quyên góp được
              <strong>
                300.000.000đ
              </strong> / 300.000.000đ
            </div>

            <div class="dona-process">
              <div class="progressbar color-green" data-progress="100">
                <span></span>
              </div>
            </div>

            <div class="dona-meta">
              <div class="pron-row no-gutters align-items-center flex-nowrap">
                <div class="pron-col auto">

                  <div class="mr-3">
                    <div class="lutie-12">Lượt quyên góp</div>
                    <div class="font-weight-bold">4400</div>
                  </div>

                </div>

                <div class="pron-col text-right">
                  <a href="/single/" class=" button button-outline w-auto d-inline-block color-gray opacity-7">
                    Đã đạt mục tiêu
                  </a>
                </div>
              </div>
            </div>

          </div>



        </div>



      </div>


      {{/each}}


      {{#if @root.hasMoreItems}}
      <div class="text-center p-3 ">
        <div class="preloader  infinite-scroll-preloader"></div>
      </div>

      {{/if}}
    </div>

  </div>

</template>

<script>

  return {
    data: function () {
      var self = this;
      var app = self.$app;
      var url = "https://api.hnpwa.com/v0/news/";
      var max = 10;

      return {
        allowInfinite: true,
        hasMoreItems: true,
        lastPage: 1,
        stories: [],
        url: url,
        max: max
      }
    },
    methods: {
      fetchStories() {
        var self = this;
        var app = self.$app;
        // request user data on page init
        app.request.json(self.url + self.lastPage + '.json', (items) => {
          var stories = self.stories.concat(items);
          // update component state with new state
          self.$setState({
            stories: stories,
            lastPage: self.lastPage + 1,
            allowInfinite: true
          });
        });
      },
      loadMore() {
        var self = this;
        var $ = self.$$;
        if (!self.allowInfinite) return;

        self.allowInfinite = false;

        if (self.lastPage > self.max) {
          self.$setState({
            hasMoreItems: false
          });
          return;
        }

        self.fetchStories();
      }
    },
    on: {
      pageInit: function () {
        var self = this;
        self.fetchStories();
      },
    },
  };

</script>