<template>
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Sale item</div>
      </div>
    </div>



    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <button class="col button button-fill button-large color-pink  "> Mở Website NCT
            </button>

            <button class="col button button-fill button-large color-pink "> Mở ứng dụng NCT</button>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content">

      <div class="pron-container balance bg-white">







        <div class="pron-row balance">
          <div class="embed-responsive embed-responsive-sale">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-191111163848-637090871283634453.jpg"
              class="embed-responsive-img" alt="">
          </div>
        </div>


        <div class="sale-header">
          <h1 class="sale-title mt-0 mb-2">
            Hướng dẫn liên kết Ngân hàng ACB
          </h1>

          <div class="sale-time">
            Áp dụng từ 04/9/2019 đến 30/9/2019
          </div>
        </div>


        <div class="pron-section pron-container">

          <div class="js-pron-viewmore  active">
            <div class="js-pron-viewmore-content mb-2 is-200 is-white">

              <div class="noti-content font-15">

                <p class=""><strong>Lưu ý:</strong>&nbsp;Tài khoản của bạn phải thỏa các điều kiện sau:<br>
                  - Có đăng ký sử dụng dịch vụ Internet Banking.<br>
                  - Tài khoản ngân hàng của bạn phải có số dư tối thiểu là 60.000đ.</p>

                <p>Khách hàng chỉ cần một lần duy nhất liên kết tài khoản ACB với Ví MoMo là có thể nạp hoặc rút tiền
                  miễn phí từ Ví MoMo sang tài khoản ACB và ngược lại.</p>

                <p><img alt="Ký kết hợp tác ACB và MoMo"
                    src="https://static.mservice.io/blogscontents/momo-upload-api-ky%20ket%20acb%20va%20momo-181023140805.jpg"
                    class="img-fluid"></p>

                <p>Ngay khi liên kết thành công, chủ tài khoản ACB có thể nạp tiền miễn phí vào MoMo để thanh toán hằng
                  trăm dịch vụ tiện ích hàng ngày như:&nbsp;</p>

                <p class="">- Nạp điện thoại tất cả các nhà mạng luôn rẻ hơn 3 – 5%;<br>
                  - Mua vé xem phim của tất cả cụm rạp trên toàn quốc như CGV, Galaxy, BHD…<br>
                  - Vé máy bay Vietjet Air, Jetstar, tàu hỏa, vé xe rẻ…<br>
                  - Thanh toán các trang thương mại điện tử như Tiki.vn, Ticketbox, DeliveryNow…<br>
                  - Trả góp vay tiêu dùng: Home Credit, Fe Credit, HD Saison, ACS, Doctor Dong, Prudential finance<br>
                  - Thanh toán Điện (toàn quốc); Nước (TP HCM, Huế, Đồng Tháp…); VTVCab, K+, Fim+…<br>
                  - Trả tiền tại các cửa hàng The Gogi House, Kichi Kichi, The Coffee House, Cộng Café, Smoothie, Chewy
                  Junior…<br>
                  - Đặt hoayeuthuong và Jupviec.com…</p>

                <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;display:block; margin-bottom: 0px;">
                  <p><strong>GIỚI THIỆU VỀ NGÂN HÀNG ACB</strong></p>

                  <p>- Ngân hàng Á Châu (ACB) là một trong những ngân hàng thương mại cổ phần hàng đầu tại Việt Nam, với
                    hệ thống mạng lưới chi nhánh rộng khắp và hơn 9.000 nhân viên làm việc, với nhiều loại hình sản
                    phẩm, dịch vụ đa dạng.<br>
                    - Giá trị cốt lõi chiến lược của ACB là&nbsp;Chính trực&nbsp;- Cách tân - Cẩn trọng - Hài hòa - Hiệu
                    quả</p>

                  <p>Website:&nbsp;<a href="http://www.acb.com.vn/" class="external">http://www.acb.com.vn/</a></p>
                </div>



              </div>

            </div>
            <div class="js-pron-viewmore-btn  style1 text-left mb-4 ">

              <div class="pt-2 pb-3">
                <a href="#" class="  open">Xem thêm <i class="f7-icons">chevron_down</i> </a>

                <a href="#" class="  close">Rút gọn <i class="f7-icons">chevron_up</i>
                </a>
              </div>

            </div>

          </div>


        </div>


        <div class="sale-cluster">
          <div class="sale-cluster-title">
            Hướng dẫn liên kết
          </div>

          <div class="list accordion-list my-4 p-0">
            <ul>
              <li class="accordion-item"><a href="#" class="item-content item-link pl-0">
                  <div class="item-inner">
                    <div class="item-title">Thiết lập thanh toán cho ID apple</div>
                  </div>
                </a>
                <div class="accordion-item-content">

                  <ul class="steps steps-vertical">
                    <li class="step-item ">
                      <div class="step-link">
                        <span class="step-number">1</span>
                        <span class="step-title">
                          Bấm nút <strong>Thiết lập thanh toán</strong> bên dưới & Đăng nhập Apple ID
                        </span>
                      </div>
                    </li>
                    <li class="step-item ">
                      <div class="step-link">
                        <span class="step-number">2</span>
                        <span class="step-title">Chọn "Thêm phương thức"</span>
                      </div>
                    </li>
                    <li class="step-item ">
                      <div class="step-link">
                        <span class="step-number">3</span>
                        <span class="step-title">
                          Chọn <strong>MoMo E-Wallet</strong> > <strong>Đăng nhập vào MoMo E-Wallet</strong> & làm theo
                          hướng dẫn
                        </span>
                      </div>
                    </li>
                  </ul>

                  <a href="#" data-popup=".cas-htu-popup" class="button color-blue mb-2 popup-open ">Xem hình hướng
                    dẫn</a>

                </div>
              </li>
              <li class="accordion-item"><a href="#" class="item-content item-link  pl-0">
                  <div class="item-inner">
                    <div class="item-title">Thanh toán dịch vụ Apple</div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                  </div>
                </div>
              </li>

              <li class="accordion-item"><a href="#" class="item-content item-link  pl-0">
                  <div class="item-inner">
                    <div class="item-title">Gửi thẻ quà tặng dịch vụ App</div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                  </div>
                </div>
              </li>

              <li class="accordion-item"><a href="#" class="item-content item-link pl-0">
                  <div class="item-inner">
                    <div class="item-title">Quản lý gói đăng ký</div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>


    <!-- And somewhere in DOM -->
    <div class="popup cas-htu-popup popup-swipe-round">
      <div class="view">
        <div class="page">

          <!-- <a href="#" class="link  popup-close close-button">
              <img src="images/close.svg" alt="Close">
            </a> -->
          <!--   <div class="navbar">
              <div class="navbar-inner sliding">
                <div class="left">
                  <a class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Quay lại</span>
                  </a>
                </div>
                <div class="title">Hướng dẫn</div>
              </div>
            </div> -->

          <div class="navbar close-handler">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link popup-close">
                  <img src="images/icons/icon-x.svg" width="28" alt="">
                  <!-- <i class="icon icon-back"></i> -->
                </a>
              </div>
              <div class="title">Hướng dẫn Baskin Robbins</div>
            </div>
          </div>



          <!-- <div class="toolbar toolbar-bottom toolbar-large">
              <div class="toolbar-inner">
                <div class=" w-100">
                  <p class="row mb-0 ">
                    <a class="col button button-fill button-large color-gray link popup-close">Quay lại</a>
  
                    <button class="col button button-fill button-large color-pink  ">Sử dụng
                    </button>
                  </p>
                </div>
  
              </div>
            </div> -->

          <div class="page-content">

            <div data-lazy='{"enabled": true}'
              data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
              class="swiper-container swiper-init htu-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">

                {{#each @root.htu}}
                <div class="swiper-slide">

                  <div class="htu-content">
                    <div class="htu-mockup">
                      <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                        <img data-src="{{image}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                      </div>

                      <div class="htu-mockup-txt">
                        <h3 class="htu-mockup-title mt-0 mb-2">{{title}}</h3>
                        <div class="htu-mockup-body">
                          {{content}}
                        </div>

                        <div class="mt-3  font-italic">
                          {{note}}
                        </div>

                      </div>

                    </div>
                  </div>

                </div>

                {{/each}}
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>



  </div>

</template>


<script>

  return {
    data: function () {

      return {
        htu: [
          {
            "image": "https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg",
            "title": "Tải ứng dụng Ví MoMo",
            "content": "Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store hoặc Google Play Store.",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg",
            "title": "Nhập số điện thoại",
            "content": "Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo. ",
            "note": "Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí Internet Banking của ngân hàng bạn muốn liên kết."
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg",
            "title": "Nhập mã xác thực ",
            "content": "Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn. </br> Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô \"Nhập mã xác thực\" rồi nhấn \"Tiếp tục\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg",
            "title": "Tạo mật khẩu đăng nhập ",
            "content": "Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật khẩu ở 2 ô phải hoàn toàn giống nhau. </br> \nSau đó bấm \"Xác nhận\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg",
            "title": "Nhập thông tin ",
            "content": "Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo yêu cầu và nhấn \"Xác nhận\" để hoàn tất đăng ký.",
            "note": ""
          }
        ]
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;


        /*=== With Captions ===*/
        var myPhotoBrowserNoti = app.photoBrowser.create({
          photos: [
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124236-637044937560026858.jpg",
              caption:
                "Các bé cùng thả bóng bay, chắp cánh ước mơ và hy vọng trong “Ngày hội hoa hướng dương”"
            },
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124253-637044937735412359.jpg",
              caption:
                "Các bé tham gia “Ngày hội hoa hướng dương” chuỗi hoạt động nằm trong chương trình “Ước Mơ của Thúy”"
            },
            // This one without caption
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124312-637044937922073546.jpg",
              caption:
                "Các bé cùng thả bóng bay, chắp cánh ước mơ và hy vọng trong “Ngày hội hoa hướng dương”"
            }
          ],
          theme: "dark",
          type: "standalone",
          backLinkText: ""
        });


        $$(".js-noti-gallery").on("click", function (e) {
          var thumb = $$(this).attr('data-thumb') - 1;
          console.log(thumb);
          myPhotoBrowserNoti.open(thumb);
        });


        var casHtu = app.popup.create({
          el: '.cas-htu-popup',
          swipeToClose: "to-bottom",
          swipeHandler: '.close-handler',
        });

        casHtu.on('open', function (popup) {
          // console.log("dfwfwe");
          var swiper = app.swiper.get('.htu-swiper');
          swiper.update();
        });

      },
      pageAfterIn: function () {
        var self = this;
        var app = self.$app;

        const ele = document;
        const saleMoreCon = ele.querySelector(".js-pron-viewmore");
        const saleMore = ele.querySelector(".js-pron-viewmore-content");
        const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
        const saleMoreHeight = saleMore.scrollHeight;

        if (saleMoreHeight > 200) {
          saleMoreCon.classList.add("active");


          saleMoreCon.classList.add("is-long");

          saleMoreBtn.addEventListener("click", function () {
            if (saleMoreCon.classList.contains("active")) {
              saleMore.style.setProperty("max-height", saleMore.scrollHeight + "px");
              saleMoreCon.classList.remove("active");
            } else {
              saleMore.style.setProperty("max-height", "200px");
              saleMoreCon.classList.add("active");
            }
          });
        }

      }
    },
  };

</script>