<template>
  <div class="page" data-name="home">
    <div class="page-content">
      <div class="pron-container balance">
        <h2 class="text-left mt-3 mb-2">Nhiệm vụ giới thiệu MoMo</h2>
        <p>Bạn ơi! Cùng làm nhiệm vụ nhận quà cực cool nào</p>
      </div>

      <div class="refFeature-card">
        <div class="refFeature-content">
          <div class="pron-row mb-3 align-items-center">
            <div class="pron-col">
              <h2 class="mt-0 mb-0">Con người công chúng</h2>
            </div>
            <div class="pron-col auto">
              <div class="refFeature-step">0/3</div>
            </div>
          </div>

          <ul class="refFeature-list">
            <li>
              <div class="refFeature-list-icon green">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
              </div>

              <span>Mục tiêu: </span>
              Hướng dẫn 02 người bạn liên kết ngân hàng
            </li>

            <li>
              <div class="refFeature-list-icon red">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-gift"
                >
                  <polyline points="20 12 20 22 4 22 4 12"></polyline>
                  <rect x="2" y="7" width="20" height="5"></rect>
                  <line x1="12" y1="22" x2="12" y2="7"></line>
                  <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                  <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                </svg>
              </div>

              <span>Phần thưởng: </span>
              01 mã giảm 20.000đ mua thẻ điện thoại
            </li>
          </ul>

          <div class="accordion-item">
            <div class="accordion-item-content">
              <div class="mt-1 mb-4">
                <h4 class="mt-0">Gợi ý nhiệm vụ :</h4>
                <img
                  src="https://static.mservice.io/img/s500x240/momo-upload-api-201105135734-637401814546973263.jpg"
                  class="img-fluid d-block mx-auto mb-3 rounded"
                  alt=""
                />

                <div class="mm-space-title">
                  <h3 class="h5 mb-1 mt-0 mm-space-name">
                    Tiến trình giới thiệu bạn bè
                  </h3>
                </div>

                <div class="lutie-14 text-gray mb-3">
                  Hiện đang có <strong class="text-momo">3</strong> người đang
                  nhập mã giới thiệu của bạn
                </div>

                <div class="contact__list">
                  <div class="contact__item shadow-1">
                    <div class="contact__grid">
                      <div class="contact__avatar">K</div>

                      <div class="contact__info">
                        <div class="contact__name text-truncate">
                          Soju Gatta
                        </div>

                        <div class="contact__phone">0468 455 234</div>
                      </div>

                      <div class="contact__function">
                        <a href="">
                          <i class="f7-icons size-14">chat_bubble</i>
                        </a>
                        <a href="">
                          <i class="f7-icons size-14">phone</i>
                        </a>
                      </div>
                    </div>

                    <div class="text-primary mt-2 mb-1 lutie-14">
                      Đã nhập mã thành công, còn 2 bước
                    </div>

                    <div class="process-step">
                      <div class="process-step__item is-active"></div>

                      <div class="process-step__item"></div>
                      <div class="process-step__item"></div>
                    </div>

                    <div class="lutie-13 mt-2">
                      <span class="text-gray">Bước tiếp theo : </span> Liên kết
                      tài khoản ngân hàng Ví MoMo
                    </div>
                  </div>
                  <div class="contact__item shadow-1">
                    <div class="contact__grid">
                      <div class="contact__avatar">MD</div>

                      <div class="contact__info">
                        <div class="contact__name text-truncate">
                          Soju Gatta
                        </div>

                        <div class="contact__phone">0468 455 234</div>
                      </div>

                      <div class="contact__function">
                        <a href="">
                          <i class="f7-icons size-14">chat_bubble</i>
                        </a>
                        <a href="">
                          <i class="f7-icons size-14">phone</i>
                        </a>
                      </div>
                    </div>

                    <div class="text-primary mt-2 mb-1 lutie-14">
                      Đã nhập mã thành công, còn 2 bước
                    </div>

                    <div class="process-step">
                      <div class="process-step__item is-active"></div>

                      <div class="process-step__item"></div>
                      <div class="process-step__item"></div>
                    </div>

                    <div class="lutie-13 mt-2">
                      <span class="text-gray">Bước tiếp theo : </span> Liên kết
                      tài khoản ngân hàng Ví MoMo
                    </div>
                  </div>
                  <div class="contact__item shadow-1">
                    <div class="contact__grid">
                      <div class="contact__avatar">R</div>

                      <div class="contact__info">
                        <div class="contact__name text-truncate">
                          Soju Gatta
                        </div>

                        <div class="contact__phone">0468 455 234</div>
                      </div>

                      <div class="contact__function">
                        <a href="" class="message">
                          <img src="images/referral/chat.svg" alt="" />
                        </a>
                        <a href="" class="phone">
                          <img src="images/referral/telephone.svg" alt="" />
                        </a>
                      </div>
                    </div>

                    <div class="text-primary mt-2 mb-1 lutie-14">
                      Đã liên kết thành công, còn 1 bước
                    </div>

                    <div class="process-step">
                      <div class="process-step__item is-active"></div>

                      <div class="process-step__item is-active"></div>
                      <div class="process-step__item"></div>
                    </div>

                    <div class="lutie-13 mt-2">
                      <span class="text-gray">Bước tiếp theo : </span> Liên kết
                      tài khoản ngân hàng Ví MoMo
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item-toggle">
              <div class="text-right">
                <button
                  class="col button color-pink button-fill font-weight-bold w-auto px-3 open"
                >
                  Xem gợi ý
                </button>

                <button
                  class="col button color-pink button-fill font-weight-bold w-auto px-3 close"
                >
                  Thu gọn
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="refFeature-card">
        <div class="refFeature-content">
          <div class="pron-row mb-3 align-items-center">
            <div class="pron-col">
              <h2 class="mt-0 mb-0">Con người công chúng</h2>
            </div>
            <div class="pron-col auto">
              <div class="refFeature-step success">
                <i class="f7-icons">check</i>
                3/3
              </div>
            </div>
          </div>

          <ul class="refFeature-list">
            <li>
              <div class="refFeature-list-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
              </div>

              <span>Mục tiêu: </span>
              Hướng dẫn 02 người bạn liên kết ngân hàng
            </li>

            <li>
              <div class="refFeature-list-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-gift"
                >
                  <polyline points="20 12 20 22 4 22 4 12"></polyline>
                  <rect x="2" y="7" width="20" height="5"></rect>
                  <line x1="12" y1="22" x2="12" y2="7"></line>
                  <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                  <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                </svg>
              </div>
              <span>Phần thưởng: </span>
              01 mã giảm 20.000đ mua thẻ điện thoại
            </li>
          </ul>

          <div class="accordion-item">
            <div class="accordion-item-content">
              <div class="mt-1 mb-4">
                <h4 class="mt-0">Gợi ý nhiệm vụ :</h4>
                <img
                  src="https://static.mservice.io/img/s500x240/momo-upload-api-201105135734-637401814546973263.jpg"
                  class="img-fluid d-block mx-auto mb-3 rounded"
                  alt=""
                />

                <div class="mm-space-title">
                  <h3 class="h5 mb-1 mt-0 mm-space-name">
                    Tiến trình giới thiệu bạn bè
                  </h3>
                </div>

                <div class="lutie-14 text-gray mb-3">
                  Hiện đang có <strong class="text-momo">3</strong> người đang
                  nhập mã giới thiệu của bạn
                </div>

                <div class="contact__list">
                  <div class="contact__item shadow-1">
                    <div class="contact__grid">
                      <div class="contact__avatar">K</div>

                      <div class="contact__info">
                        <div class="contact__name text-truncate">
                          Soju Gatta
                        </div>

                        <div class="contact__phone">0468 455 234</div>
                      </div>

                      <div class="contact__function">
                        <a href="">
                          <i class="f7-icons size-14">chat_bubble</i>
                        </a>
                        <a href="">
                          <i class="f7-icons size-14">phone</i>
                        </a>
                      </div>
                    </div>

                    <div class="text-primary mt-2 mb-1 lutie-14">
                      Đã nhập mã thành công, còn 2 bước
                    </div>

                    <div class="process-step">
                      <div class="process-step__item is-active"></div>

                      <div class="process-step__item"></div>
                      <div class="process-step__item"></div>
                    </div>

                    <div class="lutie-13 mt-2">
                      <span class="text-gray">Bước tiếp theo : </span> Liên kết
                      tài khoản ngân hàng Ví MoMo
                    </div>
                  </div>
                  <div class="contact__item shadow-1">
                    <div class="contact__grid">
                      <div class="contact__avatar">MD</div>

                      <div class="contact__info">
                        <div class="contact__name text-truncate">
                          Soju Gatta
                        </div>

                        <div class="contact__phone">0468 455 234</div>
                      </div>

                      <div class="contact__function">
                        <a href="">
                          <i class="f7-icons size-14">chat_bubble</i>
                        </a>
                        <a href="">
                          <i class="f7-icons size-14">phone</i>
                        </a>
                      </div>
                    </div>

                    <div class="text-primary mt-2 mb-1 lutie-14">
                      Đã nhập mã thành công, còn 2 bước
                    </div>

                    <div class="process-step">
                      <div class="process-step__item is-active"></div>

                      <div class="process-step__item"></div>
                      <div class="process-step__item"></div>
                    </div>

                    <div class="lutie-13 mt-2">
                      <span class="text-gray">Bước tiếp theo : </span> Liên kết
                      tài khoản ngân hàng Ví MoMo
                    </div>
                  </div>
                  <div class="contact__item shadow-1">
                    <div class="contact__grid">
                      <div class="contact__avatar">R</div>

                      <div class="contact__info">
                        <div class="contact__name text-truncate">
                          Soju Gatta
                        </div>

                        <div class="contact__phone">0468 455 234</div>
                      </div>

                      <div class="contact__function">
                        <a href="" class="message">
                          <img src="images/referral/chat.svg" alt="" />
                        </a>
                        <a href="" class="phone">
                          <img src="images/referral/telephone.svg" alt="" />
                        </a>
                      </div>
                    </div>

                    <div class="text-primary mt-2 mb-1 lutie-14">
                      Đã liên kết thành công, còn 1 bước
                    </div>

                    <div class="process-step">
                      <div class="process-step__item is-active"></div>

                      <div class="process-step__item is-active"></div>
                      <div class="process-step__item"></div>
                    </div>

                    <div class="lutie-13 mt-2">
                      <span class="text-gray">Bước tiếp theo : </span> Liên kết
                      tài khoản ngân hàng Ví MoMo
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item-toggle">
              <div class="text-right">
                <button
                  class="col button color-pink button-fill font-weight-bold w-auto px-3 open"
                >
                  Xem gợi ý
                </button>

                <button
                  class="col button color-pink button-fill font-weight-bold w-auto px-3 close"
                >
                  Thu gọn
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  return {
    data: function () {
      return {};
    },
    methods: {},
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;
      },
      pageAfterIn: function (e, page) {
        var self = this;
        var app = self.$app;
      },
    },
  };
</script>
