<template>
    <div class="page bg-white " data-name="home">

        <div class="page-content ">


            <div class="embed-responsive embed-responsive-sale">
                <img src="https://static.mservice.io/blogscontents/momo-upload-api-200224115015-637181418156055349.jpg"
                    class="embed-responsive-img" alt="">
            </div>

            <div class="pron-container balance bg-white">



                <h2 class="text-center mt-3 mb-2">
                    Bật mí thẻ quà bí mật
                </h2>
                <div class="text-center">
                    <div class="giftrefe__wrap">
                        <div class="giftrefe__label">
                            Số lượng thẻ quà bạn đang có
                        </div>

                        <div class="giftrefe__val">3</div>
                    </div>
                </div>
                <!-- <div class="text-gray text-center lutie-15">Nhận quà 500.000đ không giới hạn</div> -->

                <div class="giftrefe__meta mt-4">

                    <div class="giftrefe__meta__item">
                        <i class="f7-icons">calendar</i> 
                        <strong>Thời gian:</strong>  12h00 ngày 01/04/2020 - 23h59 ngày 30/06/2020
                    </div>
                    <div class="giftrefe__meta__item">
                        <i class="f7-icons">placemark</i> 
                        <strong>Địa điểm sử dụng:</strong> Toàn quốc
                    </div>


                </div>

                <div style="" class=" mt-4">
                    <p style="">
                        <strong class="">
                            NỘI DUNG CHƯƠNG TRÌNH
                        </strong>
                    </p>

                    <h3 class="text-momo"> 1. Thời gian diễn ra </h3>
                 
                    <p>Từ ngày <b>dd/mm/yyyy</b> đến ngày <b>dd/mm/yyyy</b></p>

                    <h3 class="text-momo">  2. Cơ cấu giải thưởng</h3>
               
                    <p>
                        - 01 iphone 11 trị giá <strong>20.000.000đ</strong><br>
                        - 10.000 thẻ quà đa năng <strong>10.000đ</strong><br>
                        - 50.000 thẻ quà đa năng <strong>5.000đ</strong>
                    </p>
           

                    <h3 class="text-momo">  2. Cơ cấu giải thưởng</h3>
               
                    <p>
                        - Giới thiệu thành công bạn bè sử dụng ví MoMo nhận ngay 02 thẻ<br>
                        - Hoàn thành thử thách MoMo đặt ra để nhận thêm thẻ
                    </p>
                     

                    <h3 class="text-momo">   4. Hướng dẫn sử dụng</h3>
               
                    <p>
                        Để mở thẻ quà bí mật<br>
                        1/ Nhấn <strong>“MỞ QUÀ NGAY”</strong> và chờ Bảng thông báo kết quả
                        <br>
                        2/ Bảng thông báo sẽ hiển thị thông tin quà bạn đã mở.
                    </p>
                </div>
            </div>
        </div>
    </div>


</template>


<script>

    return {
        data: function () {


            return {

            }

        },
        methods: {

        },
        on: {
            pageBeforeRemove: function () {
                var self = this;
                // if (self.stepperPig) self.stepperPig.destroy();
            },
            pageInit: function () {
                var self = this;
                var app = self.$app;
            },
            pageAfterIn: function (e, page) {
                var self = this;
                var app = self.$app;
            }
        },
    };

</script>