<div class="page">

  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Quay lại</span>
        </a>
      </div>
      <div class="title">Sale item</div>
    </div>
  </div>


  <div class="toolbar toolbar-bottom toolbar-large">
    <div class="toolbar-inner">
      <div class=" w-100">
        <p class="row mb-0 ">
          <button class="col button button-fill button-large color-pink  "> Mở Website NCT
          </button>

          <button class="col button button-fill button-large color-pink "> Mở ứng dụng NCT</button>
        </p>
      </div>

    </div>
  </div>

  <div class="page-content">

    <div class="pron-container balance bg-white">





      <div class="pron-row balance">
        <div class="embed-responsive embed-responsive-sale">
          <img src="images/sale/ios-bg.png" class="embed-responsive-img" alt="">
        </div>
      </div>


      <div class="sale-avatar-container">
        <div class="sale-avatar">
          <img src="https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/jw1n7UnlAscKNCj73beO_1559294843307"
            alt="">
        </div>
      </div>

      <div class="sale-header sale-header-2">


        <h1 class="sale-title">
          Nhập mã NCTMOMOTET để nhận ngay gói VIP từ Nhaccuatui
        </h1>

        <div class="sale-time">
          Áp dụng từ 04/9/2019 đến 30/9/2019
        </div>

        <div class="sale-time mt-1">
          -20 điểm
        </div>
      </div>










      <div class="sale-cluster">
        <div class="sale-cluster-content">

          <div class="mb-2">
            <span class="badge color-orange badge-sale">ĂN UỐNG</span>
          </div>


          Nhanh chân đổi quà ngay để nhận ưu đãi <strong class="text-momo">giảm 40K</strong> cho <strong
            class="text-momo">đơn hàng trên 100K</strong> từ Domino's Pizza khi thanh toán
          qua Ví MoMo Chương trình áp dụng trên tất cả cửa hàng thuộc hệ thống Domino's Pizza
        </div>
      </div>


      <div class="sale-cluster">
        <div class="sale-cluster-title">
          Danh sách địa điểm áp dụng
        </div>
        <div class="js-sale-more">
          <div class="sale-cluster-content">

            <ul class="list-unstyled list-format mt-2">
              {% for item in range(0,2) %}
              <li>
                Domino's 22 Phạm Hùng, phường 2, Quận 8, TP HCM
              </li>
              <li>
                Domino's 12 Nguyễn Hữu Bằng, phường 12, Quận 7, TP HCM

              </li>
              <li>
                Domino's Phạm Hùng, phường 2, Quận 8, TP HCM
              </li>
              {% endfor %}

            </ul>
          </div>

          <div class="js-sale-more-btn">+ XEM THÊM</div>
        </div>
      </div>

      <div class="sale-cluster">
        <div class="sale-cluster-title">
          Thông tin chương trình

        </div>
        <div class="js-sale-more">
          <div class="sale-cluster-content ">
            Chương trình áp dụng cho thành viên Vàng từ ngày 10/6 - 30/6/2019 với các tỉ lệ hấp dẫn cho nhiều
            dịch
            vụ:

            <ul class="list-unstyled list-format mt-2">
              <li>
                Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

              </li>
              <li>
                <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
                đãi
                chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
                NCTMOMO để giảm 50% so với giá gốc

              </li>
              <li>
                Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
              </li>

              <li>
                Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

              </li>
              <li>
                <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
                đãi
                chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
                NCTMOMO để giảm 50% so với giá gốc

              </li>
              <li>
                Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
              </li>
            </ul>
          </div>


          <div class="js-sale-more-btn">+ XEM THÊM</div>
        </div>

      </div>


      <div class="sale-cluster">
        <div class="sale-cluster-title">
          Điều kiện và điều khoản

        </div>
        <div class="js-sale-more">
          <div class="sale-cluster-content ">

            <ol class="list-format2  mt-2">
              {% for item in range(0,2) %}
              <li>
                Thẻ quà tặng chỉ được áp dụng với <strong>hoá đơn có ít nhất 1 pizza trở lên </strong>
              </li>
              <li>
                Thẻ quà tặng chỉ áp dụng tại các của hàng Domino's trên toàn hệ thống Mỗi khách hàng tối đa
                5 thẻ quà tặng kể từ ngày đổi
              </li>
              {% endfor %}
            </ol>
          </div>


          <div class="js-sale-more-btn">+ XEM THÊM</div>
        </div>

      </div>



    </div>




    <div class="list mb-0 mt-0 pb-4 bg-white">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="images/sale/help.svg" width="26" alt="">
            </div>
            <div class="item-inner">
              <div class="item-title">Xem hướng dẫn</div>
            </div>
          </a>
        </li>


        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media">
              <img src="images/sale/help.svg" width="26" alt="">
            </div>
            <div class="item-inner">
              <div class="item-title">Trợ giúp</div>
            </div>
          </a>
        </li>

      </ul>
    </div>

  </div>






</div>