<template>
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Sale item</div>
      </div>
    </div>



    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <button class="col button button-fill button-large color-pink  "> Mở Website NCT
            </button>

            <button class="col button button-fill button-large color-pink "> Mở ứng dụng NCT</button>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content">

      <div class="pron-container balance bg-white">





        <div class="sale-header">
          <h1 class="sale-title mt-0 mb-2">
            Nhập mã NCTMOMOTET để nhận ngay gói VIP từ Nhaccuatui
          </h1>

          <div class="sale-time">
            Áp dụng từ 04/9/2019 đến 30/9/2019
          </div>
        </div>

        <div class="pron-row balance">
          <div class="embed-responsive embed-responsive-sale">
            <img src="images/sale/ios-bg.png" class="embed-responsive-img" alt="">
          </div>
        </div>

        <div class="sale-code">
          <div class="sale-code-item">

            <div class="code">
              Lotte269
            </div>

            <!-- <button data-clipboard-text="Text to copy.">Copy me!</button> -->

            <input type="text" value="Hello Thu 6" id="inputCode" readonly>


            <button class="copy copy-button" onclick="copyCode()">
              <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.7368 0H2.10526C0.947368 0 0 0.981818 0 2.18182V17.4545H2.10526V2.18182H14.7368V0ZM17.8947 4.36364H6.31579C5.1579 4.36364 4.21053 5.34545 4.21053 6.54545V21.8182C4.21053 23.0182 5.1579 24 6.31579 24H17.8947C19.0526 24 20 23.0182 20 21.8182V6.54545C20 5.34545 19.0526 4.36364 17.8947 4.36364ZM17.8947 21.8182H6.31579V6.54545H17.8947V21.8182Z"
                  fill="#7C054F" /></svg>
            </button>

            <div class="copy-popover">
              <img src="images/sale/checked.svg" class="copy-popover-img" width="18" alt=""> Sao chép mã thành công
            </div>

          </div>
        </div>


        <div class="noti-content">
          <ul class="">
            <li class="">
              Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

            </li>
            <li>
              <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
              đãi
              chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
              NCTMOMO để giảm 50% so với giá gốc

            </li>
            <li>
              Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
            </li>

            <li>
              Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

            </li>
            <li>
              <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
              đãi
              chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
              NCTMOMO để giảm 50% so với giá gốc

            </li>
            <li>
              Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
            </li>
          </ul>
          <p dir="ltr"><span style="font-size:16px;">Ưu đãi <span style="color:#ae2070;"><strong>ĐỘC
                  QUYỀN</strong></span> mùa Trung Thu: Giới thiệu <span style="color:#ae2070;"><strong>MoMo
                </strong></span>cho bạn bè:</span></p>

          <p><span>🎁 Nhận gói quà ‘khủng’ lên đến <strong>HÀNG TRIỆU ĐỒNG</strong>, tha hồ chơi trăng phá cỗ</span></p>

          <p><span>🎁 </span><strong><span style="color:#ae2070;">KHÔNG GIỚI HẠN</span></strong><span> số lần giới thiệu
              &amp; nhận thưởng</span></p>

          <p><span>🎁 Tặng bạn bè gói quà chơi trăng cực chất</span></p>

          <p><span>Bắt đầu từ 12h00 ngày 12/09/2019</span></p>

          <div class="noti-gallery">
            <div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="15"
              data-slides-per-view="auto" class="swiper-container swiper-init swiper-container-horizontal">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="simple-slide js-noti-gallery" data-thumb="1">
                    <div class="img-wrapper">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-190919124236-637044937560026858.jpg"
                        alt="2">
                    </div>
                    <div class="image-caption">Chỉ một cơn lũ cũng có thể cuốn trôi đi tất cả</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="simple-slide js-noti-gallery" data-thumb="2">
                    <div class="img-wrapper">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-190919124253-637044937735412359.jpg"
                        alt="2">
                    </div>
                    <div class="image-caption">Dù nghèo khó nhiều bề, nhưng chị Lan, vợ anh Mến vẫn luôn vui vẻ, lạc
                      quan.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="simple-slide js-noti-gallery" data-thumb="3">
                    <div class="img-wrapper">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-190919124312-637044937922073546.jpg"
                        alt="2">
                    </div>
                    <div class="image-caption">Bãi đất trơ trọi phía sau nhà của anh Cảnh</div>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <p><span>Đón chờ thông tin trên Fan page Ví MoMo &amp; loan tin cho 500 anh em ‘thiện lành’ sẵn sàng tham gia
              ngay!</span></p>

          <p>&nbsp;</p>

        </div>

        <div class="sale-cluster">
          <div class="sale-cluster-title">
            Giới thiệu
          </div>

          <div class="sale-cluster-content">
            Nhân dịp tết đến xuân về, NCT ra mắt gói VIP dành riêng cho các thành viên MOMO. Kính chúc xuân sang
            tràn đầy hạnh phúc cùng gia đình thân yêu

          </div>
        </div>

        <div class="sale-cluster">
          <div class="sale-cluster-title">
            Thông tin chương trình

          </div>
          <div class="js-sale-more">
            <div class="sale-cluster-content ">
              Chương trình áp dụng cho thành viên Vàng từ ngày 10/6 - 30/6/2019 với các tỉ lệ hấp dẫn cho nhiều
              dịch
              vụ:

              <ul class="list-unstyled list-format mt-2">
                <li>
                  Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

                </li>
                <li>
                  <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
                  đãi
                  chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
                  NCTMOMO để giảm 50% so với giá gốc

                </li>
                <li>
                  Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
                </li>

                <li>
                  Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

                </li>
                <li>
                  <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
                  đãi
                  chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
                  NCTMOMO để giảm 50% so với giá gốc

                </li>
                <li>
                  Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
                </li>
              </ul>
            </div>


            <div class="js-sale-more-btn">+ XEM THÊM</div>
          </div>

        </div>

        <div class="sale-cluster">

          <div class="sale-cluster-content">
            Tính năng Hoàn Tiền bản chính thức sẽ xuất hiện trên Ví MoMo của toàn bộ người dùng trong thời gian tới
            với nhiều tính năng mới, hấp dẫn hơn và tiết kiệm hơn!
          </div>
        </div>

        <div class="sale-cluster">
          <div class="sale-cluster-title">
            Trợ giúp

          </div>

          <div class="sale-cluster-content">
            Chương trình áp dụng cho thành viên Vàng từ ngày 10/6 - 30/6/2019 với các tỉ lệ hấp dẫn cho nhiều dịch
            vụ:


          </div>
        </div>
      </div>
    </div>
  </div>

</template>


<script>

  return {
    data: function () {


      return {

      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;


        /*=== With Captions ===*/
        var myPhotoBrowserNoti = app.photoBrowser.create({
          photos: [
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124236-637044937560026858.jpg",
              caption:
                "Các bé cùng thả bóng bay, chắp cánh ước mơ và hy vọng trong “Ngày hội hoa hướng dương”"
            },
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124253-637044937735412359.jpg",
              caption:
                "Các bé tham gia “Ngày hội hoa hướng dương” chuỗi hoạt động nằm trong chương trình “Ước Mơ của Thúy”"
            },
            // This one without caption
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124312-637044937922073546.jpg",
              caption:
                "Các bé cùng thả bóng bay, chắp cánh ước mơ và hy vọng trong “Ngày hội hoa hướng dương”"
            }
          ],
          theme: "dark",
          type: "standalone",
          backLinkText: ""
        });


        $$(".js-noti-gallery").on("click", function (e) {
          var thumb = $$(this).attr('data-thumb') - 1;
          console.log(thumb);
          myPhotoBrowserNoti.open(thumb);
        });


      },
    },
  };

</script>