<template>
  <div class="page" data-name="home">
    <!-- <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Ước mơ của Thúy</div>
      </div>
    </div> -->

    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class="w-100">
          <p class="row mb-0">
            <a class="col button button-fill button-large color-gray link back"
              >Quay lại</a
            >

            <button
              class="col button button-fill button-large color-pink sheet-open"
              data-sheet=".dona-sheet-money2"
            >
              Quyên heo
            </button>
            <button
              class="col button button-fill button-large color-pink sheet-open"
              data-sheet=".dona-sheet-money"
            >
              Quyên góp
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="page-content">
      <div class="embed-responsive embed-responsive-apd">
        <div class="embed-responsive-img">
          <div class="dona-share">
            <button
              class="col button button-fill button-round-ios color-white text-color-black sheet-open"
              data-sheet=".dona-sheet-share"
            >
              Chia sẽ <i class="f7-icons lutie-14">forward_fill</i>
            </button>
          </div>

          <img
            data-src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
            class="img-fluid lazyloaded"
            alt="Ước mơ của Thúy"
            src="https://a0.muscache.com/4ea/air/v2/pictures/1037c788-2a11-4168-a950-d03e69018665.jpg?t=r:w750-h500-sfit,e:fjpg-c80"
          />
        </div>
      </div>

      <div class="card dona-hero">
        <div class="card-content card-content-padding">
          <div class="pron-row no-gutters align-items-center">
            <div class="pron-col auto">
              <div class="izlu-avatar dona-avatar">
                <img
                  src="https://cdn.mservice.io/static/gcs_partner_m4b/24448-2019-05-31/tRaP2VgBExq9tqXo56NB_1559296482937"
                  class="img-fluid mx-auto"
                  alt=""
                />
              </div>
            </div>
            <div class="pron-col">
              <h3 class="mt-0 mb-0 lutie-card-heading">Ước mơ của Thúy</h3>
              <div class="lutie-card-subheading mb-0">
                Hỗ trợ bệnh nhi ung thư
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content card-content-padding">
          <div class="dona-content">
            <div class="dona-text">
              Đã quyên góp được
              <strong>
                98.000.000đ
              </strong>
              / 300.000.000đ
            </div>

            <div class="dona-process">
              <div class="progressbar color-pink" data-progress="20">
                <span></span>
              </div>
            </div>

            <div class="dona-meta">
              <div
                class="pron-row no-gutters align-items-center justify-content-between flex-nowrap"
              >
                <div class="pron-col auto">
                  <div class="mr-3">
                    <div class="lutie-12">Lượt quyên góp</div>
                    <div class="font-weight-bold">1900</div>
                  </div>
                </div>
                <div class="pron-col auto">
                  <div class="mr-3">
                    <div class="lutie-12">Đạt được</div>
                    <div class="font-weight-bold">69%</div>
                  </div>
                </div>

                <div class="pron-col auto">
                  <div class="mr-3">
                    <div class="lutie-12">Thời hạn còn</div>
                    <div class="font-weight-bold">5 ngày</div>
                  </div>
                </div>

                <div class="pron-col auto d-none">
                  <div class="text-color-green font-12">
                    Đã đạt mục tiêu
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pron-section border-top mt-4 pt-4">
            <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
              Thông tin
            </h4>
            <div
              class="pron-section-content lutie-section-content text-align-justify"
            >
              <div class="lutie-section-less">
                <p style="text-align: justify;">
                  <em
                    >“Khó có ai có thể đứng vững nếu biết trước một ngày không
                    xa mình sẽ không còn tồn tại nữa; khó có ai lạc quan sống
                    khi phải đồng hành cùng căn bệnh ung thư và khó có ai dám
                    nghĩ rằng mình sẽ làm được những việc ý nghĩa trong những
                    tháng ngày còn lại. Nhưng, đối với Lê Thanh Thúy, dẫu biết
                    rằng một ngày không mong đợi sẽ đến, mỗi ngày Thúy vẫn ráng
                    sống thật vui với nụ cười trên môi, vẫn nặng tình với những
                    sẻ chia cùng những người đồng cảnh ngộ và vẫn lạc quan cùng
                    điều ước có một phép màu làm tan biến đi những tế bào ung
                    thư…”</em
                  >
                  Trích trong cuốn “<strong
                    >Xin hãy cho con thêm thời gian</strong
                  >” của <strong>Lê Thanh Thúy.</strong>
                </p>
                <p style="text-align: justify;">
                  Thúy là biểu tượng cho tinh thần vượt lên số phận để sống trọn
                  vẹn từng ngày. Cô tạo ấn tượng với mọi người bằng hành trình 4
                  năm đấu tranh với căn bệnh ung thư vô cùng quyết liệt, bằng nụ
                  cười luôn nở trên môi tới tận lúc từ trần. Trong 4 năm ấy cô
                  đã tham gia nhiều&nbsp;tổ chức và hoạt động cho các bệnh nhi
                  ung thư.&nbsp;
                </p>
                <p style="text-align: justify;">
                  Chuyện về <strong>Lê Thanh Thúy</strong> không chỉ đơn thuần
                  là câu chuyện của một bạn trẻ tiêu biểu với mong muốn, khát
                  khao sống mãnh liệt, lại phải chống chọi với căn bệnh quái ác.
                  Mà đó còn là những bài học quý báu về nghị lực và sự lạc quan
                  trong cuộc sống.&nbsp;
                </p>
                <p style="text-align: justify;">
                  <strong>"Ước mơ của Thúy"</strong> là chương trình được thành
                  lập bởi <strong>báo Tuổi Trẻ</strong> tiếp nối nguyện vọng của
                  cô nhằm gây quỹ và hỗ trợ các bệnh nhi ung thư, không chỉ về
                  vật chất mà quan trọng hơn là những giá trị tinh thần, giúp
                  các em vơi đi nỗi đau và tiếp tục nỗ lực phấn đấu vượt qua số
                  phận.
                </p>
                <p style="text-align: justify;">
                  Hoạt động chính của quỹ bao gồm: Chúc mừng sinh nhật, tặng quà
                  ước nguyện, hỗ trợ kinh phí điều trị bệnh, ngày hội hoa hướng
                  dương “Vì bệnh nhi ung thư”…
                </p>
              </div>

              <div class="py-3">
                <a
                  href="#"
                  class="col button button-outline border-lightgray popup-open"
                  data-popup=".cbs-present-more"
                  >Xem chi tiết</a
                >
              </div>
            </div>
          </div>

          <div class="pron-section border-top mt-4 pt-4">
            <h4 class="lutie-section-heading font-weight-bold mt-0 mb-3">
              Hình ảnh
            </h4>
            <div class="pron-section-content lutie-section-content">
              <div class="pron-container izlu-gallery js-donation-gallery">
                <div class="pron-row">
                  {{#times 2}}

                  <div class="pron-col">
                    <div class="izlu-gallery-item">
                      <div class="embed-responsive embed-responsive-1by1">
                        <img
                          src="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg"
                          class="embed-responsive-img img-object-cover rounded"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>

                  <div class="pron-col">
                    <div class="izlu-gallery-item">
                      <div class="embed-responsive embed-responsive-1by1">
                        <img
                          src="https://static.mservice.io/blogscontents/momo-upload-api-190715170229-636988069495497917.jpg"
                          class="embed-responsive-img img-object-cover rounded"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>

                  <div class="pron-col">
                    <div class="izlu-gallery-item">
                      <div class="embed-responsive embed-responsive-1by1">
                        <img
                          src="https://static.mservice.io/blogscontents/momo-upload-api-190715170252-636988069728133296.jpg"
                          class="embed-responsive-img img-object-cover rounded"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>

                  {{/times 10}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content card-content-padding">
          <div class="pron-section">
            <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
              Những nhà hảo tâm hàng đầu
            </h4>

            <div class="campaign-people">
              <div class="campaign-people-list">
                <div class="campaign-people-item">
                  <div class="campaign-people-avatar is-small is-image">
                    <img src="images/donation/v1.svg" width="28" alt="" />
                  </div>

                  <div class="campaign-people-avatar is-avatar">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg"
                      class="img-fluid"
                      width=""
                      alt=""
                    />
                  </div>

                  <div class="campaign-people-info">
                    <div class="campaign-people-name">
                      TRUONG NHA PHUONG
                    </div>
                    <div class="campaign-people-phone">
                      *******434
                    </div>
                  </div>

                  <div class="campaign-people-money">
                    1
                    <img
                      src="images/donation/heo-icon.svg"
                      class="icon-heovang"
                      width="24"
                      alt=""
                    />
                  </div>
                </div>

                <div class="campaign-people-item">
                  <div class="campaign-people-avatar is-small is-image">
                    <img src="images/donation/v2.svg" width="28" alt="" />
                  </div>

                  <div class="campaign-people-avatar is-avatar">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg"
                      class="img-fluid"
                      width=""
                      alt=""
                    />
                  </div>

                  <div class="campaign-people-info">
                    <div class="campaign-people-name">
                      TRINH KIM Y
                    </div>
                    <div class="campaign-people-phone">
                      *******434
                    </div>
                  </div>

                  <div class="campaign-people-money">
                    4
                    <img
                      src="images/donation/heo-icon.svg"
                      class="icon-heovang"
                      width="24"
                      alt=""
                    />
                  </div>
                </div>

                <div class="campaign-people-item">
                  <div class="campaign-people-avatar is-image is-small">
                    <img src="images/donation/v3.svg" width="28" alt="" />
                  </div>
                  <div class="campaign-people-avatar is-avatar">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg"
                      class="img-fluid"
                      width=""
                      alt=""
                    />
                  </div>

                  <div class="campaign-people-info">
                    <div class="campaign-people-name">
                      TRẦN THỊ HỒNG HOA
                    </div>
                    <div class="campaign-people-phone">
                      *******434
                    </div>
                  </div>

                  <div class="campaign-people-money">
                    2
                    <img
                      src="images/donation/heo-icon.svg"
                      class="icon-heovang"
                      width="24"
                      alt=""
                    />
                  </div>
                </div>

                {{#times 5}}
                <div class="campaign-people-item">
                  <div class="campaign-people-avatar is-small">
                    4
                  </div>

                  <div class="campaign-people-avatar is-avatar">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg"
                      class="img-fluid"
                      width=""
                      alt=""
                    />
                  </div>

                  <div class="campaign-people-info">
                    <div class="campaign-people-name">
                      Nguyễn Văn D
                    </div>
                    <div class="campaign-people-phone">
                      *******434
                    </div>
                  </div>

                  <div class="campaign-people-money">
                    5000đ
                  </div>
                </div>

                {{/times}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content card-content-padding">
          <div class="pron-section">
            <h4 class="lutie-section-heading font-weight-bold mt-0 mb-0">
              Danh sách nhà hảo tâm
            </h4>

            <div class="campaign-people">
              <div class="campaign-people-list">
                {{#times 8}}
                <div class="campaign-people-item">
                  <div class="campaign-people-avatar is-avatar">
                    <img
                      src="https://static.mservice.io/blogscontents/momo-upload-api-190715170209-636988069298419087.jpg"
                      class="img-fluid"
                      width=""
                      alt=""
                    />
                  </div>
                  <div class="campaign-people-info">
                    <div class="campaign-people-name">
                      Nguyễn Văn D
                    </div>
                    <div class="campaign-people-phone">
                      *******434
                    </div>
                  </div>

                  <div class="campaign-people-money">
                    5000đ
                  </div>
                </div>
                <div class="campaign-people-comment">
                  <div class="content">
                    Tha hồ nạp tiền điện thoại, đi siêu thị, mua vé máy bay, vé
                    xem phim… trên MoMo
                  </div>
                </div>

                {{/times}}

              </div>
            </div>

            <div class="mt-0 campaign-people-more">
              <div class="text-center">
                <div class="preloader"></div>
              </div>

              <button class="button col">
                Xem thêm
                <i class="f7-icons lutie-12">chevron_down</i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="row">
          <button class="col button button-fill" id="donation-success">
            Thành công
          </button>
          <button class="col button button-fill" id="donation-thanks">
            Cám ơn
          </button>
          <button class="col button button-fill" id="donation-outmoney">
            Hết tiền
          </button>
          <button class="col button button-fill" id="donation-none">
            0 Heo
          </button>
          <button class="col button button-fill" id="donation-confirm">
            Confirm
          </button>
          <button class="col button button-fill" id="donation-fail">
            Fail
          </button>
        </p>

        <p class="row">
          <button class="col button button-fill" id="donation-thanks2">
            Thanks
          </button>
        </p>
      </div>
    </div>

    <div class="popup demo-popup-swipe-handler cbs-present-more">
      <div class="page">
        <div class="swipe-handler popup-close"></div>
        <div class="page-content">
          <div class="block mt-4">
            <div class="dona-post">
              <p style="text-align: justify;">
                <em
                  >“Khó có ai có thể đứng vững nếu biết trước một ngày không xa
                  mình sẽ không còn tồn tại nữa; khó có ai lạc quan sống khi
                  phải đồng hành cùng căn bệnh ung thư và khó có ai dám nghĩ
                  rằng mình sẽ làm được những việc ý nghĩa trong những tháng
                  ngày còn lại. Nhưng, đối với Lê Thanh Thúy, dẫu biết rằng một
                  ngày không mong đợi sẽ đến, mỗi ngày Thúy vẫn ráng sống thật
                  vui với nụ cười trên môi, vẫn nặng tình với những sẻ chia cùng
                  những người đồng cảnh ngộ và vẫn lạc quan cùng điều ước có một
                  phép màu làm tan biến đi những tế bào ung thư…”</em
                >
                Trích trong cuốn “<strong>Xin hãy cho con thêm thời gian</strong
                >” của <strong>Lê Thanh Thúy.</strong>
              </p>
              <p style="text-align: justify;">
                Thúy là biểu tượng cho tinh thần vượt lên số phận để sống trọn
                vẹn từng ngày. Cô tạo ấn tượng với mọi người bằng hành trình 4
                năm đấu tranh với căn bệnh ung thư vô cùng quyết liệt, bằng nụ
                cười luôn nở trên môi tới tận lúc từ trần. Trong 4 năm ấy cô đã
                tham gia nhiều&nbsp;tổ chức và hoạt động cho các bệnh nhi ung
                thư.&nbsp;
              </p>
              <p style="text-align: justify;">
                Chuyện về <strong>Lê Thanh Thúy</strong> không chỉ đơn thuần là
                câu chuyện của một bạn trẻ tiêu biểu với mong muốn, khát khao
                sống mãnh liệt, lại phải chống chọi với căn bệnh quái ác. Mà đó
                còn là những bài học quý báu về nghị lực và sự lạc quan trong
                cuộc sống.&nbsp;
              </p>
              <p style="text-align: justify;">
                <strong>"Ước mơ của Thúy"</strong> là chương trình được thành
                lập bởi <strong>báo Tuổi Trẻ</strong> tiếp nối nguyện vọng của
                cô nhằm gây quỹ và hỗ trợ các bệnh nhi ung thư, không chỉ về vật
                chất mà quan trọng hơn là những giá trị tinh thần, giúp các em
                vơi đi nỗi đau và tiếp tục nỗ lực phấn đấu vượt qua số phận.
              </p>
              <p style="text-align: justify;">
                Hoạt động chính của quỹ bao gồm: Chúc mừng sinh nhật, tặng quà
                ước nguyện, hỗ trợ kinh phí điều trị bệnh, ngày hội hoa hướng
                dương “Vì bệnh nhi ung thư”…
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-none">
    <div id="thanks" class="dialog">
      <div class="pron-popup">
        <div class="pron-popup-image">
          <img src="/images/donation/img-popup-banner.svg" class="img-fluid" />
        </div>
        <div class="pron-popup-content text-left">
          <h3 class="mt-0 mb-4 lutie-22">Thành công !</h3>
          <div>
            Chân thành cảm ơn Quý khách đã quyên góp cho chương trình Ước mơ của
            Thuý
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .button-coin-icon {
    width: 54px;
    position: absolute;
    top: 7px;
    right: 4px;
    pointer-events: none;
  }
</style>

<script>
  return {
    data: function () {
      return {};
    },
    methods: {},
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        var toastCopy = app.toast.create({
          text: "Sao chép liên kết thành công",
          closeTimeout: 2000,
        });

        $$(".open-toast-copy").on("click", function () {
          toastCopy.open();
        });

        var swipeToClosePopup = app.popup.create({
          el: ".cbs-present-more",
          swipeToClose: "to-bottom",
        });

        $$(".dona-sheet-money2").on("sheet:opened", function (e, sheet) {
          self.stepperPig = app.stepper.create({
            el: "#stepper-pig",
            on: {
              change: function (val) {
                console.log(val.value);
                val.$buttonPlusEl.removeClass("opacity-5");
                val.$buttonMinusEl.removeClass("opacity-5");

                if (val.value == val.max) {
                  val.$buttonPlusEl.addClass("opacity-5");
                }
                if (val.value == val.min) {
                  val.$buttonMinusEl.addClass("opacity-5");
                }
              },
            },
          });
        });

        $$("#donation-success").on("click", function () {
          var dialog = app.dialog
            .create({
              title: "",
              text: "",
              cssClass: "pron-popup-container",
              content:
                '<div class="pron-popup">' +
                '   <div class="pron-popup-image">' +
                '     <img src="/images/donation/img-popup-banner.svg" class="img-fluid">' +
                "   </div>" +
                '  <div class="pron-popup-content text-left">' +
                '     <h3 class="mt-0 mb-4 lutie-22 " >Thành công ! </h3> ' +
                "     <div >Chân thành cảm ơn Quý khách đã quyên góp cho chương trình Ước mơ của Thuý </div> " +
                "   </div>" +
                "</div>",
              buttons: [{ text: "ĐỒNG Ý" }],

              on: {
                open: function () {
                  console.log("OPEN");
                },
              },
            })
            .open();
        });

        var donationThanksInfo =
          '<div class="dona-thanks-info">' +
          '        <div class="dona-thanks-col">' +
          '          <div class="dona-thanks-val">' +
          "           <span>+02</span>" +
          '            <img src="images/donation/heo-v-ng.svg" width="20" alt="">' +
          "          </div>" +
          '          <div class="dona-thanks-la">' +
          "            Đã quyên góp" +
          "          </div>" +
          "        </div>" +
          '        <div class="dona-thanks-col">' +
          '          <div class="dona-thanks-val">' +
          "            1056" +
          '            <img src="images/donation/thanks-heart.svg" width="20" alt="">' +
          "          </div>" +
          '          <div class="dona-thanks-la">' +
          "            Lượt quyên góp" +
          "          </div>" +
          "        </div>" +
          "      </div>";

        $$("#donation-thanks").on("click", function () {
          var dialog = app.dialog
            .create({
              title: "",
              closeByBackdropClick: true,
              text: "",
              content:
                '<div class="pron-popup">' +
                '   <div class="pron-popup-image">' +
                '     <img src="/images/donation/img-popup-banner.svg" class="img-fluid">' +
                "   </div>" +
                '  <div class="pron-popup-content text-left">' +
                '     <h3 class="mt-0 mb-2 lutie-18 " >Cám ơn Bạn </h3> ' +
                "     <div >Vì hành động cao đẹp. Hãy chia sẻ hoàn cảnh này đến bạn bè để điều kỳ diệu sớm trở thành hiện thực.</div> " +
                donationThanksInfo +
                '<div class="py-3"> <a href="" id="share-hmm" class="button button-fill color-pink py-1 h-auto">Chia sẻ</a> </div>' +
                "   </div>" +
                "</div>",
              cssClass: "pron-popup-container",

              on: {
                open: function (d) {
                  console.log("OPEN");

                  d.$el.find("#share-hmm").on("click", function (e) {
                    console.log("dwdw");
                  });
                },
              },
            })
            .open();
        });

        $$("#donation-outmoney").on("click", function () {
          var dialog = app.dialog
            .create({
              title: "",
              closeByBackdropClick: true,
              text: "",
              content:
                '<div class="pron-popup">' +
                ' <div class="pron-popup-close" ><img src="/images/donation/popup-close.svg"/></div> ' +
                '   <div class="pron-popup-image">' +
                '     <img src="/images/donation/z-data-no-use-popup-banner.svg" class="img-fluid">' +
                "   </div>" +
                '  <div class="pron-popup-content text-left">' +
                '     <h3 class="mt-0 mb-2 lutie-18 " >Số dư trong ví không đủ </h3> ' +
                "     <div >Tài khoản của bạn không đủ để tiếp tục ủng hộ. Bạn vui lòng nạp thêm vào ví MôM tối thiểu từ 1000đ để duy trì tài khoản đăng ký nhé!</div> " +
                '<div class="py-3"> <a href="" id="share-hmm" class="button button-fill color-pink py-1 h-auto">Nạp tiền vào ví</a> </div>' +
                "   </div>" +
                "</div>",
              cssClass: "pron-popup-container",

              on: {
                open: function (d) {
                  console.log("OPEN");

                  d.$el.find(".pron-popup-close").on("click", function (e) {
                    app.dialog.close();
                  });
                },
              },
            })
            .open();
        });

        var donationThanksInfo2 =
          '<div class="dona-thanks-info pb-4">' +
          '        <div class="dona-thanks-col">' +
          '          <div class="dona-thanks-val">' +
          "            1056" +
          '            <img src="images/donation/thanks-heart.svg" width="20" alt="">' +
          "          </div>" +
          '          <div class="dona-thanks-la">' +
          "            Lượt quyên góp" +
          "          </div>" +
          "        </div>" +
          "      </div>";

        $$("#donation-thanks2").on("click", function () {
          var dialog = app.dialog
            .create({
              title: "",
              closeByBackdropClick: true,
              text: "",
              content:
                '<div class="pron-popup">' +
                ' <div class="pron-popup-close" ><img src="/images/donation/popup-close.svg"/></div> ' +
                '   <div class="pron-popup-image">' +
                '     <img src="/images/donation/thanks-many.png" class="img-fluid">' +
                "   </div>" +
                '  <div class="pron-popup-content text-center">' +
                '     <h3 class="mt-0 mb-2 lutie-18 " >Cảm ơn LE DUC TUAN </h3> ' +
                "     <div >Thay mặt bé và gia đình, MoMo cảm ơn bạn vì đã cùng chung tay để biến điều kỳ diệu trở thành hiện thực.</div> " +
                donationThanksInfo2 +
                "   </div>" +
                "</div>",
              cssClass: "pron-popup-container",

              on: {
                open: function (d) {
                  console.log("OPEN");

                  d.$el.find(".pron-popup-close").on("click", function (e) {
                    app.dialog.close();
                  });
                },
              },
            })
            .open();
        });

        $$("#donation-none").on("click", function () {
          var dialog = app.dialog
            .create({
              title: "",
              closeByBackdropClick: true,
              text: "",
              content:
                '<div class="pron-popup">' +
                '   <div class="pron-popup-image">' +
                '     <img src="/images/donation/banner-heo-vang.jpg" class="img-fluid">' +
                "   </div>" +
                '  <div class="pron-popup-content text-left">' +
                '     <h3 class="mt-0 mb-2 lutie-18 " >Bạn chưa có Heo Vàng</h3> ' +
                "     <div >Hãy vào tính năng Hoàn tiền và cho Heo Đất ăn ngay để thu thập Heo Vàng.</div> " +
                '<div class="py-3 position-relative"> <a href="" id="share-hmm" class="button button-fill color-green py-1 h-auto">Nuôi heo</a> <img src="/images/donation/t-i-th-c-n.svg" class="button-coin-icon"/>  </div>' +
                "   </div>" +
                "</div>",
              cssClass: "pron-popup-container",

              on: {
                open: function (d) {
                  console.log("OPEN");

                  d.$el.find("#share-hmm").on("click", function (e) {
                    console.log("dwdw");
                  });
                },
              },
            })
            .open();
        });

        $$("#donation-confirm").on("click", function () {
          var dialog = app.dialog
            .create({
              title: "",
              text: "",
              cssClass: "pron-popup-container",
              content:
                '<div class="pron-popup">' +
                '  <div class="pron-popup-content text-left">' +
                '     <h3 class="mt-0 mb-4 lutie-22 " >Xác nhận</h3> ' +
                "     <div >Xác nhận quyên góp 5 Heo Vàng cho chương trình Ước mơ của Thuý </div> " +
                "   </div>" +
                "</div>",
              buttons: [
                {
                  text: "HỦY",
                  close: true,
                  color: "gray",
                },
                { text: "XÁC NHẬN" },
              ],

              on: {
                open: function () {
                  console.log("OPEN");
                },
              },
            })
            .open();
        });

        $$("#donation-fail").on("click", function () {
          var dialog = app.dialog
            .create({
              title: "",
              text: "",
              cssClass: "pron-popup-container",
              content:
                '<div class="pron-popup">' +
                '  <div class="pron-popup-content text-left">' +
                "     <div >Đã xảy ra lỗi trong quá trình xử lý. Quý khách vui lòng thực hiện lại sau.</div> " +
                "   </div>" +
                "</div>",
              buttons: [{ text: "ĐÓNG" }],

              on: {
                open: function () {
                  console.log("OPEN");
                },
              },
            })
            .open();
        });
      },
    },
  };
</script>
