<div class="page">

  <div class="navbar momo-navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="" class="logo-momo link back ml-2">
          <img src="https://static.mservice.io/img/logo-momo.png" class="img-fluid" alt="">
        </a>
      </div>

      <div class="title">Xác nhận thanh toán</div>
    </div>
  </div>



  <div class="toolbar toolbar-bottom toolbar-large">
    <div class="toolbar-inner">
      <div class=" w-100">
        <p class="row mb-0 ">
      
          <button class="col button button-fill button-large color-pink sheet-open" data-sheet=".dona-sheet-pass">  <img src="images/donation/lock-icon.svg" width="12" class="mr-1 va-5" alt="">  Xác nhận </button>
        </p>
      </div>

    </div>
  </div>

  <div class="page-content">



    <div class="block-title">NGUỒN TIỀN</div>


    <div class="block block-strong ">

      <div class="pron-row no-gutters align-items-center">
        <div class="pron-col auto">
          <div class="dona-momo-icon mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline svg" viewBox="0 0 29.29 27.32" fill="#fff">
              <g data-name="Layer 2">
                <g data-name="Layer 1">
                  <path
                    d="M22.94 12.68a6.34 6.34 0 1 0-6.35-6.34 6.34 6.34 0 0 0 6.35 6.34zm0-9.1a2.76 2.76 0 1 1-2.77 2.76 2.77 2.77 0 0 1 2.77-2.76zM10.57 0a5.1 5.1 0 0 0-2.88.89A5.1 5.1 0 0 0 4.81 0 4.65 4.65 0 0 0 0 4.46v8.22h3.86V4.46a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V4.46a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V4.46A4.65 4.65 0 0 0 10.57 0zM22.94 27.32A6.35 6.35 0 1 0 16.59 21a6.32 6.32 0 0 0 6.34 6.32zm0-9.1a2.75 2.75 0 1 1-.05 0zM10.57 14.64a5.1 5.1 0 0 0-2.88.89 5.1 5.1 0 0 0-2.88-.89A4.65 4.65 0 0 0 0 19.1v8.22h3.86V19.1a.93.93 0 0 1 .95-.88.93.93 0 0 1 1 .84v8.22h3.82V19.1a1 1 0 0 1 1.26-.63 1 1 0 0 1 .64.63v8.22h3.86V19.1a4.65 4.65 0 0 0-4.82-4.46z" />
                </g>
              </g>
            </svg>

          </div>
        </div>
        <div class="pron-col">
          <div class="lutie-16 font-weight-normal mb-1">Ví hoàn tiền</div>
          <div class="opacity-5 lutie-12">4.500đ</div>
        </div>
      </div>


    </div>





    <div class="block-title">Chi tiết giao dịch</div>

    <div class="list list-style1">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Hóa đơn</div>
              <div class="item-after">Ước mơ của Thúy</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Số tiền</div>
              <div class="item-after"> 4.000đ</div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Phí giao dịch</div>
              <div class="item-after"> Miễn phí</div>
            </div>
          </div>
        </li>

        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Tổng tiền</div>
              <div class="item-after"> <strong>1.000đ</strong></div>
            </div>
          </div>
        </li>

      </ul>
    </div>


    <div class="block">
      <div class="pron-row no-gutters">
        <div class="pron-col auto">
          <img src="images/donation/dv-image-seal.png" width="80" class="d-block mr-4" alt="">
        </div>
        <div class="pron-col">
          <div class="lutie-12 opacity-5">
            Bảo mật chuẩn SSL/TLS, mọi thông tin giao dịch đều được mã hoá an toàn.
          </div>
        </div>
      </div>
    </div>


  </div>






</div>