<template>
  <div class="page" data-name="home">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Baskin Robbins</div>
      </div>
    </div>


    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a class="col button button-fill button-large color-gray link back ">Quay lại</a>

            <button class="col button button-fill button-large color-pink  ">Sử dụng
            </button>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content">


      <div class="embed-responsive embed-responsive-cb ">

        <img data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190816161032-637015686321342629.jpg"
          class="img-fluid  lazy embed-responsive-img" alt="Ước mơ của Thúy">
      </div>

      <div class="pron-container balance bg-white cas-heading-container">
        <div class="pron-row no-gutters ">
          <div class="pron-col auto">
            <div class="izlu-avatar big">
              <img class="img-fluid lazy" alt=""
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-190723142918-636994889581773058.jpg">
            </div>
          </div>
          <div class="pron-col">
            <div class="cas-heading">

              <div>

                <a href="#" class="button button-fill button-round color-blue cas-heading-cat">Siêu thị</a>

              </div>

              <div class="cas-title font-weight-bold ">
                Baskin Robbins

              </div>

              <div class="cas-sub">
                Kem 31 mùi từ nước Mỹ
              </div>

              <!--   <div class="cas-cat">
                Kem 31 mùi từ nước Mỹ
              </div> -->


              <div class="cas-lo text-truncate">
                <i class="f7-icons lutie-13 ">placemark_fill</i> 13 địa điểm
              </div>

            </div>

          </div>

          <div class="pron-col auto">
            <div class="cas-item-number big">
              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">15%</span>
              </div>
            </div>
          </div>

        </div>
      </div>




      <div class="card ">

        <div class="card-content card-content-padding pb-0">

          <div class="pron-section pron-container">

            <div class="js-pron-viewmore  active">
              <div class="js-pron-viewmore-content mb-2 is-170 is-white">
                <div class="izlude-cbs-sale">
                  <strong>Chi tiết ưu đãi:</strong><br>
                  Hoàn tiền 50% tối đa 50.000đ trên tổng hóa đơn (duy nhất ngày 1/11/2019)<br>
                  <br>
                  <strong>Điều kiện và điều khoản:</strong><br>
                  - Chỉ áp dụng cho lần thanh toán đầu tiên của khách hàng trong ngày 1/11/2019<br>
                  - Những lần thanh toán tiếp theo, áp dụng tỷ lệ hoàn tiền mặc định của cửa hàng tiện lợi.<br>
                  - Áp dụng cho các khách hàng đang liên kết ngân hàng với MoMo<br>
                  - Không được cộng gộp với ưu đãi hoặc thẻ quà khác<br>
                  - Ưu đãi có hạn và có thể kết thúc sớm hơn thời gian dự tính

                  <div class="">• &ensp; Áp dụng cho tất cả các khách hàng có đăng ký ví MoMo</div>
                </div>
              </div>
              <div class="js-pron-viewmore-btn text-center">

                <div class="pt-2 pb-3">
                  <a href="#" class="  open">Xem thêm <i class="f7-icons">chevron_down</i> </a>

                  <a href="#" class="  close">Rút gọn <i class="f7-icons">chevron_up</i>
                  </a>
                </div>

              </div>

            </div>


          </div>



        </div>

      </div>


      <div class="pron-container balance">

        <h4 class="mt-5 mb-4 lutie-section-title font-weight-normal">
          13 cửa hàng tại <span class="text-color-blue font-weight-bold">Quận 7 - TP. Hồ Chí Minh</span>
        </h4>



      </div>

      <div class=" cashback-filter-single ">
        <div class="cashback-filter ">
          <div class="cashback-filter-item ">

            <div class="nhan">Danh mục</div>

            <a class="geffen-smart smart-select smart-select-init" data-routable-modals="false" data-open-in="popup"
              data-close-on-select="true" data-popup-close-link-text="Đóng" data-page-title="Chọn danh mục"
              data-css-class=" popup-smartselect">

              <select name="danhmuc" id="danhmuc">
                <option label="Cửa hàng tiện lợi" value="number:50" selected="selected"
                  data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                  data-option-class="cashback-cat-icon">Cửa hàng tiện lợi</option>
                <option label="Siêu thị" value="number:143"
                  data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                  data-option-class="cashback-cat-icon">Siêu thị</option>

                <option label="Siêu thị" value="number:2"
                  data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_cafe_dessert@3x.png"
                  data-option-class="cashback-cat-icon">Cà phê - Trà sữa</option>

                <option label="Siêu thị" value="number:3"
                  data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                  data-option-class="cashback-cat-icon">Nhà hàng</option>
                <option label="Siêu thị" value="number:4"
                  data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                  data-option-class="cashback-cat-icon">Giải trí</option>

                <option label="Siêu thị" value="number:5"
                  data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                  data-option-class="cashback-cat-icon">Giải trí</option>

                <option label="Siêu thị" value="number:6"
                  data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                  data-option-class="cashback-cat-icon">Giải trí</option>
              </select>
              <div class="item-title"></div>
            </a>


          </div>


          <div class="cashback-filter-item ">
            <div class="nhan">Quận huyện</div>

            <a class="geffen-smart smart-select smart-select-init" data-open-in="popup" data-close-on-select="true"
              data-popup-close-link-text="Đóng" data-page-title="Chọn Quận huyện" data-css-class=" popup-smartselect">

              <select name="sapxep">
                <option value="mac" selected>Tất cả</option>
                <option value="mac">Quận 1</option>
                <option value="windows">Quận 2</option>
                <option value="windows">Quận 3</option>
                <option value="windows">Quận 4</option>
                <option value="windows">Quận 5</option>
                <option value="windows">Quận 6</option>
                <option value="windows">Quận 7</option>
                <option value="windows">Quận 8</option>
                <option value="windows">Quận 9</option>
                <option value="windows">Quận 10</option>
                <option value="windows">Quận 11</option>
                <option value="windows">Quận 12</option>
              </select>
              <div class="item-title"></div>
            </a>

          </div>
        </div>
      </div>


      <div class="card ">



        <div class="card-content ">


          <div class="list media-list inset cas-address-list p-0 m-0">
            <ul class="">
              <li>
                <div class="item-content ">
                  <div class="item-inner">

                    <div class="pron-row no-gutter align-items-center">
                      <div class="pron-col">
                        <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                      </div>
                      <div class="pron-col auto">
                        <a href="momo.vn" class="lutie-13 link external cas-address-navi"><i
                            class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                      </div>
                    </div>
                    <div class="lutie-14 cas-address-name  ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                      Chí Minh
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class=" item-content ">

                  <div class="item-inner">

                    <div class="pron-row no-gutter align-items-center">
                      <div class="pron-col">
                        <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                      </div>
                      <div class="pron-col auto">
                        <a href="momo.vn" class="lutie-13 link external cas-address-navi"><i
                            class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                      </div>
                    </div>
                    <div class="lutie-14 cas-address-name  ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                      Chí Minh
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class=" item-content ">

                  <div class="item-inner">

                    <div class="pron-row no-gutter align-items-center">
                      <div class="pron-col">
                        <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                      </div>
                      <div class="pron-col auto">
                        <a href="momo.vn" class="lutie-13 link external cas-address-navi"><i
                            class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                      </div>
                    </div>
                    <div class="lutie-14 cas-address-name  ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                      Chí Minh
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>

          <div class="mt-3 pb-5 text-center ">
            <a href="#" class=" button button-outline button-round d-inline-block">Xem
              thêm</a>
          </div>



        </div>

      </div>







      <div class="pron-container balance">

        <h3 class="mt-5 mb-2 lutie-section-title font-weight-bold">
          Hướng dẫn thanh toán
        </h3>
      </div>

      <div class="card ">
        <div class="card-content pt-1">



          <div class="htu-mockup-more  bg-transparent position-relative">

            <a href="#" data-popup=".cas-htu-popup" class="popup-open link-absolute"></a>

            <div class="htu-mockup-item i1"
              style="background-image: url('https://static.mservice.io/img/momo-upload-api-191008171059-637061514597580950.png')">

            </div>
            <div class="htu-mockup-item i2"
              style="background-image: url('https://static.mservice.io/img/momo-upload-api-191008171113-637061514736041034.png')">

            </div>
            <div class="htu-mockup-item i3"
              style="background-image: url('https://static.mservice.io/img/momo-upload-api-191008171135-637061514957710214.png')">

            </div>
          </div>


          <div class="mt-2 pb-5 text-center ">
            <a href="#" data-popup=".cas-htu-popup"
              class="popup-open  button button-outline button-round d-inline-block">Xem
              hướng dẫn</a>
          </div>


        </div>
      </div>







      <div class="pron-container balance">

        <h3 class="mt-5 mb-2 lutie-section-title font-weight-bold">
          Thương hiệu liên quan
        </h3>
      </div>



      <div class="cas-container">
        <div class="cas-item">
          <a href="#" class="link-absolute popup-open" data-popup=".cas-view-more"></a>
          <div class="cas-item-avatar">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cas-item-content">
            <div class="name ">
              Baskin Robbins
            </div>

            <div class="desc text-truncate">
              Tiệm kem Baskin Robbins
            </div>

            <div class="loc text-truncate">
              <i class="f7-icons lutie-15 ">placemark_fill</i> 13 địa điểm
            </div>
          </div>

          <div class="cas-item-value">
            <div class="cas-item-number ">

              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">47%</span>
              </div>

            </div>
          </div>

        </div>

        <div class="cas-item">
          <a href="#" class="link-absolute popup-open" data-popup=".cas-view-more"></a>
          <div class="cas-item-avatar">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-191011135352-637063988329005389.png"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cas-item-content">
            <div class="name ">

              PVI - Bảo hiểm TNDS Ô Tô bắt buộc
            </div>

            <div class="desc text-truncate">

              Bảo hiểm phi nhân thọ
            </div>

            <div class="loc text-truncate">
              <i class="f7-icons lutie-15 ">placemark_fill</i> 2 địa điểm
            </div>
          </div>

          <div class="cas-item-value">
            <div class="cas-item-number ">

              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">15%</span>
              </div>

            </div>
          </div>

        </div>
        <div class="cas-item">
          <a href="#" class="link-absolute popup-open" data-popup=".cas-view-more"></a>
          <div class="cas-item-avatar">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cas-item-content">
            <div class="name ">
              Baskin Robbins
            </div>

            <div class="desc text-truncate">
              Tiệm kem Baskin Robbins
            </div>
          </div>

          <div class="cas-item-value">
            <div class="cas-item-number ">

              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">47%</span>
              </div>

            </div>
          </div>

        </div>


      </div>





    </div>

    <!-- And somewhere in DOM -->
    <div class="popup cas-htu-popup popup-swipe-round">
      <div class="view">
        <div class="page">

          <!-- <a href="#" class="link  popup-close close-button">
            <img src="images/close.svg" alt="Close">
          </a> -->
          <!--   <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link back">
                  <i class="icon icon-back"></i>
                  <span class="if-not-md">Quay lại</span>
                </a>
              </div>
              <div class="title">Hướng dẫn</div>
            </div>
          </div> -->

          <div class="navbar close-handler">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link popup-close">
                  <img src="images/icons/icon-x.svg" width="28" alt="">
                  <!-- <i class="icon icon-back"></i> -->
                </a>
              </div>
              <div class="title">Hướng dẫn Baskin Robbins</div>
            </div>
          </div>



          <!-- <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
              <div class=" w-100">
                <p class="row mb-0 ">
                  <a class="col button button-fill button-large color-gray link popup-close">Quay lại</a>

                  <button class="col button button-fill button-large color-pink  ">Sử dụng
                  </button>
                </p>
              </div>

            </div>
          </div> -->

          <div class="page-content">

            <div data-lazy='{"enabled": true}'
              data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
              class="swiper-container swiper-init htu-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">

                {{#each @root.htu}}
                <div class="swiper-slide">

                  <div class="htu-content">
                    <div class="htu-mockup">
                      <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                        <img data-src="{{image}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                      </div>

                      <div class="htu-mockup-txt">
                        <h3 class="htu-mockup-title mt-0 mb-2">{{title}}</h3>
                        <div class="htu-mockup-body">
                          {{content}}
                        </div>

                        <div class="mt-3  font-italic">
                          {{note}}
                        </div>

                      </div>

                    </div>
                  </div>

                </div>

                {{/each}}
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>



  </div>



</template>


<script>

  return {
    data: function () {


      return {
        htu: [
          {
            "image": "https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg",
            "title": "Tải ứng dụng Ví MoMo",
            "content": "Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store hoặc Google Play Store.",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg",
            "title": "Nhập số điện thoại",
            "content": "Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo. ",
            "note": "Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí Internet Banking của ngân hàng bạn muốn liên kết."
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg",
            "title": "Nhập mã xác thực ",
            "content": "Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn. </br> Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô \"Nhập mã xác thực\" rồi nhấn \"Tiếp tục\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg",
            "title": "Tạo mật khẩu đăng nhập ",
            "content": "Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật khẩu ở 2 ô phải hoàn toàn giống nhau. </br> \nSau đó bấm \"Xác nhận\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg",
            "title": "Nhập thông tin ",
            "content": "Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo yêu cầu và nhấn \"Xác nhận\" để hoàn tất đăng ký.",
            "note": ""
          }
        ]
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;


        const ele = document;
        const saleMoreCon = ele.querySelector(".js-pron-viewmore");
        const saleMore = ele.querySelector(".js-pron-viewmore-content");
        const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
        const saleMoreHeight = saleMore.scrollHeight;

        if (saleMoreHeight > 170) {
          saleMoreCon.classList.add("active");


          saleMoreCon.classList.add("is-long");

          saleMoreBtn.addEventListener("click", function () {
            if (saleMoreCon.classList.contains("active")) {
              saleMore.style.setProperty("max-height", saleMoreHeight + "px");
              saleMoreCon.classList.remove("active");
            } else {
              saleMore.style.setProperty("max-height", "170px");
              saleMoreCon.classList.add("active");
            }
          });
        }
        var casHtu = app.popup.create({
          el: '.cas-htu-popup',
          swipeToClose: "to-bottom",
          swipeHandler: '.close-handler',
        });

        casHtu.on('open', function (popup) {
          // console.log("dfwfwe");
          var swiper = app.swiper.get('.htu-swiper');
          swiper.update();
        });
      },
    },
  };

</script>