<template>
  <div class="page" data-name="home">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Đăng ký ủng hộ định kỳ</div>
      </div>
    </div>


    <div class="toolbar toolbar-bottom toolbar-medium">
      <div class="toolbar-inner toolbar-inner-md">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a href="/donation-ungho-manage/" class="col button button-fill button-large color-pink ">Quản lý gói ủng
              hộ</a>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content bg-white d-flex flex-column">



      <div class="pron-container balance pt-4 mb-1">
        <div class="pron-row align-items-center">
          <div class="pron-col">
            <h2 class="mt-0 mb-0 mdona-title">Thông tin dịch vụ</h2>
          </div>

          <div class="pron-col auto">
            <a href="#" class="setting__more link popover-open"  data-popover=".popover-more">
              <i class="f7-icons">more_fill</i>
            </a>
          </div>
        </div>



      </div>

      <div class="list m-0 list-style1 no-border-outside">
        <ul class="dona-list-detail">
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title ">Tài khoản liên kết</div>
                <div class="item-after ">124253455</div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title ">Hạn mức thanh toán</div>
                <div class="item-after ">
                  <div class="item-list-select sheet-open"
                  data-sheet=".dona-sheet-change">
                    5.000đ/ngày  <span class="arrow-down ml-1"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title ">Gói ủng hộ</div>
                <div class="item-after ">
                  <div class="item-list-select sheet-open"
                  data-sheet=".dona-sheet-change">
                    5.000đ/ngày  <span class="arrow-down ml-1"></span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title ">Kỳ thanh toán tiếp theo</div>
                <div class="item-after ">18:00 - 12/12/2020</div>
              </div>
            </div>
          </li>
       
        </ul>
      </div>


      <div class="pron-container balance pt-4">

        <h2 class="mt-0 mb-1 mdona-title">Lịch sử giao dịch</h2>
        <div class="text-center mt-3">
          <img src="https://static.mservice.io/images/s/momo-upload-api-200312133020-637196166203949468.png" class="img-fluid d-block mx-auto" width="200" alt="">
        </div>
        <div class="text-center text-gray">
          Bạn chưa có lịch sử giao dịch nào
        </div>

        <div class="dona-history">
          <div class="dona-history-item">
            <div class="dona-history-title h5 font-weight-bold">
              Gói Premium  Google Driver
            </div>
            <div class="dona-history-time lutie-10">
              15/7/2019 - 21 :30
            </div>

            <div class="d-flex align-items-center mt-1">
              <div class="dona-history-status text-orange flex-grow-1 font-weight-bold lutie-11"> THÀNH CÔNG </div>
              <div class="dona-history-money font-weight-bold lutie-12">-250.000đ</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="popover popover-more">
      <div class="popover-inner">
        <div class="list">
          <ul>
            <li><a class="list-button item-link" href="#">Hủy đăng ký</a></li>
            <li><a class="list-button item-link" href="#">Link 2</a></li>
            <li><a class="list-button item-link" href="#">Link 3</a></li>
            <li><a class="list-button item-link" href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>

</template>


<script>

  return {
    data: function () {
      return {
        donationValue: null,
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;
      },
      pageAfterIn: function () {

        var self = this;
        var app = self.$app;

        $$('.mdona-item').each(function (i, e) {
          $$(e).on('click', function (e) {
            $$('.mdona-item').removeClass('is-active');
            $$(this).addClass('is-active');
          });
        })

        self.$setState({
          donationValue: "active",
        });

      }
    },
  };

</script>