<template>
  <div class="page" data-name="home">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Gói ủng hộ xây dựng</div>
      </div>
    </div>

    <div class="toolbar toolbar-bottom toolbar-medium">
      <div class="toolbar-inner toolbar-inner-md">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a class="col button button-fill button-large color-gray link back ">Quay lại</a>

            <a href="/donation-ungho-rule/" class="col button button-fill button-large color-pink ">Tiếp tục </a>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content bg-white">

      <div class="pron-container balance pt-4">

        <h2 class="mt-0 mb-1 mdona-title">Ủng hộ mỗi ngày</h2>
        <div class="mb-0 text-gray lutie-12 ">Số tiền chọn sẽ tự động quyên góp mỗi ngày trong 1 năm. Bạn có thể huỷ mọi
          lúc</div>

        <div class="mdona-check mt-2">
          <div class="mdona-col">
            <div class="mdona-item is-active">
              <div class="mdona-check-icon">
                <i class="f7-icons size-14">icon-checkmark_alt</i>
              </div>
              <div class="mdona-money">2.000đ</div>
              <div class="mdona-money-label">Mỗi ngày</div>
            </div>
          </div>

          <div class="mdona-col">
            <div class="mdona-item">
              <div class="mdona-check-icon">
                <i class="f7-icons size-14">icon-checkmark_alt</i>
              </div>
              <div class="mdona-money">3.000đ</div>
              <div class="mdona-money-label">Mỗi ngày</div>
            </div>
          </div>

          <div class="mdona-col">
            <div class="mdona-item">
              <div class="mdona-check-icon">
                <i class="f7-icons size-14">icon-checkmark_alt</i>
              </div>
              <div class="mdona-money">5.000đ</div>
              <div class="mdona-money-label">Mỗi ngày</div>
            </div>
          </div>

        </div>

      </div>

      <div class="pron-container balance pt-4">

        <h2 class="mt-0 mb-1  mdona-title">Ủng hộ mỗi Tuần</h2>
        <div class="mb-0 text-gray lutie-12 ">Số tiền chọn sẽ tự động quyên góp mỗi ngày trong 1 năm. Bạn có thể huỷ mọi
          lúc</div>
        <div class="mdona-check mt-2">
          <div class="mdona-col">
            <div class="mdona-item ">
              <div class="mdona-check-icon">
                <i class="f7-icons size-14">icon-checkmark_alt</i>
              </div>
              <div class="mdona-money">15.000đ</div>
              <div class="mdona-money-label">Mỗi <td></td>
              </div>
            </div>
          </div>

          <div class="mdona-col">
            <div class="mdona-item">
              <div class="mdona-check-icon">
                <i class="f7-icons size-14">icon-checkmark_alt</i>
              </div>
              <div class="mdona-money">25.000đ</div>
              <div class="mdona-money-label">Mỗi tuần</div>
            </div>
          </div>

          <div class="mdona-col">
            <div class="mdona-item">
              <div class="mdona-check-icon">
                <i class="f7-icons size-14">icon-checkmark_alt</i>
              </div>
              <div class="mdona-money">35.000đ</div>
              <div class="mdona-money-label">Mỗi tuần</div>
            </div>
          </div>

        </div>

      </div>

      <div class="pron-container balance pt-4">

        <h2 class="mt-0 mb-1 mdona-title ">Ủng hộ ngay 1 lần</h2>


        <div class="mdona-input-money mt-2 is-wrong">
          <input type="text" id="mdona-input-value" placeholder="Nhập số tiền bạn muốn ủng hộ" pattern="\d*">

          <div class="lutie-12 text-danger mt-1">“Số tiền tối đa là 20.000.000đ”
          </div>
        </div>

        <div class="apd-payment mb-2 hide-scrollbar mt-2">


          <div class="apd-payment-item">
              <input class="apd-payment-check" type="radio" id="apd1" name="payDonation" value="1" checked="">

              <label for="apd1" class="apd-payment-label">


                  <span class="apd-payment-mo">10.000 ₫</span>
              </label>
          </div>


          <div class="apd-payment-item">
              <input class="apd-payment-check" type="radio" id="apd2" name="payDonation" value="2">

              <label for="apd2" class="apd-payment-label">


                  <span class="apd-payment-mo">20.000 ₫</span>
              </label>
          </div>


          <div class="apd-payment-item">
              <input class="apd-payment-check" type="radio" id="apd3" name="payDonation" value="3">

              <label for="apd3" class="apd-payment-label">


                  <span class="apd-payment-mo">50.000 ₫</span>
              </label>
          </div>


          <div class="apd-payment-item">
              <input class="apd-payment-check" type="radio" id="apd4" name="payDonation" value="4">

              <label for="apd4" class="apd-payment-label">


                  <span class="apd-payment-mo">100.000 ₫</span>
              </label>
          </div>


          <div class="apd-payment-item">
              <input class="apd-payment-check" type="radio" id="apd5" name="payDonation" value="5">

              <label for="apd5" class="apd-payment-label">


                  <span class="apd-payment-mo">200.000 ₫</span>
              </label>
          </div>


          <div class="apd-payment-item">
              <input class="apd-payment-check" type="radio" id="apd6" name="payDonation" value="6">

              <label for="apd6" class="apd-payment-label">


                  <span class="apd-payment-mo">500.000 ₫</span>
              </label>
          </div>

      </div>

      </div>
    </div>

</template>


<script>

  return {
    data: function () {
      return {
        donationValue: null,
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;
      },
      pageAfterIn: function () {

        var self = this;
        var app = self.$app;

        $$('.mdona-item').each(function (i, e) {
          $$(e).on('click', function (e) {
            $$('.mdona-item').removeClass('is-active');
            $$(this).addClass('is-active');
          });
        })

        self.$setState({
          donationValue: "active",
        });

      }
    },
  };

</script>