<template>
  <div class="page" data-name="cashback">

    <div class="navbar">

      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Chọn Tỉnh thành</div>


        <div class="subnavbar">
          <!-- Searchbar with auto init -->
          <form class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" placeholder="Tìm kiếm">
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button if-not-aurora">Đóng</span>
            </div>
          </form>
        </div>
      </div>

    </div>


    <div class="page-content">
      <!-- Searchbar backdrop -->
      <div class="searchbar-backdrop"></div>
  
      <!-- search target list -->
      <div class="list media-list">
        <ul>
          <li>
            <label class="item-radio item-content">
              <input type="radio" name="demo-media-radio" value="1" checked />
              <i class="icon icon-radio" checked></i>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">TP. HCM</div>
                </div>
                <div class="text-color-gray lutie-12">356 địa điểm</div>
              </div>
            </label>
          </li>

          <li>
            <label class="item-radio item-content">
              <input type="radio" name="demo-media-radio" value="2" />
              <i class="icon icon-radio"></i>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Hà nội</div>
                </div>
                <div class="text-color-gray lutie-12">356 địa điểm</div>
              </div>
            </label>
          </li>

          <li>
            <label class="item-radio item-content">
              <input type="radio" name="demo-media-radio" value="3" />
              <i class="icon icon-radio"></i>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Đà Nẵng</div>
                </div>
                <div class="text-color-gray lutie-12">356 địa điểm</div>
              </div>
            </label>
          </li>


        </ul>
      </div>
      <!-- Nothing found message -->
      <div class="block searchbar-not-found">
        <div class="block-inner">Nothing found</div>
      </div>
    </div>

  </div>

</template>


<script>

  return {
    data: function () {


      return {

      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        // create searchbar
        var searchbar = app.searchbar.create({
          el: '.searchbar',
          searchContainer: '.list',
          searchIn: '.item-title',
          on: {
            search(sb, query, previousQuery) {
              console.log(query, previousQuery);
            }
          }
        });




      },
    },
  };

</script>