<template>
  <div class="page" data-name="home">

    <div class="page-content quiz__wrapper">

      <div class="quiz__intro">


      </div>

      {{#if questions}}

      <div class="quiz__heading">
        <div class="swiper-container quiz__process quiz__process__swiper">

          <div class="swiper-wrapper">
            {{#each questions}}
            <div class="swiper-slide">
              <div class="quiz__process__item {{@index}} {{#js_if "@index  == 0 " }} is-select {{/js_if}}">
                <span>{{js "@index + 1"}} </span> <i class="f7-icons">check</i>
              </div>
            </div>
            {{/each}}

          </div>


        </div>
      </div>

      <div class="quiz__slider quiz__swiper swiper-container">
        <div class="swiper-wrapper">
          {{#each questions}}

          <div class="swiper-slide">
            <div class="quiz__body">
              <div class="quiz__body__scroll">
                <div class="quiz__question">
                  <div class="mb-1 quiz__question__label"> Câu {{js "@index + 1"}}/10</div>
                  {{question}}
                </div>

                <!-- multy -->
                <!-- single -->
                <div class="quiz__answer
                {{#js_if "@index  === 0 " }} single {{/js_if}} 
                {{#js_if "@index  === 1 " }} multiple {{/js_if}} 
                {{#js_if "@index  === 2 " }} tag_grid {{/js_if}} 
                {{#js_if "@index  === 3 " }} tag {{/js_if}}
                {{#js_if "@index  === 4 " }} grid_text {{/js_if}}
                {{#js_if "@index  === 5 " }} grid_image {{/js_if}}
                ">

           
                {{#js_if "@index  === 5 " }} 

                  {{#each optionLists}}
                  <div class="quiz__answer__item ">
                    <div class="quiz__answer__image__check">
                      <i class="f7-icons">check_round_fill</i>
                    </div>
                    <div class="quiz__answer__image">
                      <div class="embed-responsive embed-responsive-16by9 ">
                        <img src="https://cdn.oneesports.gg/wp-content/uploads/sites/4/2020/07/Yone-copy.jpg"
                          class="img-fluid   embed-responsive-img" alt="Ước mơ của Thúy">
                      </div>
                    </div>


                    <div class="quiz__answer__check ">
                      <i class="f7-icons">check</i>
                    </div> {{this}}
                  </div>

                  {{/each}}

                {{else}}
                {{#each optionLists}}
                  <div class="quiz__answer__item ">
                    <div class="quiz__answer__check ">
                      <i class="f7-icons">check</i>
                    </div> {{this}}
                  </div>
                  {{/each}}
                {{/js_if}}

                  


                </div>

              </div>


              <div class="quiz__function text-center">

                <a href="" class="quiz__btn have-image">
                  <img class="quiz__function__hmm" src="images/momo-hmm.png" alt="">
                  
                  Câu tiếp theo >></a>

                <!-- <a href="" class="quiz__btn ">
              
                  
                  Câu tiếp theo >></a> -->

                <!-- <a href="" class="quiz__btn is-gray">Câu tiếp theo >></a> -->

                <!-- <a href="" class="quiz__btn  is-pink">Bỏ qua</a>  -->
              </div>



            </div>
          </div>
          {{/each}}


        </div>

      </div>



      {{else}}

      <div class="preloader color-white" style="width: 44px; height: 44px; position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);"></div>

      {{/if}}
    </div>

    <div class="popover popover-about" style="background-color: transparent; padding: 0">
      <div class="popover-inner">
        <div class="popover__quiz__grid">
          <div>
            <img src="images/momo-xuk-cat.png" width="50" alt="">

          </div>
          <div class="flex-grow-1 pl-3">
            <div class="popover__quiz__content">
              <div class="">Cái này là gì ????</div>
              <div class="">Dành cho thành viên Bạc &amp; Vàng của Ví MoMo với tất cả suất chiếu 2D thứ Sáu -
                Chủ Nhật
                hàng tuần</div>
            </div>
          </div>

       

        </div>
      </div>
    </div>

  </div>

</template>


<script>
  return {
    data: function () {
      return {
        sliderActive: 2,
        questions: [],
      };
    },
    methods: {},
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        $$('.popover-about').on('popover:open', function (e, popover) {
          console.log('About popover open');
        });



        // request user data on page init
        app.request({
          url: 'https://api.jsonbin.io/b/5f1e53d8c58dc34bf5db716d',
          method: "GET",
          headers: {
            "secret-key": "$2b$10$OAM34eETVHwS6ZDQSNGlce6NeO7o.yOdMuHVNiH3Z9qK2ESAGoSC2"
          },
          dataType: "json",
          data: {

          },
          success: function (questions) {
            self.$setState({
              questions: questions,
            });


            var swiper1 = app.swiper.create('.quiz__swiper', {
              speed: 400,
              spaceBetween: 5,
              slidesPerView: 'auto',
              centeredSlides: true,
              on: {
                slideChangeTransitionEnd: function () {
                  quizProcessActive(this.activeIndex)
                },
               
              }

            });
      
            swiper1.allowSlideNext = true;

            var swiper2 = app.swiper.create('.quiz__process__swiper', {
              speed: 400,
              spaceBetween: 3,
              slidesPerView: 'auto',
              centerInsufficientSlides: true
            });


            var quizProcessItems = $$('.quiz__process__swiper .swiper-slide');
            // console.log(quizProcessItems);
            quizProcessItems.each(function (i) {
              var $i = i;
              $$(this).on("click", function (e) {
                quizProcessActive($i);
                swiper1.slideTo($i);
              })
            });

            function quizProcessActive(index) {
              var $index = index;
              self.$setState({
                sliderActive: $index,
              });
              quizProcessItems.removeClass("is-active");
              swiper2.slideTo(index - 3);
              swiper1.slideTo(index);
              quizProcessItems[$index].classList.add("is-active");
              console.log(self.sliderActive)
            }

            //Active first use
            quizProcessActive(self.sliderActive);

            $$('.quiz__answer__item').on('click', function (e) {
              if ($$(this).hasClass("is-active")) {
                $$(this).removeClass('is-active');
                return;
              }
              $$(this).addClass('is-active');


            });

            var dynamicPopover = app.popover.create({
              el: '.popover-about',
              targetEl: '.quiz__intro',
              // Events
              on: {
                open: function (popover) {
                  console.log('Popover open');
                },
                opened: function (popover) {
                  console.log('Popover opened');
                },
              }
            });

            setTimeout(function () {
              dynamicPopover.open();
            }, 200);

            // setTimeout(function () {
            //   dynamicPopover.close();
            // }, 4000);
          }
        })
      },
      pageAfterIn: function () {

      }
    },
  };
</script>