<template>
  <div class="page qg-page bg-white">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Quyên góp</div>

        <div class="subnavbar qg-subnavbar">
          <div class="subnavbar-inner">
            <div class="qg-segment">
              <a class="qg-segment-item tab-link tab-link-active" href="#tab-1">Heo vàng</a>
              <a class="qg-segment-item tab-link" href="#tab-2">Trái tim MoMo</a>
            </div>
          </div>
        </div>


      </div>
    </div>



    <div class="tabs-swipeable-wrap">
      <div class="tabs">
        <div id="tab-1" class="page-content tab tab-active bg-white pb-4">

          <a href="/quyengop-lichsu/" class="dona-qg-link mt-2">
            <img src="images/donation/history.svg" alt="" class="mr-1"> <span>Lịch sử quyên góp</span>
          </a>

          <div class="dona-qg-empty px-4 py-3">
            <div>
              <div class="mb-3">
                <img src="images/donation/quyengop-empty.svg" class="img-fluid d-block mx-auto" alt="">
              </div>
              <div class="text-center text-gray">
                <div class="font-weight-bold mb-2">
                  Cảm ơn bạn đã giúp biến các ước mơ thành hiện thực!
                </div>
                Hiện tại MoMo đang tìm kiếm những ước mơ khác còn dang dở, bạn hãy thường xuyên quay lại để chung tay
                giúp
                đỡ họ nhé!
              </div>
            </div>
          </div>


          <a href="/quyengop-hoanthanh/" class="dona-qg-link mt-2">
            <img src="images/donation/icon-check.svg" alt="" class="mr-1"> <span>Các chương trình đã hoàn thành</span>
          </a>

        </div>
        <div id="tab-2" class="page-content tab bg-white  pb-4">




        </div>

      </div>
    </div>
  </div>
</template>


<style>

</style>

<script>

  return {
    data: function () {

      return {

      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        //Cho icon progress chay theo
        $$('.dona-process').each(function (e) {
          var per = $$(this).find(".progressbar").attr('data-progress');
          // console.log(per);
          if ($$(this).find(".dona-process-icon")) {
            $$(this).find(".dona-process-icon").css({
              left: per + '%'
            })
          }
        });
      }
    }
  };

</script>