<template>
  <div class="page qg-page bg-white">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Quyên góp</div>

        <div class="subnavbar qg-subnavbar">
          <div class="subnavbar-inner">
            <div class="qg-segment">
              <a class="qg-segment-item tab-link tab-link-active" href="#tab-1">Heo vàng</a>
              <a class="qg-segment-item tab-link" href="#tab-2">Trái tim MoMo</a>
            </div>
          </div>
        </div>


      </div>
    </div>



    <div class="tabs-swipeable-wrap">
      <div class="tabs">
        <div id="tab-1" class="page-content tab tab-active bg-white pb-4">


          <div class="card dona-qg">
            <div class="embed-responsive embed-responsive-apd card-header ">
              <div class="embed-responsive-img">
                <img
                  data-src="https://static.mservice.io/blogscontents/momo-upload-api-200318203102-637201602626465944.jpg"
                  class="img-fluid  lazy" alt="Ước mơ của Thúy">
              </div>

              <div class="dona-qg-overlay">

              </div>

              <div class="dona-qg-content">
                <div class="dona-heading">
                  <h3 class="mt-0 mb-0 lutie-card-heading">Giúp Huỳnh Tươi được đến trường cùng bạn bè.</h3>
                </div>

                <div class="dona-text">
                  Đã quyên góp được
                  <strong>
                    980.000.000đ
                  </strong> / 980.000.000đ
                </div>

                <div class="dona-process">
                  <div class="progressbar color-green" data-progress="100">
                    <span>
                    </span>
                  </div>


                </div>
              </div>

            </div>


            <div class="card-content card-content-padding">


              <div class="dona-content">

                <div class="dona-meta">
                  <div class="pron-row no-gutters align-items-center flex-nowrap">
                    <div class="pron-col auto">

                      <div class="mr-3">
                        <div class="lutie-12">Lượt quyên góp</div>
                        <div class="font-weight-bold">1900</div>
                      </div>

                    </div>

                    <div class="pron-col text-right">
                      <div class="text-success">Đã đạt mục tiêu</div>
                    </div>
                  </div>
                </div>

              </div>



            </div>

          </div>



        </div>
        <div id="tab-2" class="page-content tab bg-white  pb-4">


          <div class="card dona-qg">
            <div class="embed-responsive embed-responsive-apd card-header ">
              <div class="embed-responsive-img">
                <img
                  data-src="https://static.mservice.io/blogscontents/momo-upload-api-200318203102-637201602626465944.jpg"
                  class="img-fluid  lazy" alt="Ước mơ của Thúy">
              </div>

              <div class="dona-qg-overlay">

              </div>

              <div class="dona-qg-content">
                <div class="dona-heading">
                  <h3 class="mt-0 mb-0 lutie-card-heading">Giúp Huỳnh Tươi được đến trường cùng bạn bè.</h3>
                </div>

                <div class="dona-text">
                  Đã quyên góp được
                  <strong>
                    300.000.000đ
                  </strong> / 300.000.000đ
                </div>

                <div class="dona-process">
                  <div class="progressbar color-pink" data-progress="100">
                    <span>
                    </span>
                  </div>

               
                </div>
              </div>

            </div>


            <div class="card-content card-content-padding">


              <div class="dona-content">

                <div class="dona-meta">
                  <div class="pron-row no-gutters align-items-center flex-nowrap">
                    <div class="pron-col auto">

                      <div class="mr-3">
                        <div class="lutie-12">Lượt quyên góp</div>
                        <div class="font-weight-bold">1900</div>
                      </div>

                    </div>
                 
                    <div class="pron-col text-right">
                      <div class="text-momo">Đã đạt mục tiêu</div>
                    </div>
                  </div>
                </div>

              </div>



            </div>

          </div>


        </div>

      </div>
    </div>
  </div>
</template>


<style>

</style>

<script>

  return {
    data: function () {

      return {

      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        //Cho icon progress chay theo
        $$('.dona-process').each(function (e) {
          var per = $$(this).find(".progressbar").attr('data-progress');
          // console.log(per);
          if ($$(this).find(".dona-process-icon")) {
            $$(this).find(".dona-process-icon").css({
              left: per + '%'
            })
          }
        });
      }
    }
  };

</script>