<div class="page">

  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Quay lại</span>
        </a>
      </div>
      <div class="title">Sale item</div>
    </div>
  </div>


  <div class="toolbar toolbar-bottom toolbar-large">
    <div class="toolbar-inner">
      <div class=" w-100">
        <p class="row mb-0 ">
          <button class="col button button-fill button-large color-pink  "> Xem chi tiết & đổi quà
          </button>

     
        </p>
      </div>

    </div>
  </div>

  <div class="page-content">

    <div class="pron-container balance bg-white">

      <div class="sale-header">
        <h1 class="sale-title mt-0 mb-2">
          Nhập mã NCTMOMOTET để nhận ngay gói VIP từ Nhaccuatui
        </h1>

        <div class="sale-time">
          Áp dụng từ 04/9/2019 đến 30/9/2019
        </div>
      </div>

      <div class="pron-row balance">
        <div class="embed-responsive embed-responsive-sale">
          <img src="images/sale/ios-bg.png" class="embed-responsive-img" alt="">
        </div>
      </div>


      <div class="sale-cluster mt-3">

        <div class="sale-cluster-content">
          Còn chờ gì nữa, mùa hè săn deal cực đã cùng MoMo thôi nào, với các deal ưu đãi cực hot lên đến 70%
        </div>
      </div>



      <div class="sale-cluster">
        <div class="sale-cluster-title ">
          1. Pizza Inc giảm 30% trên toàn menu
        </div>

        <div class="sale-cluster-content">
          <div class="embed-responsive embed-responsive-sale mb-3">
            <img src="https://static.mservice.io/Images/2017/03/04/kv-delivery-freesize_4153880.jpg"
              class="embed-responsive-img " alt="">
          </div>

          Pizza Inc khuyến mãi 20% cho toàn menu nhân dịp hè sôi động, ngoài pizza ra còn có thêm combo đặc biệt
          từ mỳ Ý, Kem bơ sốt dâu tằm chỉ với 39K
        </div>

        <div class="py-3">
          <a href="sale-item-2.html" class="col button  button-large button-outline color-gray  ">Xem chi tiết</a>
        </div>
      </div>


      <div class="sale-cluster">
        <div class="sale-cluster-title">
          2. Cheese Melt từng bừng giảm giá
        </div>

        <div class="sale-cluster-content">
          <div class="embed-responsive embed-responsive-sale mb-3">
            <img src="https://static.mservice.io/blogscontents/momo-upload-api-190607153217-636955183375078714.jpg"
              class="embed-responsive-img " alt="">
          </div>

          Pizza Inc khuyến mãi 20% cho toàn menu nhân dịp hè sôi động, ngoài pizza ra còn có thêm combo đặc biệt từ mỳ
          Ý, Kem bơ sốt dâu tằm chỉ với 39K
        </div>

        <div class="py-3">
            <a href="sale-item-2.html" class="col button  button-large button-outline color-gray  ">Xem chi tiết</a>
        </div>
      </div>



    </div>




  </div>






</div>