<template>
  <div class="page no-swipeback" data-name="home">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Khám phá dịch vụ</div>
      </div>
    </div>

    <div class="page-content bg-white">
      <style>
        :root {
          --primary-2: #a50064;
          --primary-3: #020202;
          --gray-900: #212121;
          --gray-800: #424242;
          --gray-700: #616161;
          --gray-600: #757575;
          --gray-500: #9e9e9e;
          --gray-400: #bdbdbd;
          --gray-300: #e0e0e0;
          --gray-200: #eee;
          --gray-100: #f5f5f5;
          --f7-button-bg-color: #e81f76;
        }
        figure {
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
        }
        div {
          transform: translate3d(0, 0, 0);
          position: relative;
        }

        .figure-div {
          background-color: gray("100");
          border-radius: 0;
          overflow: hidden;
        }
        .figure-embed {
          position: relative;
          display: block;
          width: 100%;
          padding: 0;
          overflow: hidden;
        }
        .figure-embed::before {
          display: block;
          content: "";
          padding-top: 50%;
        }

        .figure-embed .figure-img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 0;
          margin: 0;
        }

        .service__banner {
          margin: -10px -15px 0;
        }

        .services-table-list {
          --f7-list-bg-color: transparent;
          --f7-list-item-title-white-space: normal;
          --f7-list-item-text-max-lines: 1;
          --f7-list-item-text-font-size: 13px;
          --f7-list-link-pressed-bg-color: transparent;
          --f7-list-item-title-line-height: 1.2;
        }
        .services-table-list .item-link .item-inner {
          padding-right: 0;
        }
        .services-table-list .item-content {
          padding-left: 0px;
        }
        .services-table-list ul {
          list-style: none;
          display: flex;
          padding-left: 0;
          padding-right: 0;
          flex-flow: row wrap;
        }
        .services-table-list li {
          list-style: none !important;
          width: 100%;
          flex: 1 1 100%;
        }
        .services-table-list-title {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .services-table-list-image {
          width: 60px;
          height: 60px;
          border-radius: 21%;
          background: var(--gray-200);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .services-table-list-image img {
          width: 44px;
        }
        .services-table-list-button {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          font-weight: bold;
          align-items: center;
          margin-left: var(--f7-list-item-padding-horizontal);
          --f7-button-bg-color: var(--pink);
          --f7-button-pressed-bg-color: rgba(0, 0, 0, 0.4);
          --f7-button-text-color: white;
          --f7-button-border-radius: 8px;
          --f7-button-font-size: 13px;
          --f7-button-font-weight: 700;
          --f7-button-height: 35px;
        }

        .service-article {
          color: rgba(0, 0, 0, 0.6);
          font-size: 15px;
          line-height: 1.55;
        }
        .service-article strong {
          color: rgba(0, 0, 0, 0.7);
        }
        .service-article p {
          margin-bottom: 16px;
          margin-top: 0;
        }
        .service-article .tt1 {
          font-size: 22px;
          line-height: 30px;
          color: rgba(0, 0, 0, 0.9);
        }
        .service-article .tt2 {
          font-size: 17px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.9);
          margin-bottom: 7px;
        }
      </style>
      <div class="service__banner">
        <figure class="figure">
          <div class="figure-embed">
            <img
              src="https://static.mservice.io/images/s/momo-upload-api-210120113054-637467390542745363.png"
              alt=""
              class="figure-img img-fluid d-block"
              loading="lazy"
            />
          </div>
        </figure>
      </div>

      <div class="my-3 service-article">
        <h1 class="tt1">Du xuân hay về nhà, MoMo chiều tất cả</h1>
        <p class="">
          <strong class=""
            >Ví MoMo sẽ giúp bạn chuẩn bị chu đáo cho những chuyến đi mùa lễ
            hội.</strong
          >Nhập địa danh, đặt
          <strong class="">vé máy bay, vé tàu hỏa và vé xe khách</strong>
          thật dễ dàng - tiết kiệm cùng các hãng hàng không, vận tải uy tín nhất
          Việt Nam.
        </p>
        <p class="">
          Bạn muốn nghỉ chân khám phá các vùng đất xinh đẹp? Đừng quên
          <strong class="">đặt phòng khách sạn</strong> với cả triệu lựa chọn
          trên Ví MoMo.
        </p>
        <h2 class="tt2">Khởi động mùa lễ hội bằng tấm vé ưng ý</h2>
        <p class="">
          Vi vu bằng <strong class="">máy bay</strong> để mọi vùng đất trở nên
          gần hơn và bản thân có thêm thời gian nghỉ ngơi, du lịch. Lựa chọn đi
          <strong class="">tàu hỏa</strong> nếu bạn muốn ngắm cảnh đẹp lễ hội
          lướt ngoài cửa sổ. Đặt trước chỗ ngồi cho chuyến đi thoải mái ngay
          trong dịp cao điểm - hãy đặt <strong class="">xe khách</strong> trên
          Ví MoMo.
        </p>
      </div>

      <div class="services-table-list my-3 list no-hairlines no-chevron">
        <ul>
          <li class="">
            <a class="item-link" href="/service/airline_landing_page"
              ><div class="item-content">
                <div class="item-media">
                  <div class="services-table-list-image" slot="media">
                    <img
                      loading="lazy"
                      src="https://static.mservice.io/fileuploads/svg/momo-file-201124155541.svg"
                      alt="Mua vé máy bay"
                    />
                  </div>
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="services-table-list-title" slot="title">
                      Mua vé máy bay
                    </div>
                    <div
                      class="services-table-list-subtitle item-text"
                      slot="title"
                    >
                      Đặt là bay, giá tốt ngất ngây
                    </div>
                  </div>
                  <div class="services-table-list-button" slot="inner">
                    <button
                      class="prevent-active-state-propagation button"
                      type="button"
                    >
                      Đặt ngay
                    </button>
                  </div>
                </div>
              </div></a
            >
          </li>
          <li class="">
            <a class="item-link" href="/service/vetauhoa_landing_page"
              ><div class="item-content">
                <div class="item-media">
                  <div class="services-table-list-image" slot="media">
                    <img
                      loading="lazy"
                      src="https://static.mservice.io/fileuploads/svg/momo-file-201124155620.svg"
                      alt="Mua vé tàu hỏa"
                    />
                  </div>
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="services-table-list-title" slot="title">
                      Mua vé tàu hỏa
                    </div>
                    <div
                      class="services-table-list-subtitle item-text"
                      slot="title"
                    >
                      Đặt mau lẹ, trải nghiệm khỏe re
                    </div>
                  </div>
                  <div class="services-table-list-button" slot="inner">
                    <button
                      class="prevent-active-state-propagation button"
                      type="button"
                    >
                      Đặt ngay
                    </button>
                  </div>
                </div>
              </div></a
            >
          </li>
          <li class="">
            <a class="item-link" href="/service/bus_landing_page"
              ><div class="item-content">
                <div class="item-media">
                  <div class="services-table-list-image" slot="media">
                    <img
                      loading="lazy"
                      src="https://static.mservice.io/fileuploads/svg/momo-file-201124155610.svg"
                      alt="Mua vé xe khách"
                    />
                  </div>
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="services-table-list-title" slot="title">
                      Mua vé xe khách
                    </div>
                    <div
                      class="services-table-list-subtitle item-text"
                      slot="title"
                    >
                      Đặt dễ dàng, ưu đãi ngập tràn
                    </div>
                  </div>
                  <div class="services-table-list-button" slot="inner">
                    <button
                      class="prevent-active-state-propagation button"
                      type="button"
                    >
                      Đặt ngay
                    </button>
                  </div>
                </div>
              </div></a
            >
          </li>
        </ul>
      </div>
      <div class="my-3 service-article">
        <h2 class="tt2">Nơi lưu trú như mơ, cho mùa vui rực rỡ</h2>
        <p class="">
          Một nơi lưu trú phù hợp sẽ giúp bạn tận hưởng chuyến đi đầu năm trọn
          vẹn hơn. Vì thế, Ví MoMo mang tới các lựa chọn linh hoạt cho bạn: từ
          khách sạn cao cấp tới phòng nghỉ tiết kiệm, từ căn hộ cho thuê ngắn
          ngày tới biệt thự nghỉ dưỡng.
        </p>
      </div>

      <div class="services-table-list my-3 list no-hairlines no-chevron">
        <ul>
          <li class="">
            <a class="item-link" href="/service/traveloka_landing_page"
              ><div class="item-content">
                <div class="item-media">
                  <div class="services-table-list-image" slot="media">
                    <img
                      loading="lazy"
                      src="https://static.mservice.io/images/s/momo-upload-api-210120113110-637467390703942163.png"
                      alt="Đặt phòng khách sạn Traveloka"
                    />
                  </div>
                </div>
                <div class="item-inner">
                  <div class="item-title">
                    <div class="services-table-list-title" slot="title">
                      Đặt phòng khách sạn Traveloka
                    </div>
                    <div
                      class="services-table-list-subtitle item-text"
                      slot="title"
                    >
                      Đặt phòng &amp; thanh toán ngay trên Ví
                    </div>
                  </div>
                  <div class="services-table-list-button" slot="inner">
                    <button
                      class="prevent-active-state-propagation button"
                      type="button"
                    >
                      Đặt ngay
                    </button>
                  </div>
                </div>
              </div></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style></style>

<script>
  return {
    data: function () {
      var self = this;
      var app = self.$app;
      const services = [
        {
          refId: "airline_landing_page",
          title: "Mua vé máy bay",
          subtitle: "Đặt là bay, giá tốt ngất ngây",
          icon:
            "https://static.mservice.io/fileuploads/svg/momo-file-201124155541.svg",
        },
        {
          refId: "vetauhoa_landing_page",
          title: "Mua vé tàu hỏa",
          subtitle: "Đặt mau lẹ, trải nghiệm khỏe re",
          icon:
            "https://static.mservice.io/fileuploads/svg/momo-file-201124155620.svg",
        },
        {
          refId: "bus_landing_page",
          title: "Mua vé xe khách",
          subtitle: "Đặt dễ dàng, ưu đãi ngập tràn",
          icon:
            "https://static.mservice.io/fileuploads/svg/momo-file-201124155610.svg",
        },
      ];

      const services2 = [
        {
          refId: "traveloka_landing_page",
          title: "Đặt phòng khách sạn Traveloka",
          subtitle: "Đặt phòng & thanh toán ngay trên Ví",
          icon: "/static/images/service/logo_traveloka@3x.png",
        },
      ];
      return {};
    },
    methods: {},
    on: {
      pageAfterIn: function (e, page) {},
      pageInit: function () {
        var self = this;
      },
    },
  };
</script>
