<div class="page">



  <div class="toolbar toolbar-bottom toolbar-large">
    <div class="toolbar-inner">
      <div class=" w-100">
        <p class="row mb-0 ">

          <button class="col button button-fill button-large color-pink "> Quay lại ứng dụng MoMo </button>
        </p>
      </div>

    </div>
  </div>

  <div class="page-content">

    <div class="dona-status ">
      <div class="container">
        <div class="dona-status-icon">
          <img src="images/donation/warning.svg" width="55" class="img-fluid mx-auto d-block" alt="">
        </div>

        <div class="dona-status-content text-center">
          <div class="lutie-16 mb-0">
            Giao dịch không thành công !
          </div>
        </div>
      </div>
    </div>

    <div class="block block-strong mt-0">

        <div class="text-center">
            <div class="lutie-16 mb-0 lh-reset">
                Quý khách đã quyên góp 4.000đ cho chương trình Ước mơ của Thuý
            </div>
        </div>


    </div>



    <div class="list list-style1">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-title">Số tiền</div>
              <div class="item-after">4.000đ</div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-link item-content">
            <div class="item-inner">
              <div class="item-title">Mã giao dịch</div>
              <div class="item-after"> <span class="text-danger">12345678</span> </div>
            </div>
          </div>
        </li>


      </ul>
    </div>


  </div>






</div>