.izlu-avatar {
  width: 46px;
  height: 46px;
  border: 1px solid gray("300");
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.medium{
    width: 60px;
    height: 60px;
    padding: 3px;
    border-radius: 5px;
    @extend .shadow-1;
  }

  &.big{
    width: 60px;
    height: 60px;
    padding: 3px;
    border-radius: 5px;
    @extend .shadow-1;
  }
}

.img-object-cover {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

.izlu-gallery {
  padding-right: 0;
  padding-left: 0;
  .pron-col {
    flex: 0 0 percentage(1/3);
    width: percentage(1/3);
  }

  .pron-row {
    margin-right: -5px;
    margin-left: -5px;
  }
  .pron-col {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.izlu-gallery-item{
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  border-radius: 5px;
  
}

.izlude-cbs-sale strong, .izlude-cbs-sale b {
  
  font-size: 1.05em;
  // display: block;
  color: $color-momo;
}

.izlude-cbs-sale br {
  // display: none;
  // clear: both
  
}

.izlude-cbs-sale div {
  margin-bottom: 5px
}