.lutie-card-heading {
  font-size: 16px;
}

p {
  margin: 0 0 1rem;
}

.lutie-card-subheading {
  color: gray("500");
}

.lutie-section-heading {
  font-size: 16px;
}

.lutie-section-content {
  color: gray("600");
  img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.text-momo {
  color: $color-momo;
}

.text-orange{
  color: $orange;
}

.text-gray {
  color: gray("500");
}

.lutie-inherit {
  font-size: inherit;
}
.lutie-10 {
  font-size: 10px;
}
.lutie-11 {
  font-size: 11px;
}
.lutie-12 {
  font-size: 12px;
}
.lutie-13 {
  font-size: 13px;
}
.lutie-14 {
  font-size: 14px;
}
.lutie-15 {
  font-size: 15px;
}
.lutie-16 {
  font-size: 16px;
}
.lutie-18 {
  font-size: 18px;
}
.lutie-22 {
  font-size: 22px;
}
.lutie-25 {
  font-size: 25px;
}
.lutie-29 {
  font-size: 29px;
}
.lutie-35 {
  font-size: 35px;
}
.lutie-50 {
  font-size: 50px;
}

.lutie-section-less {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.5s;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(
      rgba(255, 255, 255, 0.001),
      white
    ); /* transparent keyword is broken in Safari */
    pointer-events: none;
  }
}


.border-lightgray{
    border-color: gray("200");
}


.lutie-section-title{
  // padding: 5px 8px 0;
}

.item-list-select {
  vertical-align: middle;
  cursor: pointer;
}
.arrow-down{
  width: 0; 
  vertical-align: middle;
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid gray("500");
  display: inline-block;
}