$pron-spacing: 15px;

$pron-gutter: 15;

.pron {
  padding: $pron-spacing;
}

.pron-container {
  width: 100%;
  padding-right: #{$pron-gutter/2}px;
  padding-left: #{$pron-gutter/2}px;
  margin-right: auto;
  margin-left: auto;

  &.balance {
    padding-right: #{$pron-gutter}px;
    padding-left: #{$pron-gutter}px;
  }
}

.pron-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -#{$pron-gutter/2}px;
  margin-left: -#{$pron-gutter/2}px;
  &.balance {
    margin-right: -#{$pron-gutter}px;
    margin-left: -#{$pron-gutter}px;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .pron-col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.pron-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;

  position: relative;
  width: 100%;
  padding-right: #{$pron-gutter/2}px;
  padding-left: #{$pron-gutter/2}px;

  &.auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.pron-col-6 {
  width: 50%;
  flex: 0 0 50%;
}

.pron-section {
  padding: 0 0;
}

.pron-popup-container {
  --f7-dialog-border-radius: 5px;
  --f7-dialog-inner-padding: 0;
  --f7-dialog-width: 310px;
  --f7-dialog-button-text-color: #{$color-momo};
  --f7-dialog-button-letter-spacing: 0;
  --f7-dialog-button-height: 50px;
  .dialog-inner:after {
    display: none;
  }

  .pron-popup {
    background: white;
  }
  .dialog-button:after {
    display: none;
  }

  .dialog-buttons {
    margin-top: -2px;
    height: 60px;
    background: white;
    text-align: right;
    justify-content: flex-end;
    font-size: 16px;
  }

  .dialog-button {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    width: auto;
  }
}

.pron-popup-content {
  padding: 20px 20px 0;
}

.js-pron-viewmore {
  &.active {
    .js-pron-viewmore-content {
      &:after {
        display: block;
      }
    }
    .js-pron-viewmore-btn {
      .open {
        display: inline-block;
      }

      .close {
        display: none;
      }
    }
  }

  &.is-long {
    .js-pron-viewmore-btn {
      display: block;
    }
  }
}

.js-pron-viewmore-content {
  position: relative;
  max-height: 120px;
  overflow: hidden;
  transition: max-height 0.5s;

  &:after {
    content: "";
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(255, 255, 255, 0.001), gray("100"));
    pointer-events: none;
  }
  &.is-170 {
    max-height: 170px;
  }
  &.is-200 {
    max-height: 200px;
  }
  &.is-white {
    &:after {
      background: linear-gradient(rgba(255, 255, 255, 0.001), white);
    }
  }
}

.js-sale-more-btn {
}

.js-pron-viewmore-btn {
  //   text-decoration: underline;
  //   font-size: 13px;
  //   font-weight: bold;
  //   display: none;
  //   padding: 5px 0;
  //   color: gray("900");
  &.style1 {
    a {
      font-size: 15px;
      text-decoration: underline;
    }
  }
  a {
    // text-decoration: underline;
    font-size: 13px;
    // font-weight: bold;
    display: none;
    padding: 5px 0;
    // color: gray("800");
  }
  display: none;
  .open {
    display: none;
  }

  .close {
    display: inline-block;
  }
  .f7-icons {
    font-size: 10px;
  }
}

.cas-address-list.media-list {
  .item-link .item-inner {
    &:before {
    }
  }
  .item-content {
    // padding-left: 0;
  }
}

.cas-address-name {
  font-weight: 500;
}

.pron-popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  &:after {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 50px;
    height: 50px;
    background: transparent;
  }
}
