body {
  --f7-searchbar-link-color: #{gray("700")};
  --f7-toolbar-text-color: #{gray("700")};
  // --f7-toolbar-link-color:  #{gray("900")};
  --f7-toolbar-link-color: #007aff;
  --f7-popup-tablet-width: 500px;
}

.hide-scrollbar {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.first-uppercase {
  text-transform: lowercase;
}

.first-uppercase::first-letter {
  text-transform: uppercase;
}

.shadow-md {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.f7-icons,
.framework7-icons {
  font-family: framework7 icons;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  text-align: center;
}

.link-absolute {
  position: absolute;
  background: transparent;

  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
