{% from 'macros/helpers.html' import sprite %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <meta http-equiv="Content-Security-Policy"
        content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">

    <meta name="theme-color" content="#0e7abe">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Momo</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
    <link rel="icon" href="images/icons/favicon.png">

    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="framework7/css/framework7.bundle.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="css/icons.css">

    <link rel="stylesheet" href="css/app.css">

    <link rel="stylesheet" href="stylesheets/core.css">


</head>

<body class="ios">
    <div id="app">
        <div class="statusbar"></div>

        <div class="view view-main view-init safe-areas">



            {% block content %}


            {% endblock %}


        </div>
    </div>

    {% include "layouts/popup.html" %}

    </div>

    {% block javascript %}

    <!-- Framework7 library -->
    <script src="framework7/js/framework7.bundle.min.js"></script>

    <script src="js/framework7.keypad.min.js"></script>

    <!-- App routes -->
    <script src="js/routes.js"></script>
    <!-- App scripts -->
    <script src="js/app.js"></script>
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/anime.min.js"></script>

    <script src="js/lodash.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/plyr.polyfilled.min.js"></script>
    <script type="text/template" id="js-countdown-template">
        <div class="time <%= label %>">
          <span class="count curr top"><%= curr %></span>
          <span class="count next top"><%= next %></span>
          <span class="count next bottom"><%= next %></span>
          <span class="count curr bottom"><%= curr %></span>
          <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
      </script>
    
    

    <script src="js/custom.js"></script>




    {% endblock %}

</body>

</html>