<!-- Popup -->
<div class="popup" id="my-popup">
    <div class="view">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="title">Popup</div>
                    <div class="right">
                        <a href="#" class="link popup-close">Close</a>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="block">
                    <p>Popup content goes here.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="popup popup-handler dona-popup-money">
    <div class="page">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="title">Swipe To Close</div>
                <div class="right"><a href="#" class="link popup-close">Close</a></div>
            </div>
        </div>

        <div class="page-content">


            <div class="block-title block-title-momo">Danh mục hoàn tiền</div>


            <div class="list list-small ">
                <ul>
                    {% for item in cashbackCat %}
                    <li>
                        <label class="item-radio  item-content">
                            <input type="radio" name="cashback-media-radio" value="1" checked />
                            <i class="icon icon-radio" checked></i>

                            <div class="item-media">
                                <img src="{{item.img}}" class="" width="28" alt="">
                            </div>
                            <div class="item-inner">
                                <div class="item-title">{{item.title}}</div>
                            </div>
                        </label>
                    </li>

                    {%  endfor %}

                </ul>
            </div>

        </div>
    </div>
</div>


<!-- dona-sheet-money -->


<div class="sheet-modal sheet-pop-round dona-sheet-money">


    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="title">Tiếp sức đến trường</div>
            <div class="right">
                <a href="#" class="link sheet-close ">
                    <i class="f7-icons opacity-5 ">close</i>
                </a>
            </div>
        </div>
    </div>


    <div class="toolbar toolbar-bottom toolbar-large">
        <div class="toolbar-inner">
            <div class=" w-100">
                <p class="row mb-0 ">
                    <button class="col button button-fill button-large color-gray sheet-close   ">Quay lại</button>

                    <a href="/xacnhan/" class="col button button-fill  sheet-close button-large color-pink">Quyên
                        góp</a>
                </p>
            </div>

        </div>
    </div>


    <div class="sheet-modal-inner">


        <div class="page-content">
            <div class="pron-container balance py-3">
                <!-- <div class="lutie-15">
                    Số dư heo đất MoMo : <strong>99.999 đ</strong>
                </div> -->

                <div class="lutie-11 mb-2 font-weight-bold">
                    CHỌN NGUỒN TIỀN
                </div>

                <div class="apd-source">

                    <div class="apd-source-item ">

                        <input type="radio" name="checkbox" value="value" id="apd-source-1" checked>

                        <label for="apd-source-1" class="apd-source-label">
                            <div class="apd-source-icon">
                                <img src="images/donation/logo-momo.svg" width="36" alt="">
                            </div>

                            <div class="font-weight-bold lutie-14">
                                Ví MoMo
                            </div>
                            <div class="lutie-12 text-gray">
                                20.000.000đ
                            </div>
                        </label>

                    </div>

                    <div class="apd-source-item ">

                        <input type="radio" name="checkbox" value="value" id="apd-source-2">

                        <label for="apd-source-2" class="apd-source-label">
                            <div class="apd-source-icon">
                                <img src="images/donation/heoicon.jpg" width="38" alt="">
                            </div>

                            <div class="font-weight-bold lutie-14 ">
                                Heo đất
                            </div>
                            <div class="lutie-12 text-gray">
                                10 heo vàng
                            </div>
                        </label>

                    </div>



                </div>

                <div class="py-2 mt-3 border-top border-bottom  ">
                    <div class="pron-row no-gutters align-items-center">
                      <div class="pron-col">
                         ncx
                        <div class="lutie-11 py-1 font-weight-bold">
                            QUYÊN GÓP ẨN DANH
                        </div>
            
                      </div>
            
                      <div class="pron-col auto  py-1">
                        
                        <label class="toggle toggle-init color-green toggle--small">
                            <input type="checkbox" checked>
                            <span class="toggle-icon"></span>
                          </label>
                      </div>
            
                    </div>
                  </div>

              

                <div class="list no-hairlines-md mt-2 mb-0 list-form list-form-outline ">
                    <ul>

                        <li class="item-content item-input  ">
                            <div class="item-inner">
                                <!-- <div class="item-title item-floating-label">Nhập số tiền muốn quyên góp</div> -->

                                <div class="list-outline-label text-uppercase ">Nhập số tiền muốn quyên góp</div>
                                <div class="item-input-wrap have-lab mt-1">
                                    <input inputmode="numeric" pattern="[0-9]*" type="text" placeholder="Nhập số tiền">

                                    <div class="item-input-lab">
                                        đ
                                    </div>


                                    <div class="item-input-error-message d-block pl-0 mt-2">Số tiền tối thiểu là 1.000 đ
                                    </div>
                                    <span class="input-clear-button"></span>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>



                <div class="apd-payment mb-2 mt-2 hide-scrollbar">

                    {% for item in money %}

                    <div class="apd-payment-item">
                        <input class="apd-payment-check" type="radio" id="apd{{item.id}}" name="payDonation"
                            value="{{item.id}}" {% if loop.index == 1 %} checked="" {% endif %}>

                        <label for="apd{{item.id}}" class="apd-payment-label">


                            <span class="apd-payment-mo">{{item.value}} ₫</span>
                        </label>
                    </div>

                    {% endfor %}
                </div>


                <div class="list no-hairlines-md list-form list-form-outline mt-3 mb-2 ">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="list-outline-label text-uppercase ">Lời nhắn</div>
                                <div class="item-input-wrap mt-1">
                                    <textarea name="" id="" class="resizable" placeholder="Nhập lời nhắn"></textarea>
                                </div>


                            </div>
                        </li>
                    </ul>
                </div>


                <div class="apd-payment apd-payment-message mb-3 mt-1 hide-scrollbar">

                    {% for item in message %}

                    <div class="apd-payment-item">
                        <input class="apd-payment-check" type="radio" id="apd2{{item.id}}" name="payDonation"
                            value="{{item.id}}" {% if loop.index == 1 %} checked="" {% endif %}>

                        <label for="apd2{{item.id}}" class="apd-payment-label">
                            <span class="apd-payment-mo">{{item.value}} ₫</span>
                        </label>
                    </div>

                    {% endfor %}
                </div>
            </div>



        </div>
    </div>




</div>


<div class="sheet-modal sheet-pop-round dona-sheet-money2">


    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="title">Tiếp sức đến trường</div>
            <div class="right">
                <a href="#" class="link sheet-close ">
                    <i class="f7-icons opacity-5 ">close</i>
                </a>
            </div>
        </div>
    </div>


    <div class="toolbar toolbar-bottom toolbar-large">
        <div class="toolbar-inner">
            <div class=" w-100">
                <p class="row mb-0 ">
                    <button class="col button button-fill button-large color-gray sheet-close  ">Quay lại</button>

                    <a href="/xacnhan/" class="col button button-fill  sheet-close button-large color-pink">Quyên
                        góp</a>
                </p>
            </div>

        </div>
    </div>


    <div class="sheet-modal-inner">


        <div class="page-content">
            <div class="pron-container balance py-5">
                <div class="lutie-16 text-center mb-3">
                    Bạn có <div class="pig-coin">
                        <img src="images/donation/pig-coin.svg" width="28" alt="">
                        <span class="pig-coin-num">5</span>
                    </div>
                </div>

                <div class="text-center text-secondary">
                    Chọn số lượng Heo muốn quyên góp:
                </div>

                <div class="text-center py-1 mt-5">
                    <div class="stepper stepper-large stepper-init  dona-stepper" data-wraps="true"
                        data-autorepeat="true" data-autorepeat-dynamic="true" data-manual-input-mode="true"
                        id="stepper-pig">
                        <div class="stepper-button-minus"></div>
                        <div class="stepper-input-wrap">
                            <input inputmode="numeric" pattern="[0-9]" type="number" value="0" min="0" max="10"
                                step="1">
                        </div>
                        <div class="stepper-button-plus"></div>
                    </div>
                </div>

                <div class="list no-hairlines-md list-form ">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-floating-label">Nhập lời nhắn (Không bắt buộc)</div>
                                <div class="item-input-wrap">
                                    <input type="text" name="name">
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>



        </div>
    </div>




</div>


<div class="sheet-modal sheet-pop-round dona-sheet-pass momo-pass-popup">


    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="title">Nhập mật khẩu</div>
            <div class="right">
                <a href="#" class="link sheet-close ">
                    <i class="f7-icons opacity-5 ">close</i>
                </a>
            </div>
        </div>
    </div>


    <div class="sheet-modal-inner">

        <div class="page-content">

            <form>
                <div class="block passcode-input d-none">
                    <input type="text" value="____" id="dona-numpad-inline">
                </div>

                <div class="momo-pass">

                    <div class="momo-pass-sym">
                        <div class="sym "></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                        <div class="sym"></div>
                    </div>

                    <div class="momo-pass-error text-danger">
                        Giao dịch thất bại vì mật khẩu không chính xác. Vui lòng thử lại.<br>(Bạn còn 1 lần thử)
                    </div>

                    <!-- <input class="input input-pass" type="password" disabled placeholder="Xem tạm" /> -->
                </div>




                <div class="block block-strong no-padding no-margin passcode-numpad">
                    <div id="dona-inline-container"></div>
                </div>
            </form>

        </div>
    </div>


</div>



<div class="sheet-modal sheet-pop-round dona-sheet-share">


    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="title">Chia sẻ</div>
            <div class="right">
                <a href="#" class="link sheet-close ">
                    <i class="f7-icons opacity-5 ">close</i>
                </a>
            </div>
        </div>
    </div>



    <div class="sheet-modal-inner">


        <div class="page-content">


            <div class="list my-0 no-hairlines dona-share-list">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content open-toast-copy">
                            <div class="item-media"><i class="f7-icons text-color-gray">link</i></div>
                            <div class="item-inner">
                                <div class="item-title">Sao chép liên kết</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media"><i class="f7-icons " style="color:#385898">logo_facebook</i></div>
                            <div class="item-inner">
                                <div class="item-title">Chia sẻ qua Facebook</div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>




        </div>
    </div>




</div>


<div class="sheet-modal sheet-pop-round dona-sheet-change">


    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="title">Đổi gói ủng hộ</div>
            <div class="right">
                <a href="#" class="link sheet-close ">
                    <i class="f7-icons opacity-5 ">close</i>
                </a>
            </div>
        </div>
    </div>



    <div class="sheet-modal-inner">


        <div class="page-content">


            <div class="dona-change-select">

                <div class="dona-change-item is-active">
                    Mỗi ngày 2000đ

                    <div class="mdona-change-icon">
                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                    </div>
                </div>
                <div class="dona-change-item">
                    Mỗi ngày 3000đ

                    <div class="mdona-change-icon">
                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                    </div>
                </div>
                <div class="dona-change-item">
                    Mỗi ngày 5000đ

                    <div class="mdona-change-icon">
                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                    </div>
                </div>
                <div class="dona-change-item">
                    Mỗi ngày 14000đ

                    <div class="mdona-change-icon">
                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                    </div>
                </div>
                <div class="dona-change-item">
                    Mỗi ngày 21000đ

                    <div class="mdona-change-icon">
                        <i class="f7-icons size-14">icon-checkmark_alt</i>
                    </div>
                </div>
                <div class="dona-change-item">
                    Mỗi ngày 35000đ

                    <div class="mdona-change-icon">
                        <i class="f7-icons ">icon-checkmark_alt</i>
                    </div>
                </div>

                <!-- <div class="dona-change-item text-danger">
                    Ngưng ủng hộ
                </div> -->

            </div>




        </div>
    </div>




</div>





