<template>
  <div class="page" data-name="cashback">


    <div class="navbar navbar-search">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <!-- <span class="if-not-md">Back</span> -->
          </a>
        </div>

        <form class="searchbar searchbar-main">
          <div class="searchbar-inner pr-0">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="Nhập tên cửa hàng, dịch vụ">
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <!-- <span class="searchbar-disable-button if-not-aurora">Hủy</span> -->
          </div>
        </form>


        <div class="right">
          <div class="location-select">
            <!-- <a href="/location-select/" class="">TP. HCM <i class="f7-icons">chevron_down</i></a> -->
            <a href="#" data-popup=".cas-location-popup" class="popup-open">TP. HCM <i
                class="f7-icons">chevron_down</i></a>
          </div>
        </div>

      </div>


      <div class="cashback-filter">
        <div class="cashback-filter-item">

          <div class="nhan">Danh mục</div>

          <a class="geffen-smart smart-select smart-select-init" data-routable-modals="false" data-open-in="popup"
            data-close-on-select="true" data-popup-close-link-text="Đóng" data-page-title="Chọn danh mục"
            data-css-class=" popup-smartselect">

            <select name="danhmuc" id="danhmuc">
              <option label="Cửa hàng tiện lợi" value="number:50" selected="selected"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                data-option-class="cashback-cat-icon">Cửa hàng tiện lợi</option>
              <option label="Siêu thị" value="number:143"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                data-option-class="cashback-cat-icon">Siêu thị</option>

              <option label="Siêu thị" value="number:2"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_cafe_dessert@3x.png"
                data-option-class="cashback-cat-icon">Cà phê - Trà sữa</option>

              <option label="Siêu thị" value="number:3"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                data-option-class="cashback-cat-icon">Nhà hàng</option>
              <option label="Siêu thị" value="number:4"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                data-option-class="cashback-cat-icon">Giải trí</option>

              <option label="Siêu thị" value="number:5"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                data-option-class="cashback-cat-icon">Giải trí</option>

              <option label="Siêu thị" value="number:6"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                data-option-class="cashback-cat-icon">Giải trí</option>
            </select>
            <div class="item-title"></div>
          </a>





        </div>

        <!--     <div class="cashback-filter-item">
          <div class="nhan">Sắp xếp</div>

          <a class="geffen-smart smart-select smart-select-init" data-routable-modals="false" data-open-in="popup"
            data-close-on-select="true" data-popup-close-link-text="Đóng" data-page-title="Sắp xếp"
            data-css-class=" popup-smartselect">

            <select name="sapxep" id="sapxep">
              <option value="m1" selected>Mặc định</option>
              <option value="m2">Tỷ lệ hoàn cao nhất</option>
              <option value="m2">Tỷ lệ hoàn thấp nhất</option>
              <option value="m2">Hoàn số tiền cố định</option>
              <option value="m2">Mới nhất</option>
            </select>
            <div class="item-title"></div>
          </a>
        </div>
 -->

        <div class="cashback-filter-item">
          <div class="nhan">Quận huyện</div>

          <a class="geffen-smart smart-select smart-select-init" data-open-in="popup" data-close-on-select="true"
            data-popup-close-link-text="Đóng" data-page-title="Chọn Quận huyện" data-css-class=" popup-smartselect">

            <select name="sapxep">
              <option value="mac" selected>Tất cả</option>
              <option value="mac">Quận 1</option>
              <option value="windows">Quận 2</option>
              <option value="windows">Quận 3</option>
              <option value="windows">Quận 4</option>
              <option value="windows">Quận 5</option>
              <option value="windows">Quận 6</option>
              <option value="windows">Quận 7</option>
              <option value="windows">Quận 8</option>
              <option value="windows">Quận 9</option>
              <option value="windows">Quận 10</option>
              <option value="windows">Quận 11</option>
              <option value="windows">Quận 12</option>
            </select>
            <div class="item-title"></div>
          </a>

        </div>
      </div>
    </div>





    <div class="page-content hide-navbar-on-scroll">


      <div class="cas-container">
        <div class="cas-item">
          <a href="#" class="link-absolute popup-open" data-popup=".cas-view-more"></a>
          <div class="cas-item-avatar">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cas-item-content">
            <div class="name ">
              Baskin Robbins
            </div>

            <div class="desc text-truncate">
              Tiệm kem Baskin Robbins
            </div>

            <div class="loc text-truncate">
              <i class="f7-icons lutie-15 ">placemark_fill</i> 13 địa điểm
            </div>
          </div>

          <div class="cas-item-value">
            <div class="cas-item-number ">

              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">47%</span>
              </div>

            </div>
          </div>

        </div>

        <div class="cas-item">
          <a href="#" class="link-absolute popup-open" data-popup=".cas-view-more"></a>
          <div class="cas-item-avatar">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-191011135352-637063988329005389.png"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cas-item-content">
            <div class="name ">

              PVI - Bảo hiểm TNDS Ô Tô bắt buộc
            </div>

            <div class="desc text-truncate">

              Bảo hiểm phi nhân thọ
            </div>

            <div class="loc text-truncate">
              <i class="f7-icons lutie-15 ">placemark_fill</i> 2 địa điểm
            </div>
          </div>

          <div class="cas-item-value">
            <div class="cas-item-number ">

              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">15%</span>
              </div>

            </div>
          </div>

        </div>
        <div class="cas-item">
          <a href="#" class="link-absolute popup-open" data-popup=".cas-view-more"></a>
          <div class="cas-item-avatar">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cas-item-content">
            <div class="name ">
              Baskin Robbins
            </div>

            <div class="desc text-truncate">
              Tiệm kem Baskin Robbins
            </div>
          </div>

          <div class="cas-item-value">
            <div class="cas-item-number ">

              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">47%</span>
              </div>

            </div>
          </div>

        </div>

        {{#each @root.stories}}
        <div class="cas-item">
          <a href="#" class="link-absolute popup-open" data-popup=".cas-view-more"></a>
          <div class="cas-item-avatar">
            <div class="embed-responsive embed-responsive-1by1">
              <img
                data-src="https://static.mservice.io/placebrand/s/momo-upload-api-191011135352-637063988329005389.png"
                class="embed-responsive-img lazy" alt="">
            </div>
          </div>

          <div class="cas-item-content">
            <div class="name ">

              PVI - Bảo hiểm TNDS Ô Tô bắt buộc
            </div>

            <div class="desc text-truncate">

              Bảo hiểm phi nhân thọ
            </div>
          </div>

          <div class="cas-item-value">
            <div class="cas-item-number ">

              <div>
                Hoàn tiền
                <span class="font-weight-bold text-color-red">15%</span>
              </div>

            </div>
          </div>

        </div>
        {{/each}}
      </div>






    </div>



    <div class="popup demo-popup-swipe-handler cas-view-more">
      <div class="page">
        <div class="swipe-handler popup-close"></div>

        <div class="toolbar toolbar-bottom toolbar-large">
          <div class="toolbar-inner">
            <div class=" w-100">
              <p class="row mb-0 ">
                <button class="col button button-fill button-large color-pink  ">Sử dụng
                </button>
              </p>
            </div>

          </div>
        </div>

        <div class="page-content">
          <div class="pron-container balance cas-quickview">

            <div class="pron-row no-gutters">
              <div class="pron-col auto">
                <div class="izlu-avatar medium">
                  <img class="img-fluid lazyloaded" alt=""
                    src="https://static.mservice.io/placebrand/s/momo-upload-api-191007110734-637060432541510314.jpg">
                </div>
              </div>
              <div class="pron-col ">
                <div class="cas-quickview-heading">
                  <div class="cas-quickview-title font-weight-bold ">Co.opmart</div>

                  <div class="cas-quickview-sub">Siêu
                    thị Co.opmart</div>

                </div>

                
              </div>

              <div class="pron-col auto">
                <div class="cas-item-number ">
                  <div>
                    Hoàn tiền
                    <span class="font-weight-bold text-color-red">15%</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-4 mb-4">
              <div class="pron-row mb-2 align-items-center no-gutters">
                <div class="pron-col auto">
                  <img src="https://momo.vn/styles/desktop/images/cashback/heo-cashback.svg" width="44" class="mr-2"
                    alt="">
                </div>
                <div class="pron-col ">
                  <h3 class="mt-0 mb-0 text-momo">
                    Hoàn tiền tại Circle K <strong class="">5%</strong> cùng Ví MoMo
                  </h3>
                </div>
              </div>
              <div class="js-pron-viewmore mb-3 active">
                <div class="js-pron-viewmore-content">
                  <div class="izlude-cbs-sale">
                    <strong>Chi tiết ưu đãi:</strong><br>
                    Hoàn tiền 50% tối đa 50.000đ trên tổng hóa đơn (duy nhất ngày 1/11/2019)<br>
                    <br>
                    <strong>Điều kiện và điều khoản:</strong><br>
                    - Chỉ áp dụng cho lần thanh toán đầu tiên của khách hàng trong ngày 1/11/2019<br>
                    - Những lần thanh toán tiếp theo, áp dụng tỷ lệ hoàn tiền mặc định của cửa hàng tiện lợi.<br>
                    - Áp dụng cho các khách hàng đang liên kết ngân hàng với MoMo<br>
                    - Không được cộng gộp với ưu đãi hoặc thẻ quà khác<br>
                    - Ưu đãi có hạn và có thể kết thúc sớm hơn thời gian dự tính
                  </div>
                </div>
                <div class="js-pron-viewmore-btn">

                  <div class="py-2">
                    <a href="#" class="  open">Xem thêm <i class="f7-icons">chevron_down</i> </a>

                    <a href="#" class="  close">Rút gọn <i class="f7-icons">chevron_up</i>
                    </a>
                  </div>

                </div>

              </div>

              <div class="mb-3 border-top pt-4 ">
                13 cửa hàng tại <span class="text-color-blue font-weight-bold">Quận 7 - TP. Hồ Chí Minh</span>
              </div>

              <div class="list media-list inset cas-address-list p-0 m-0">
                <ul class="shadow-1">
                  <li>
                    <div class="item-content ">

                      <div class="item-inner">

                        <div class="pron-row no-gutter align-items-center">
                          <div class="pron-col">
                            <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                          </div>
                          <div class="pron-col auto">
                            <a href="momo.vn" class="lutie-13 link external cas-address-navi"><i
                                class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                          </div>
                        </div>
                        <div class="lutie-14 cas-address-name  ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                          Chí Minh
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class=" item-content ">

                      <div class="item-inner">

                        <div class="pron-row no-gutter align-items-center">
                          <div class="pron-col">
                            <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                          </div>
                          <div class="pron-col auto">
                            <a href="momo.vn" class="lutie-13 link external cas-address-navi"><i
                                class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                          </div>
                        </div>
                        <div class="lutie-14 cas-address-name  ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                          Chí Minh
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class=" item-content ">

                      <div class="item-inner">

                        <div class="pron-row no-gutter align-items-center">
                          <div class="pron-col">
                            <div class="text-truncate text-gray lutie-13">Circle K - 104 Hồ Tùng Mậu</div>
                          </div>
                          <div class="pron-col auto">
                            <a href="momo.vn" class="lutie-13 link external cas-address-navi"><i
                                class="f7-icons lutie-13">navigation_fill</i> Chỉ đường </a>
                          </div>
                        </div>
                        <div class="lutie-14 cas-address-name  ">104 Hồ Tùng Mậu, Phường Bến Nghé, Quận 1, Thành Phố Hồ
                          Chí Minh
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>



              </div>

              <div class="py-3 text-center ">
                <a href="#" class=" button button-outline button-round d-inline-block">Xem
                  thêm</a>
              </div>

            </div>




          </div>
        </div>
      </div>
    </div>

    <!-- And somewhere in DOM -->
    <div class="popup cas-location-popup">
      <div class="view">
        <div class="page">

          <div class="navbar">
            <div class="navbar-inner">
              <div class="title">Chọn Tỉnh thành</div>
              <div class="right">
                <!-- Link to close popup -->
                <a class="link popup-close">Đóng</a>
              </div>

              <div class="subnavbar">
                <form class="searchbar searchbar-location">
                  <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                      <input type="search" placeholder="Tìm kiếm">
                      <i class="searchbar-icon"></i>
                      <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button if-not-aurora">Xóa</span>
                  </div>
                </form>
              </div>


            </div>
          </div>



          <div class="page-content">
            <!-- Searchbar backdrop -->
            <div class="searchbar-backdrop"></div>

            <!-- search target list -->
            <div class="list media-list pt-3">
              <ul>
                <li>
                  <label class="item-radio item-content">
                    <input type="radio" name="demo-media-radio" value="1" checked />
                    <i class="icon icon-radio" checked></i>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">TP. HCM</div>
                      </div>
                      <div class="text-color-gray lutie-12">356 địa điểm</div>
                    </div>
                  </label>
                </li>

                <li>
                  <label class="item-radio item-content">
                    <input type="radio" name="demo-media-radio" value="2" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Hà nội</div>
                      </div>
                      <div class="text-color-gray lutie-12">356 địa điểm</div>
                    </div>
                  </label>
                </li>

                <li>
                  <label class="item-radio item-content">
                    <input type="radio" name="demo-media-radio" value="3" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Đà Nẵng</div>
                      </div>
                      <div class="text-color-gray lutie-12">356 địa điểm</div>
                    </div>
                  </label>
                </li>


              </ul>
            </div>
            <!-- Nothing found message -->
            <div class="block searchbar-not-found">
              <div class="block-inner">Nothing found</div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>



</template>



<script>

  return {
    data: function () {

      var self = this;
      var app = self.$app;

      // var danhmuc = app.views.current.router.currentRoute.query.danhmuc ? "dwd" : '';
      // var sapxep = app.views.current.router.currentRoute.query.sapxep ? app.views.current.router.currentRoute.query.sapxep : '';
      var danhmuc = '';
      var sapxep = '';

      return {
        danhmuc: danhmuc,
        sapxep: sapxep,
        stories: ["w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw"]
      }
    },
    methods: {
      reloadFilter() {
        var self = this;
        var app = self.$app;

        var danhmuc = (self.danhmuc == '') ? '' : '?danhmuc=' + self.danhmuc;
        var sapxep = (self.sapxep == '') ? '' : '?sapxep=' + self.sapxep;
        var url = danhmuc + sapxep;

        var urlbase = app.views.current.router.url.substring(0, app.views.current.router.url.lastIndexOf('/') + 1);
        // console.log(app.views.current.router.url);
        app.views.current.router.updateCurrentUrl(urlbase + url);
        //Lay query
        console.log(app.views.current.router.currentRoute.query);
      },
    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        self.$setState({
          danhmuc: app.views.current.router.currentRoute.query.danhmuc ? app.views.current.router.currentRoute.query.danhmuc : '',
          sapxep: app.views.current.router.currentRoute.query.sapxep ? app.views.current.router.currentRoute.query.sapxep : ''
        }
        );

        // var param = app.views.current.router



        $$('#danhmuc').on('change', function (e) {
          // console.log($$(this).val());
          // console.log(app.views.current.router);
          // console.log(app.views.current.router.url);
          // app.views.current.router.updateCurrentUrl(app.views.current.router.url + "danhmuc/" + $$(this).val());

          // app.views.current.router.navigate({
          //   params: { userId: 1, postId: 2 },
          // }, {
          //   reloadCurrent: false,
          //   ignoreCache: false,
          // });
          // console.log(app.views.current.router.currentRoute.query);

          // app.views.current.router.updateCurrentUrl(app.views.current.router.url + '?fwef=' + $$(this).val());

          self.$setState({
            danhmuc: $$(this).val()
          });

          self.reloadFilter();

          // app.views.current.router.updateCurrentUrl(app.views.current.router.url + '?danhmuc=' + self.danhmuc + '?sapxep=' + self.sapxep);

          // app.view.router.navigate({
          //   params: { userId: 1, postId: 2 },
          // }, {
          //   reloadCurrent: false,
          //   ignoreCache: false,
          // });

          // app.views.current.router.navigate(
          //   '/some-page/Names/?subtitle=List&arr=["John","Vlad","Timo"]'
          //   , {
          //     reloadCurrent: false,
          //     ignoreCache: false,
          //   }
          // );

        });

        $$('#sapxep').on('change', function (e) {


          self.$setState({
            sapxep: $$(this).val()
          });

          self.reloadFilter();

        });




        var casViewMore = app.popup.create({
          el: '.cas-view-more',
          swipeToClose: "to-bottom",
        });
        casViewMore.on('open', function (popup) {
          // console.log('Popup open');
          // console.log(popup.el);
          const ele = popup.el;
          const saleMoreCon = ele.querySelector(".js-pron-viewmore");
          const saleMore = ele.querySelector(".js-pron-viewmore-content");
          const saleMoreBtn = ele.querySelector(".js-pron-viewmore-btn");
          const saleMoreHeight = saleMore.scrollHeight;

          if (saleMoreHeight > 120) {
            saleMoreCon.classList.add("active");


            saleMoreCon.classList.add("is-long");

            saleMoreBtn.addEventListener("click", function () {
              if (saleMoreCon.classList.contains("active")) {
                saleMore.style.setProperty("max-height", saleMoreHeight + "px");
                saleMoreCon.classList.remove("active");
              } else {
                saleMore.style.setProperty("max-height", "120px");
                saleMoreCon.classList.add("active");
              }
            });
          }
        });


        // create searchbar
        var searchbar = app.searchbar.create({
          el: '.searchbar-main',
          searchContainer: '.cas-container',
          searchItem: '.cas-item',
          searchIn: '.cas-item-content .name',
          on: {
            search(sb, query, previousQuery) {
              console.log(query, previousQuery);
            }
          }
        });

        var searchbarLocation = app.searchbar.create({
          el: '.searchbar-location',
          searchContainer: '.list',
          searchIn: '.item-title',
          on: {
            search(sb, query, previousQuery) {
              console.log(query, previousQuery);
            }
          }
        });



      },
    },
  };

</script>