<template>
  <div class="page bg-white mm-font-nunito" data-name="cashback-search">

    <div class="navbar mm-navbar-search">
      <div class="navbar-inner ">
        <form class="searchbar  searchbar-main">
          <div class="searchbar-inner">

            <div class="searchbar-input-wrap shadow-md">
              <div class="mm-navbar-icon-search">
                <i class="f7-icons size-22">search</i>
              </div>
              <input type="search" placeholder="Nhập tên cửa hàng bạn muốn tìm">
            </div>
            <span class="searchbar-disable-button if-not-aurora">Hủy</span>
          </div>
        </form>
      </div>
    </div>


    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a class="col button button-fill button-large color-gray link back ">Quay lại</a>

            <button class="col button button-fill button-large color-pink  ">Sử dụng
            </button>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content bg-color-white  mm-type ">
      <div class="searchbar-backdrop d-none"></div>

      <div class="mm-filter ">

        <div class="mm-filter-item">
          <div class="mm-filter-smart is-active">
            <a href="#" data-popup=".cas-location-popup" class="popup-open item-after ">TP. HCM </a>
          </div>


        </div>

        <div class="mm-filter-item">

          <a class="mm-filter-smart smart-select smart-select-init" data-open-in="popup" data-close-on-select="true"
            data-popup-close-link-text="Đóng" data-page-title="Chọn Quận huyện" data-css-class=" popup-smartselect">

            <select name="sapxep">
              <option value="mac" selected>Chọn Quận/ Huyện</option>
              <option value="mac">Quận 1</option>
              <option value="windows">Quận 2</option>
              <option value="windows">Quận 3</option>
              <option value="windows">Quận 4</option>
              <option value="windows">Quận 5</option>
              <option value="windows">Quận 6</option>
              <option value="windows">Quận 7</option>
              <option value="windows">Quận 8</option>
              <option value="windows">Quận 9</option>
              <option value="windows">Quận 10</option>
              <option value="windows">Quận 11</option>
              <option value="windows">Quận 12</option>
            </select>
            <div class="item-title"></div>
          </a>

        </div>

        <div class="mm-filter-item">

          <a class="mm-filter-smart smart-select smart-select-init" data-routable-modals="false" data-open-in="popup"
            data-close-on-select="true" data-popup-close-link-text="Đóng" data-page-title="Chọn danh mục"
            data-css-class=" popup-smartselect">
            <select name="danhmuc" id="danhmuc">
              <option label="Cửa hàng tiện lợi" value="number:50" selected="selected"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                data-option-class="cashback-cat-icon">Cửa hàng tiện lợi</option>
              <option label="Siêu thị" value="number:143"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                data-option-class="cashback-cat-icon">Siêu thị</option>

              <option label="Siêu thị" value="number:2"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_cafe_dessert@3x.png"
                data-option-class="cashback-cat-icon">Cà phê - Trà sữa</option>

              <option label="Siêu thị" value="number:3"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png"
                data-option-class="cashback-cat-icon">Nhà hàng</option>
              <option label="Siêu thị" value="number:4"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                data-option-class="cashback-cat-icon">Giải trí</option>

              <option label="Siêu thị" value="number:5"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                data-option-class="cashback-cat-icon">Giải trí</option>

              <option label="Siêu thị" value="number:6"
                data-option-image="https://img.mservice.io/momo_app_v2/img/HoangLe/ic_fl_sieu_thi@3x.png "
                data-option-class="cashback-cat-icon">Giải trí</option>
            </select>
            <div class="item-title"></div>
          </a>

        </div>



      </div>


      <div class="searchbar-hide-on-search">

        <div class="pron-container balance">

          <h5 class="mt-4">Khám phá hoàn tiền MoMo</h5>
          <div class="list no-hairlines trending-search">
            <ul>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="#" class="link lutie-18 text-pink-hot ">Circle K</a></div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="#" class="link lutie-18 text-pink-hot">Family mart</a></div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="#" class="link lutie-18 text-pink-hot">Trà sữa Toco Toco</a></div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title"><a href="#" class="link lutie-18  text-pink-hot">Kichi Kichi</a></div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="text-center  search-preloader">
        <div class="preloader" style=""></div>
      </div>

      <div class="search-results" style="display: none;">

        <div class="cbs-container pron-container balance">
          {{#each @root.stories}}


          <div class="cbs-item-sm cbs-item-md ">
            <div class="avatar avatar-lg border overflow-hidden p-1 bg-white">
              <div class="embed-responsive embed-responsive-1by1">
                <img
                  data-src="https://cdn.mservice.io/static/gcs_partner_m4b/c261e-2019-05-15/BygokBZrP6WnfX3bW65X_1557908746199"
                  class="embed-responsive-img lazy" alt="">
              </div>
            </div>

            <div class="cbs-item-sm-con">
              <div class="name text-truncate">
                Shamoji </div>
              <div class="sub text-truncate">Nhà hàng món Nhật </div>

              <div class="address  text-truncate">
                <i class="f7-icons lutie-15 ">placemark_fill</i> 13 địa điểm
              </div>
            </div>

            <div class="cbs-value">
              <div class="name ">30% </div>
              <div class="sub text-truncate">hoàn tiền</div>
            </div>
          </div>


          {{/each}}
        </div>



      </div>

      <div class="search-notfound searchbar-not-found">

            <div class="mb-4 opacity-4">
              <img src="images/not-found.svg" class="img-fluid d-block mx-auto" width="80 " alt="">
            </div>

        Không tim thấy kết quả nào
      </div>

    </div>



  </div>



</template>



<script>

  return {
    data: function () {

      var self = this;
      var app = self.$app;

      // var danhmuc = app.views.current.router.currentRoute.query.danhmuc ? "dwd" : '';
      // var sapxep = app.views.current.router.currentRoute.query.sapxep ? app.views.current.router.currentRoute.query.sapxep : '';
      var danhmuc = '';
      var sapxep = '';

      return {
        danhmuc: danhmuc,
        sapxep: sapxep,
        itemsm: ["dwd", "dwd", "dwd", "dwd"],
        stories: ["w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw", "w3", "fw"]
      }
    },
    methods: {
      reloadFilter() {
        var self = this;
        var app = self.$app;

        var danhmuc = (self.danhmuc == '') ? '' : '?danhmuc=' + self.danhmuc;
        var sapxep = (self.sapxep == '') ? '' : '?sapxep=' + self.sapxep;
        var url = danhmuc + sapxep;

        var urlbase = app.views.current.router.url.substring(0, app.views.current.router.url.lastIndexOf('/') + 1);
        app.views.current.router.updateCurrentUrl(urlbase + url);
        console.log(app.views.current.router.currentRoute.query);
      },
    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
      },
      pageInit: function () {

        var self = this;
        var app = self.$app;
       

        // Returns a function, that, as long as it continues to be invoked, will not
        // be triggered. The function will be called after it stops being called for
        // N milliseconds. If `immediate` is passed, trigger the function on the
        // leading edge, instead of the trailing.
        function debounce(func, wait, immediate) {
          var timeout;
          return function () {
            var context = this, args = arguments;
            var later = function () {
              timeout = null;
              if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
          };
        };

        self.$setState({
          danhmuc: app.views.current.router.currentRoute.query.danhmuc ? app.views.current.router.currentRoute.query.danhmuc : '',
          sapxep: app.views.current.router.currentRoute.query.sapxep ? app.views.current.router.currentRoute.query.sapxep : ''
        }
        );

        $$('#danhmuc').on('change', function (e) {


          self.$setState({
            danhmuc: $$(this).val()
          });

          self.reloadFilter();



        });

        $$('#sapxep').on('change', function (e) {

          self.$setState({
            sapxep: $$(this).val()
          });

          self.reloadFilter();
        });

        //ALL SEARCH IN HERE SON OF A BITCH


        // create searchbar
        var searchbar = app.searchbar.create({
          el: '.searchbar-main',
          searchContainer: '.cbs-container',
          searchItem: '.cbs-item-md',
          searchIn: '.cbs-item-sm-con .name',
          on: {
            search(sb, query, previousQuery) {
              // Usage
              var myQuery = debounce(function () {
                $$('.search-preloader').hide();
                $$('.search-results').show();
              }, 500);

              if (query == '') {
                $$('.search-results').hide();
                $$('.search-results').css({opacity: '0'});
              } else {
                $$('.search-results').css({opacity: '1'});
                $$('.search-preloader').show();
                $$('.search-results').hide();
                myQuery();
              }
            },
            clear(searchbar, previousQuery) {
              
            },
            disable(el) {
              $$('.search-results').hide();
            }
          }

        });
        var searchbarLocation = app.searchbar.create({
          el: '.searchbar-location',
          searchContainer: '.list',
          searchIn: '.item-title',
          on: {
            search(sb, query, previousQuery) {
              console.log(query, previousQuery);
            }
          }
        });

      },
    },
  };

</script>