<template>
  <div class="page" data-name="home">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Đăng ký ủng hộ định kỳ</div>
      </div>
    </div>


    <div class="toolbar toolbar-bottom toolbar-medium">
      <div class="toolbar-inner toolbar-inner-md">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a href="/donation-ungho-manage/" class="col button button-fill button-large color-pink ">Quản lý gói ủng hộ</a>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content bg-white d-flex flex-column">

      <div class="dona-hero-img">
        <img src="https://static.mservice.io/images/s/momo-upload-api-200312114228-637196101485592238.png"
          class="d-block pr-4" width="220" alt="">
      </div>

      <div class="pron-container flex-grow-1 balance pt-4">

        <h3 class="mt-0 mb-1 ">Khi bạn ủng hộ định kỳ, MoMo sẽ:</h2>
          <ul class="list-unstyled mt-2 pl-2">
            <li class="mb-2">
              <i class="f7-icons lutie-18 text-success">checkmark_alt</i> Thu tiền định kỳ như đã đăng ký
            </li>
            <li class="mb-2">
              <i class="f7-icons lutie-18 text-success">checkmark_alt</i>  Nếu ví không đủ số dư, MoMo tự động ngưng gói ủng hộ và không tiếp tục truy thu
            </li>
            <li class="mb-2">
              <i class="f7-icons lutie-18 text-success">checkmark_alt</i>  Gói ủng hộ có thời hạn trong 365 ngày
            </li>
            <li class="mb-2">
              <i class="f7-icons lutie-18 text-success">checkmark_alt</i> Bạn có thể ngừng ủng hộ mọi lúc tại mục Dịch vụ liên kết hoặc tại tính năng Sức mạnh 2000
            </li>
          
          </ul>
      </div>


      <div class="dona-rule-check">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Tôi đồng ý với các điều khoản của MoMo và chính sách bảo mật của MoMo
          </label>
        </div>
      </div>

    </div>

</template>


<script>

  return {
    data: function () {
      return {
        donationValue: null,
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;
      },
      pageAfterIn: function () {

        var self = this;
        var app = self.$app;

        $$('.mdona-item').each(function (i, e) {
          $$(e).on('click', function (e) {
            $$('.mdona-item').removeClass('is-active');
            $$(this).addClass('is-active');
          });
        })

        self.$setState({
          donationValue: "active",
        });

      }
    },
  };

</script>