<div class="page" data-name="about">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back </span>
        </a>
      </div>
      <div class="title">About</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block block-strong">
      <p>Here is your blank Framework7 app. Let's see what we have here.</p>
    </div>

    <div class="block-title">Navigation</div>
    <div class="list">
      <ul>
        <li>
          <a href="/about/" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">About</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/form/" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Form</div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="block-title">Modals</div>
    <div class="block block-strong">
      <div class="row">
        <div class="col-50">
          <a href="#" class="button button-raised button-fill popup-open" data-popup="#my-popup">Popup</a>
        </div>
        <div class="col-50">
          <a href="#" class="button button-raised button-fill login-screen-open"
            data-login-screen="#my-login-screen">Login Screen</a>
        </div>
      </div>
    </div>

    <div class="block-title">Panels</div>
    <div class="block block-strong">
      <div class="row">
        <div class="col-50">
          <a href="#" class="button button-raised button-fill panel-open" data-panel="left">Left Panel</a>
        </div>
        <div class="col-50">
          <a href="#" class="button button-raised button-fill panel-open" data-panel="right">Right Panel</a>
        </div>
      </div>
    </div>

    <div class="list links-list">
      <ul>
        <li>
          <a href="/dynamic-route/blog/45/post/125/?foo=bar#about">Dynamic (Component) Route</a>
        </li>
        <li>
          <a href="/load-something-that-doesnt-exist/">Default Route (404)</a>
        </li>
        <li>
          <a href="/request-and-load/user/123456/">Request Data & Load</a>
        </li>
      </ul>
    </div>
  </div>