<template>
    <div class="page no-swipeback" data-name="home">


        <div class="navbar bg-transparent ">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Quay lại</span>
                    </a>
                </div>
                <div class="title">Cho Heo đi học</div>
            </div>
        </div>


        <div class="page-content  pt-0 bg-white">


            <div class="embed-responsive embed-responsive-hdh"
                 style="background-image: url('images/heo/bg-answer.png')">
                <div class="hdh-question">

                    <div class="hdh-question-number">
                        Câu hỏi 1/3
                    </div>

                    <div class="hdh-question-content">
                        Bạn cần phải tích luỹ hoàn tiền bao nhiêu mới được rút tiền về Ví MoMo?
                    </div>

                </div>


                <div class="pigstudy-container">

                    <div class="pigstudy">

                        <div class="pigstudy-component pigstudy-mat" id="pigstudy-mat">
                            <img src="images/heo/body/heo-mat.svg" class="img-fluid" alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-bg-mui">
                            <img src="images/heo/body/heo-bg-mui.svg" class="img-fluid" alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-mui" id="pigstudy-mui">
                            <img src="images/heo/body/heo-mui.svg" class="img-fluid" alt="">
                        </div>

                        <div class="pigstudy-component pigstudy-eyebrow-left" id="eyebrow-left">
                            <img src="images/heo/body/eyebrow-left.svg" class="img-fluid" alt="">
                        </div>
                        <div class="pigstudy-component pigstudy-eyebrow-right" id="eyebrow-right">
                            <img src="images/heo/body/eyebrow-right.svg" class="img-fluid" alt="">
                        </div>

                        <img src="images/heo/body/heo-body.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>


            <div class="hdh-box">
                <img src="images/heo/heo-hand.png" class="heoAnimate-hand" alt="">
                <div class="pron-row no-gutters align-items-center">
                    <div class="pron-col ">
                        <div class="font-weight-bold">Trả lời</div>
                        <div class="lutie-12 mt-1">
                            Đúng: 300 gram | Sai: 30 gram
                        </div>
                    </div>
                    <div class="pron-col auto">
                        <div class="hdh-gram">
                            <img src="images/heo/bag-gram.svg" class="icon" width="28" alt="">
                            0 gram
                        </div>
                    </div>
                </div>

                <div class="hdh-choice">

                    <div class="hdh-choice-item is-focus">
                        1.000đ
                    </div>

                    <div class="hdh-choice-item is-active is-focus">
                        5.000đ
                    </div>

                    <div class="hdh-choice-item is-focus" style="color: #58151c; background-color: #f8d7da;
          border-color: #f1909b;">
                        10.000đ
                    </div>

                </div>
            </div>

            <div class="block">
                <div class="text-center">
                    <img src="images/heo/chuc-mung.svg" width="110" class="img-fluid mx-auto" alt="">

                    <div class="lutie-16">Hôm nay, bạn đã nhận được</div>

                    <div class="text-center mt-4">
                        <div class="hdh-gram d-inline-block text-left">
                            <img src="images/heo/bag-gram.svg" class="icon" width="28" alt="">
                            300 gram
                        </div>
                    </div>
                </div>

            </div>


            <div class="block">
                <p class="row">
                    <button class="col button button-fill" id="hdh-chinhxac">Chính xác</button>
                    <button class="col button button-fill" id="hdh-sai">Sai</button>
                    <button class="col button button-fill" id="hdh-complete">Complete</button>
                </p>
            </div>


            <div class="sheet-modal sheet-modal-round  hdh-chinhxac-sheet border-0 " data-backdrop="false"
                 style="height: auto">
                <div class="sheet-modal-inner bg-white">
                    <div class="p-4">
                        <div class="pron-row no-gutters align-items-center">
                            <div class="pron-col ">
                                <div class="lutie-16 ">
                                    Wow, chính xác rồi!
                                </div>
                                <div class="font-weight-bold lutie-18">+300 gram</div>

                            </div>
                            <div class="pron-col auto">

                                <button
                                        class="col button  sheet-close button-fill  color-pink font-weight-bold lutie-16 py-2 h-auto">
                                    Tiếp
                                    theo (3s) <i class="f7-icons lutie-12">chevron_right</i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sheet-modal sheet-modal-round  hdh-sai-sheet border-0 " data-backdrop="false"
                 style="height: auto">
                <div class="sheet-modal-inner bg-white">
                    <div class="p-4">
                        <div class="pron-row no-gutters align-items-center">
                            <div class="pron-col ">
                                <div class="lutie-16 ">
                                    Sai rồi, tiếc quá!
                                </div>
                                <div class="font-weight-bold lutie-18">+30 gram</div>

                            </div>
                            <div class="pron-col auto">

                                <button
                                        class="col button  sheet-close button-fill  color-pink font-weight-bold lutie-16 py-2 h-auto">
                                    Tiếp
                                    theo (3s) <i class="f7-icons lutie-12">chevron_right</i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sheet-modal sheet-modal-round  hdh-complete-sheet border-0 " data-backdrop="false"
                 style="height: auto">
                <div class="sheet-modal-inner bg-white">
                    <div class="p-4">

                        <div class="text-center">
                            <div class="lutie-16 ">
                                Wow, chính xác rồi!
                            </div>
                            <div class="font-weight-bold lutie-18">+300 gram</div>

                            <div class="text-success mt-3">
                                Bạn đã hoàn thành lớp học hôm nay!
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>


</template>


<style>


</style>

<script>


    return {
        data: function () {
            var self = this;
            var app = self.$app;
            return {}
        },
        methods: {},
        on: {
            pageAfterIn: function (e, page) {

                var pigstudyMat = document.querySelectorAll("#pigstudy-mat");
                var pigstudyMui = document.querySelectorAll("#pigstudy-mui");
                var eyebrowLeft = document.querySelectorAll("#eyebrow-left");
                var eyebrowRight = document.querySelectorAll("#eyebrow-right");

                var heoAnimation = anime.timeline({
                    easing: 'easeInOutQuad',
                    loop: true
                })
                    .add({
                        targets: pigstudyMat,
                        keyframes: [
                            {translateX: -4, delay: 3000},
                            {translateX: 4, delay: 800},
                            {translateX: 0, delay: 800}
                        ],
                        duration: 1000,
                    }) //Liec mat het 1s
                    .add({
                        targets: eyebrowLeft,
                        keyframes: [
                            {translateY: -2, delay: 0},
                            {translateY: 0, delay: 1000},
                        ],
                        easing: 'easeInOutCubic',
                        duration: 500,
                    }, '-=2600')

                    .add({
                        targets: eyebrowRight,
                        keyframes: [
                            {translateY: -2, delay: 1000},
                            {translateY: 0, delay: 1000},
                        ],
                        easing: 'easeInOutCubic',
                        duration: 400,
                    }, '-=2400')

                    .add({
                        targets: pigstudyMui,
                        keyframes: [
                            {translateY: -2},
                            {translateY: 0},
                            {translateY: -2},
                            {translateY: 0},
                        ],
                        delay: 800
                    });

            },
            pageInit: function () {
                var self = this;


                $$('#hdh-chinhxac').on('click', function () {
                    // Close inline sheet before

                    app.sheet.create({
                        el: '.hdh-chinhxac-sheet',

                        backdrop: false,
                    });

                    app.sheet.open('.hdh-chinhxac-sheet');

                });


                $$('.hdh-chinhxac-sheet').on('sheet:closed', function (e, sheet) {
                    $$(".hdh-choice").removeClass("is-bottom");
                });
                $$('.hdh-chinhxac-sheet').on('sheet:opened', function (e, sheet) {
                    $$(".hdh-choice").addClass("is-bottom");
                });

                $$('#hdh-sai').on('click', function () {
                    // Close inline sheet before

                    app.sheet.create({
                        el: '.hdh-sai-sheet',

                        backdrop: false,
                    });
                    app.sheet.open('.hdh-sai-sheet');

                });

                $$('#hdh-complete').on('click', function () {
                    // Close inline sheet before

                    app.sheet.create({
                        el: '.hdh-complete-sheet',

                        backdrop: false,
                    });
                    app.sheet.open('.hdh-complete-sheet');

                });


            },
        },
    };

</script>