<template>

  <div class="page">
    <!-- 
  <a href="#" class="link back close-button">
    <img src="images/close.svg" alt="Close">
  </a> -->



    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a class="col button button-fill button-large color-gray link back ">Quay lại</a>

            <button class="col button button-fill button-large color-pink  ">Sử dụng
            </button>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content">

      <div data-lazy='{"enabled": true}'
        data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
        data-navigation='{"nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev"}'
        class="swiper-container swiper-init htu-swiper">
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next htu-navigation-btn"></div>
        <div class="swiper-button-prev htu-navigation-btn"></div>
        <div class="swiper-wrapper">

          {{#each @root.htu}}
          <div class="swiper-slide">

            <div class="htu-content">
              <div class="htu-mockup">
                <div class="htu-mockup-slider" style="background-image: url('images/phone-mockup.png')">
                  <img data-src="{{image}}" class="img-fluid d-block mx-auto swiper-lazy" alt="">
                </div>

                <div class="htu-mockup-txt">
                  <h3 class="htu-mockup-title mt-0 mb-2">{{title}}</h3>
                  <div class="htu-mockup-body">
                    {{content}}
                  </div>

                  <div class="mt-3  font-italic">
                    {{note}}
                  </div>

                </div>

              </div>
            </div>

          </div>

          {{/each}}
        </div>
      </div>



    </div>
  </div>

</template>



<script>

  return {
    data: function () {

      var self = this;
      var app = self.$app;

      return {

        htu: [
          {
            "image": "https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg",
            "title": "Tải ứng dụng Ví MoMo",
            "content": "Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store hoặc Google Play Store.",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg",
            "title": "Nhập số điện thoại",
            "content": "Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo.",
            "note": "Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí Internet Banking của ngân hàng bạn muốn liên kết."
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg",
            "title": "Nhập mã xác thực ",
            "content": "Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn. </br> Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô \"Nhập mã xác thực\" rồi nhấn \"Tiếp tục\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg",
            "title": "Tạo mật khẩu đăng nhập ",
            "content": "Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật khẩu ở 2 ô phải hoàn toàn giống nhau. </br> \nSau đó bấm \"Xác nhận\".",
            "note": ""
          },
          {
            "image": "https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg",
            "title": "Nhập thông tin ",
            "content": "Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo yêu cầu và nhấn \"Xác nhận\" để hoàn tất đăng ký.",
            "note": ""
          }
        ]
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;
      },
    },
  };

</script>