<template>

  <div class="page">
    <!-- 
  <a href="#" class="link back close-button">
    <img src="images/close.svg" alt="Close">
  </a> -->



    <!-- <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <a class="col button button-fill button-large color-gray link back ">Quay lại</a>

            <button class="col button button-fill button-large color-pink  ">Sử dụng
            </button>
          </p>
        </div>

      </div>
    </div> -->




    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
        </div>
        <div class="title">Hướng dẫn đăng ký</div>
        <div class="right">
          <a href="#" class="link sheet-close ">
            <i class="f7-icons opacity-5 ">close</i>
          </a>
        </div>
      </div>
    </div>






    <div class="tab-pri">
      <div class="tab-pri__body">
        <div class="tab-pri__item"><a href="#tab-1" class=" tab-link tab-link-active">Dùng ATM</a></div>
        <div class="tab-pri__item"> <a href="#tab-2" class="tab-pri__item tab-link">App Agribank</a></div>
        <div class="tab-pri__item"><a href="#tab-3" class="tab-pri__item tab-link">Ra ngân hàng</a></div>

      </div>
    </div>

    <div class="tabs tab-pri__htuBank">
      <div id="tab-1" class="page-content tab tab-active">
        <div class="tab-pri__wrap">

          <div class="tab-pri__content">

            <div class="swiper-container swiper-htuBank">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-200414145703-637224730232827785.jpg"
                      class="embed-responsive-img" alt="">
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-200414145703-637224730232827785.jpg"
                      class="embed-responsive-img" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-200414145703-637224730232827785.jpg"
                      class="embed-responsive-img" alt="">
                  </div>
                </div>
              </div>
            </div>



          </div>



          <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
              <div class=" w-100">
                <p class="row mb-0 ">


                  <a href="#" class="col button button-fill  sheet-close button-large color-pink">Tìm
                    ATM
                    gần nhất</a>
                </p>
              </div>

            </div>
          </div>

        </div>


      </div>



      <div id="tab-2" class="page-content tab">
        <div class="tab-pri__wrap">

          <div class="tab-pri__content">
            <div class="swiper-container swiper-htuBank">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-200414145703-637224730232827785.jpg"
                      class="embed-responsive-img" alt="">
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-200414145703-637224730232827785.jpg"
                      class="embed-responsive-img" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="embed-responsive embed-responsive-1by1 rounded overflow-hidden">
                    <img src="https://static.mservice.io/images/s/momo-upload-api-200414145703-637224730232827785.jpg"
                      class="embed-responsive-img" alt="">
                  </div>
                </div>
              </div>
            </div>

            <h2 class="mt-0 mb-2">Giới thiệu</h2>
            <p>
              Agribank E-Mobile Banking là ứng dụng di động thông minh do Ngân hàng Agribank phát triển,
              cho phép khách hàng cá nhân dễ dàng thực hiện các giao dịch tài chính, trải nghiệm các tiện
              ích thanh toán mọi lúc mọi nơi ngay trên điện thoại di động/máy tính bảng.

            </p>
            <p>

              Với Agribank E-Mobile Banking, khách hàng có thể giao dịch nhanh chóng và an toàn tại mọi
              thời điểm, kể cả thời gian ngoài giờ hành chính, ngày nghỉ, Lễ Tết.

            </p>

            <div class="my-4">
              <div class="row ">
                <div class="col-50 text-right">
                  <a href="https://itunes.apple.com/vn/app/id918751511?utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                    class="link-white" target="_blank">
                    <img src="https://static.mservice.io/img/tai-appstore.png" width="130" class="img-fluid" alt="">
                  </a>
                </div>
                <div class="col-50 text-left">
                  <a href="https://play.google.com/store/apps/details?id=com.mservice.momotransfer&amp;utm_source=website-momo&amp;utm_medium=download&amp;utm_campaign=momo-1dong"
                    class="link-white" target="_blank">
                    <img src="https://static.mservice.io/img/tai-google-play.png" width="130" class="img-fluid" alt="">
                  </a>
                </div>
              </div>
            </div>


          </div>

          <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
              <div class=" w-100">
                <p class="row mb-0 ">


                  <a href="#" class="col button button-fill  sheet-close button-large color-pink">Đăng ký miễn
                    phí</a>
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div id="tab-3" class="page-content tab">

        <div class="tab-pri__wrap">
        
          <div class="tab-pri__content">


            <h2 class="mt-0 mb-2">Giới thiệu</h2>
            <p>
              Quý khách có thể dễ dàng tìm thấy chi nhánh Agribank gần mình nhất bên dưới và yêu cầu nhân viên
              ngân hàng hỗ trợ đăng kí dịch vụ giao dịch Internet - Ecommerce (hoàn toàn miễn phí).


            </p>
            <p>

              Khi đến đăng kí, vui lòng mang theo CMND/CCCD/Hộ chiếu trùng với giấy tờ đã dùng để mở thẻ tại ngân
              hàng Agribank.
            </p>
            <p>
              Quý khách có thể dễ dàng tìm thấy chi nhánh Agribank gần mình nhất bên dưới và yêu cầu nhân viên
              ngân hàng hỗ trợ đăng kí dịch vụ giao dịch Internet - Ecommerce (hoàn toàn miễn phí).


            </p>
            <p>

              Khi đến đăng kí, vui lòng mang theo CMND/CCCD/Hộ chiếu trùng với giấy tờ đã dùng để mở thẻ tại ngân
              hàng Agribank.
            </p>

            <p>
              Quý khách có thể dễ dàng tìm thấy chi nhánh Agribank gần mình nhất bên dưới và yêu cầu nhân viên
              ngân hàng hỗ trợ đăng kí dịch vụ giao dịch Internet - Ecommerce (hoàn toàn miễn phí).


            </p>
            <p>

              Khi đến đăng kí, vui lòng mang theo CMND/CCCD/Hộ chiếu trùng với giấy tờ đã dùng để mở thẻ tại ngân
              hàng Agribank.
            </p>

            <p>
              Quý khách có thể dễ dàng tìm thấy chi nhánh Agribank gần mình nhất bên dưới và yêu cầu nhân viên
              ngân hàng hỗ trợ đăng kí dịch vụ giao dịch Internet - Ecommerce (hoàn toàn miễn phí).


            </p>
            <p>

              Khi đến đăng kí, vui lòng mang theo CMND/CCCD/Hộ chiếu trùng với giấy tờ đã dùng để mở thẻ tại ngân
              hàng Agribank.
            </p>

            <p>
              Quý khách có thể dễ dàng tìm thấy chi nhánh Agribank gần mình nhất bên dưới và yêu cầu nhân viên
              ngân hàng hỗ trợ đăng kí dịch vụ giao dịch Internet - Ecommerce (hoàn toàn miễn phí).


            </p>
            <p>

              Khi đến đăng kí, vui lòng mang theo CMND/CCCD/Hộ chiếu trùng với giấy tờ đã dùng để mở thẻ tại ngân
              hàng Agribank.
            </p>



          </div>

          <div class="toolbar toolbar-bottom toolbar-large">
            <div class="toolbar-inner">
              <div class=" w-100">
                <p class="row mb-0 ">


                  <a href="#" class="col button button-fill  sheet-close button-large color-pink">Tìm quầy gần
                    nhất</a>
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>






  </div>





</template>



<script>

  return {
    data: function () {

      var self = this;
      var app = self.$app;

      return {

        htu: [

        ]
      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;
        // app.sheet.open(".sheet-htu-bank");

        var swiperHtuBank = app.swiper.create('.swiper-htuBank', {
          speed: 400,
          spaceBetween: 10,
          pagination: {
            el: '.swiper-pagination',
          }
        });


        $$(".tab").on('tab:show', function (event, ui) {
          var swiperHtu = app.swiper.get($$(this).find(".swiper-htuBank"));
          swiperHtu.update();
        });

        // app.tab.show(tabEl, animate)
      },
    },
  };

</script>