<template>
  <div class="page qg-page bg-white">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
          </a>
        </div>
        <div class="title">Quyên góp</div>

        <div class="subnavbar qg-subnavbar">
          <div class="subnavbar-inner">
            <div class="qg-segment">
              <a class="qg-segment-item tab-link tab-link-active" href="#tab-1">Heo vàng</a>
              <a class="qg-segment-item tab-link" href="#tab-2">Trái tim MoMo</a>
            </div>
          </div>
        </div>


      </div>
    </div>



    <div class="tabs-swipeable-wrap">
      <div class="tabs">
        <div id="tab-1" class="page-content tab tab-active bg-white  pb-4">


          <div class="pron-container balance mt-2">
            <div class="pron-row">
              <div class="pron-col pron-col-6 d-flex">
                <div class="card dona-qg dona-qg-cp ">
                  <div class="embed-responsive embed-responsive-apd card-header ">
                    <div class="embed-responsive-img">
                      <img
                        data-src="https://static.mservice.io/blogscontents/momo-upload-api-200318203102-637201602626465944.jpg"
                        class="img-fluid  lazy" alt="Ước mơ của Thúy">
                    </div>

                    <div class="dona-qg-cp-status">
                      Chưa đạt mục tiêu
                    </div>
                  </div>

                  <div class="card-content dona-qg-cp-pd">

                    <div class="lutie-12 font-weight-bold">Nâng cánh ước mơ cho Hà, cô bé khiếm thính</div>


                  </div>

                  <div class="pron-row no-gutters align-items-center dona-qg-cp-result">

                    <div class="pron-col auto mr-2 ">

                      <img src="images/donation/heo-icon.svg" alt="">

                    </div>

                    <div class="lutie-11 text-gray pron-col">
                      Đã quyên góp 3.000.000 Heo Vàng
                    </div>

                  </div>
                </div>
              </div>
              <div class="pron-col  pron-col-6 d-flex">
                <div class="card dona-qg dona-qg-cp ">
                  <div class="embed-responsive embed-responsive-apd card-header ">
                    <div class="embed-responsive-img">
                      <img
                        data-src="https://static.mservice.io/blogscontents/momo-upload-api-200318203102-637201602626465944.jpg"
                        class="img-fluid  lazy" alt="Ước mơ của Thúy">
                    </div>

                    <div class="dona-qg-cp-status is-completed">
                      Đã đạt mục tiêu
                    </div>
                  </div>

                  <div class="card-content dona-qg-cp-pd">

                    <div class="lutie-12 font-weight-bold">Nâng cánh ước mơ cho Hà, cô bé khiếm thính nghèo học giỏi
                    </div>


                  </div>

                  <div class="pron-row no-gutters align-items-center dona-qg-cp-result">

                    <div class="pron-col auto mr-2 ">

                      <img src="images/donation/heo-icon.svg" alt="">

                    </div>

                    <div class="lutie-11 text-gray pron-col">
                      Đã quyên góp 3.000.000 Heo Vàng
                    </div>

                  </div>
                </div>
              </div>

              <div class="pron-col  pron-col-6 d-flex">
                <div class="card dona-qg dona-qg-cp ">
                  <div class="embed-responsive embed-responsive-apd card-header ">
                    <div class="embed-responsive-img">
                      <img
                        data-src="https://static.mservice.io/blogscontents/momo-upload-api-200318203102-637201602626465944.jpg"
                        class="img-fluid  lazy" alt="Ước mơ của Thúy">
                    </div>

                    <div class="dona-qg-cp-status is-completed">
                      Đã đạt mục tiêu
                    </div>
                  </div>

                  <div class="card-content dona-qg-cp-pd">

                    <div class="lutie-12 font-weight-bold">Nâng cánh ước mơ cho Hà, cô bé khiếm thính nghèo học giỏi
                    </div>


                  </div>

                  <div class="pron-row no-gutters align-items-center dona-qg-cp-result">

                    <div class="pron-col auto mr-2 ">

                      <img src="images/donation/heo-icon.svg" alt="">

                    </div>

                    <div class="lutie-11 text-gray pron-col">
                      Đã quyên góp 3.000.000 Heo Vàng
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div id="tab-2" class="page-content tab bg-white  pb-4">

          <div class="pron-col pron-col-6 d-flex">
            <div class="card dona-qg dona-qg-cp ">
              <div class="embed-responsive embed-responsive-apd card-header ">
                <div class="embed-responsive-img">
                  <img
                    data-src="https://static.mservice.io/blogscontents/momo-upload-api-200318203102-637201602626465944.jpg"
                    class="img-fluid  lazy" alt="Ước mơ của Thúy">
                </div>

                <div class="dona-qg-cp-status">
                  Chưa đạt mục tiêu
                </div>
              </div>

              <div class="card-content dona-qg-cp-pd">

                <div class="lutie-12 font-weight-bold">Nâng cánh ước mơ cho Hà, cô bé khiếm thính</div>


              </div>

              <div class="pron-row no-gutters align-items-center dona-qg-cp-result">

                <div class="pron-col auto mr-2 ">

                  <img src="images/donation/traitim-momo.svg" alt="">

                </div>

                <div class="lutie-11 text-gray pron-col">
                  Đã quyên góp 3.000đ
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>


<style>

</style>

<script>

  return {
    data: function () {

      return {

      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        //Cho icon progress chay theo
        $$('.dona-process').each(function (e) {
          var per = $$(this).find(".progressbar").attr('data-progress');
          // console.log(per);
          if ($$(this).find(".dona-process-icon")) {
            $$(this).find(".dona-process-icon").css({
              left: per + '%'
            })
          }
        });
      }
    }
  };

</script>