<template>
  <div class="page bg-mm-light" data-name="home">
    <div class="toolbar toolbar-bottom bg-white toolbar-large toolbar-referral">
      <div class="toolbar-inner">
        <div class="w-100">
          <div class="pron-row align-items-center">
            <div class="pron-col">
              <div class="referral-action">
                <div class="mb-1 font-weight-bold lutie-12">
                  Mã giới thiệu của bạn
                </div>
              </div>
              <div class="referral-code code">
                <div class="referral-code-txt text-center">
                  <div class="referral-code-phone text-momo">0369206512</div>
                </div>
              </div>
            </div>
            <div class="pron-col auto pl-3">
              <div class="referral-action">
                <div class="mb-1 font-weight-bold lutie-12">Chia sẽ</div>
              </div>
              <div class="referral-social">
                <a href="" class="referral-social-item">
                  <img src="images/social/facebook.svg" width="30" alt="" />
                </a>
                <a href="" class="referral-social-item">
                  <img src="images/social/share.svg" width="30" alt="" />
                </a>

                <a href="" class="referral-social-item">
                  <img src="images/social/copy.svg" width="30" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-content mm-type page-content-referral">
      <div
        data-pagination='{"el": ".swiper-pagination"}'
        data-space-between="0"
        class="swiper-container swiper-init referral-swiper"
      >
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-referral">
              <img
                src="https://img.mservice.io/momo_app_v2/img/banner/GTBB-Challenge_1.jpg"
                alt=""
                class="embed-responsive-img"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="embed-responsive embed-responsive-referral">
              <img
                src="https://img.mservice.io/momo_app_v2/img/banner/GTBB-Challenge_1.jpg"
                alt=""
                class="embed-responsive-img"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mm-space pt-2">
        <div class="pron-container balance">
          <h4 class="text-center mt-0 mb-2">Giới thiệu MoMo cho bạn bè</h4>

          <div class="text-gray text-center lutie-15">
            Nhận quà 500.000đ không giới hạn
          </div>
        </div>

        <div class="pron-container balance">
          <div class="referral-action">
            <div class="mt-4 mb-2 lutie-14">Link giới thiệu bạn bè</div>
          </div>

          <div class="referral-code">
            <div class="referral-code-txt">
              https://momo.vn/tin-tuc/tin-tuc-su-kien/fshare-thong-bao-chuyen-doi-gia-goi-dich-vu-fcode-1120
            </div>
            <div class="referral-code-btn">
              <a href="#" onclick="copyCode()"> Sao chép </a>
            </div>
            <input type="text" value="Hello Thu 6" id="inputCode" readonly />

            <div class="copy-popover">
              <img
                src="images/sale/checked.svg"
                class="copy-popover-img"
                width="18"
                alt=""
              />
              Sao chép đường dẫn thành công
            </div>
          </div>

          <div class="pron-row">
            <div class="pron-col">
              <div class="referral-action">
                <div class="mt-4 mb-2 lutie-14">Mã giới thiệu của bạn</div>
              </div>

              <div class="referral-code code">
                <div class="referral-code-txt text-center">
                  <div class="referral-code-phone text-momo">0369206512</div>
                </div>
              </div>

              <div class="referral-action">
                <div class="mt-3 mb-2 lutie-14">Chia sẽ</div>
              </div>

              <div class="referral-social">
                <a href="" class="referral-social-item">
                  <img src="images/social/facebook.svg" width="34" alt="" />
                </a>
                <a href="" class="referral-social-item">
                  <img src="images/social/share.svg" width="34" alt="" />
                </a>
              </div>
            </div>
            <div class="pron-col auto pl-3" style="z-index: 1">
              <div class="referral-action">
                <div class="mt-4 mb-2 lutie-14">Quét mã QR code</div>
              </div>

              <div class="referral-qr">
                <img
                  src="https://static.mservice.io/blogscontents/momo-upload-api-190805163151-637006195114792423.png"
                  class="img-fluid d-block"
                  width="150"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mm-space mt-2">
        <div class="pron-container balance">
          <div class="mm-space-title">
            <h3 class="h5 mb-3 mt-0 mm-space-name">Quà cho người giới thiệu</h3>
          </div>
        </div>

        <div class="pron-container balance">
          <div class="referral-feature-item">
            <a
              href="#"
              data-popup=".referral-feature-popup"
              class="popup-open link-absolute"
            ></a>

            <div
              class="referral-feature-img"
              style="
                background-image: url(https://cdn1.ivivu.com/iVivu/2020/03/05/14/maldives-intinerary-gallery-six-senses-laamu-aerial-1500x675-cr-755x190.jpg);
              "
            ></div>

            <div class="referral-feature-meta">
              <div class="referral-feature-name">Gói quà Hà Nội</div>

              <div class="referral-feature-btn">
                <div class="check">
                  <i class="f7-icons">checkmark_alt</i>
                </div>
              </div>
            </div>
          </div>

          <div class="referral-feature-item">
            <a
              href="#"
              data-popup=".referral-feature-popup"
              class="popup-open link-absolute"
            ></a>
            <div
              class="referral-feature-img"
              style="
                background-image: url(https://cdn1.ivivu.com/iVivu/2019/09/18/16/da-lat-755x190.png);
              "
            ></div>

            <div class="referral-feature-meta">
              <div class="referral-feature-name">Gói quà Hồ Chí Minh</div>

              <div class="referral-feature-btn">
                <button class="button button-round button-fill">CHỌN</button>
              </div>
            </div>
          </div>

          <div class="referral-feature-item">
            <a
              href="#"
              data-popup=".referral-feature-popup"
              class="popup-open link-absolute"
            ></a>
            <div
              class="referral-feature-img"
              style="
                background-image: url(https://cdn1.ivivu.com/iVivu/2019/03/07/16/phuquoc-755x190.jpg);
              "
            ></div>

            <div class="referral-feature-meta">
              <div class="referral-feature-name">Gói quà đặc biệt khác</div>

              <div class="referral-feature-btn">
                <button class="button button-round button-fill">CHỌN</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mm-space mt-2">
        <div class="pron-container balance">
          <div class="mm-space-title">
            <h3 class="h5 mb-1 mt-0 mm-space-name">
              Tiến trình giới thiệu bạn bè
            </h3>
          </div>

          <div class="lutie-14 text-gray mb-3">
            Hiện đang có <strong class="text-momo">3</strong> người đang nhập mã
            giới thiệu của bạn
          </div>
        </div>

        <div class="pron-container balance">
          <div class="contact__list">
            <div class="contact__item shadow-1">
              <div class="contact__grid">
                <div class="contact__avatar">K</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="">
                    <i class="f7-icons size-14">chat_bubble</i>
                  </a>
                  <a href="">
                    <i class="f7-icons size-14">phone</i>
                  </a>
                </div>
              </div>

              <div class="text-primary mt-2 mb-1 lutie-14">
                Đã nhập mã thành công, còn 2 bước
              </div>

              <div class="process-step">
                <div class="process-step__item is-active"></div>

                <div class="process-step__item"></div>
                <div class="process-step__item"></div>
              </div>

              <div class="lutie-13 mt-2">
                <span class="text-gray">Bước tiếp theo : </span> Liên kết tài
                khoản ngân hàng Ví MoMo
              </div>
            </div>
            <div class="contact__item shadow-1">
              <div class="contact__grid">
                <div class="contact__avatar">MD</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="">
                    <i class="f7-icons size-14">chat_bubble</i>
                  </a>
                  <a href="">
                    <i class="f7-icons size-14">phone</i>
                  </a>
                </div>
              </div>

              <div class="text-primary mt-2 mb-1 lutie-14">
                Đã nhập mã thành công, còn 2 bước
              </div>

              <div class="process-step">
                <div class="process-step__item is-active"></div>

                <div class="process-step__item"></div>
                <div class="process-step__item"></div>
              </div>

              <div class="lutie-13 mt-2">
                <span class="text-gray">Bước tiếp theo : </span> Liên kết tài
                khoản ngân hàng Ví MoMo
              </div>
            </div>
            <div class="contact__item shadow-1">
              <div class="contact__grid">
                <div class="contact__avatar">R</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>

              <div class="text-primary mt-2 mb-1 lutie-14">
                Đã liên kết thành công, còn 1 bước
              </div>

              <div class="process-step">
                <div class="process-step__item is-active"></div>

                <div class="process-step__item is-active"></div>
                <div class="process-step__item"></div>
              </div>

              <div class="lutie-13 mt-2">
                <span class="text-gray">Bước tiếp theo : </span> Liên kết tài
                khoản ngân hàng Ví MoMo
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mm-space mt-2">
        <div class="pron-container balance">
          <div class="mm-space-title">
            <h3 class="h5 mb-1 mt-0 mm-space-name">
              Tiến trình giới thiệu bạn bè
            </h3>
          </div>

          <div class="lutie-14 text-gray mb-3">
            Hiện đang có <strong class="text-momo">3</strong> người đang nhập mã
            giới thiệu của bạn
          </div>
        </div>

        <div class="pron-container balance">
          <div class="contact__list is-less shadow-1">
            <div class="contact__item">
              <div class="contact__grid">
                <div class="contact__avatar">A</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="contact__item">
              <div class="contact__grid">
                <div class="contact__avatar">BB</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="contact__item">
              <div class="contact__grid">
                <div class="contact__avatar">YY</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>

            <div class="contact__item">
              <div class="contact__grid">
                <div class="contact__avatar">L</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>

            <div class="contact__item">
              <div class="contact__grid">
                <div class="contact__avatar">Q</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>

            <div class="contact__item">
              <div class="contact__grid">
                <div class="contact__avatar">N</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>
            <div class="contact__item">
              <div class="contact__grid">
                <div class="contact__avatar">H</div>

                <div class="contact__info">
                  <div class="contact__name text-truncate">Soju Gatta</div>

                  <div class="contact__phone">0468 455 234</div>
                </div>

                <div class="contact__function">
                  <a href="" class="message">
                    <img src="images/referral/chat.svg" alt="" />
                  </a>
                  <a href="" class="phone">
                    <img src="images/referral/telephone.svg" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mm-space mt-2 mm-highlight">
        <div class="pron-container balance">
          <div class="mm-space-title border-0">
            <h3 class="h5 mb-1 mt-0 mm-space-name">Thẻ quà bí mật</h3>
          </div>

          <div class="lutie-14 text-gray mb-3">Gói quà ngủ quả 500.000đ</div>
        </div>

        <div
          class="swiper-container swiper-init swiper-item-referral"
          data-space-between="15"
          data-slides-per-view="auto"
          data-lazy='{"enabled": true, "loadPrevNext": true, "loadPrevNextAmount": 2}'
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="referral-gift-highlight shadow-1">
                <a
                  href="#"
                  data-popup=".referral-popup"
                  class="popup-open link-absolute"
                ></a>
                <div class="referral-gift-img">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-200218090508-637176135083409145.png"
                      class="swiper-lazy embed-responsive-img"
                      alt=""
                    />
                  </div>
                </div>

                <div class="referral-gift-name">
                  Thẻ quà bí mật tháng 5/2020
                </div>

                <div class="referral-gift-desc">
                  Chào mừng Giải phóng Miền Nam và Quốc tế lao động
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="referral-gift-highlight shadow-1">
                <a
                  href="#"
                  data-popup=".referral-popup"
                  class="popup-open link-absolute"
                ></a>
                <div class="referral-gift-img rounded overflow-hidden">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-200218090508-637176135083409145.png"
                      class="swiper-lazy embed-responsive-img"
                      alt=""
                    />
                  </div>
                </div>

                <div class="referral-gift-name">
                  Thẻ quà bí mật tháng 5/2020
                </div>

                <div class="referral-gift-desc">
                  Chào mừng Giải phóng Miền Nam và Quốc tế lao động
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="referral-gift-highlight shadow-1">
                <a
                  href="#"
                  data-popup=".referral-popup"
                  class="popup-open link-absolute"
                ></a>
                <div class="referral-gift-img rounded overflow-hidden">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-200218090508-637176135083409145.png"
                      class="swiper-lazy embed-responsive-img"
                      alt=""
                    />
                  </div>
                </div>

                <div class="referral-gift-name">
                  Thẻ quà bí mật tháng 5/2020
                </div>

                <div class="referral-gift-desc">
                  Chào mừng Giải phóng Miền Nam và Quốc tế lao động
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mm-space mt-2">
        <div class="pron-container balance">
          <div class="mm-space-title">
            <h3 class="h5 mb-1 mt-0 mm-space-name">Quà cho người giới thiệu</h3>
          </div>

          <div class="lutie-14 text-gray mb-3">Gói quà ngủ quả 500.000đ</div>
        </div>

        <div
          class="swiper-container swiper-init swiper-item-referral"
          data-space-between="15"
          data-slides-per-view="auto"
          data-lazy='{"enabled": true, "loadPrevNext": true, "loadPrevNextAmount": 2}'
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="referral-gift">
                <a
                  href="#"
                  data-popup=".referral-popup"
                  class="popup-open link-absolute"
                ></a>
                <div class="referral-gift-img">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-200218090508-637176135083409145.png"
                      class="swiper-lazy embed-responsive-img"
                      alt=""
                    />
                  </div>
                </div>

                <div class="referral-gift-name">Gói quà 500.000 đồng</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mm-space mt-2">
        <div class="pron-container balance">
          <div class="mm-space-title">
            <h3 class="h5 mb-1 mt-0 mm-space-name">
              Quà cho người được giới thiệu
            </h3>
          </div>

          <div class="lutie-14 text-gray mb-3">
            Nhận 1 trong 4 gói đến 500.000đ
          </div>
        </div>

        <div
          class="swiper-container swiper-init swiper-item-referral"
          data-space-between="15"
          data-slides-per-view="auto"
          data-lazy='{"enabled": true, "loadPrevNext": true, "loadPrevNextAmount": 2}'
        >
          <div class="swiper-wrapper">
            {{#each @root.itemsm}}
            <div class="swiper-slide">
              <div class="referral-gift">
                <a
                  href="#"
                  data-popup=".referral-popup"
                  class="popup-open link-absolute"
                ></a>
                <div class="referral-gift-img">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img
                      data-src="https://static.mservice.io/img/momo-upload-api-200218090508-637176135083409145.png"
                      class="swiper-lazy embed-responsive-img"
                      alt=""
                    />
                  </div>
                </div>

                <div class="referral-gift-name">Gói quà 200.000 đồng</div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="mm-space mt-2">
        <div class="pron-container balance">
          <div class="mm-space-title">
            <h3 class="h5 mb-1 mt-0 mm-space-name">
              Các bước giới thiệu bạn bè
            </h3>
          </div>

          <div class="list accordion-list accordion-referral mb-4 mt-3 p-0">
            <ul>
              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">
                      Thiết lập thanh toán cho ID apple
                    </div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <ul class="steps steps-vertical">
                    <li class="step-item">
                      <div class="step-link">
                        <span class="step-number">1</span>
                        <span class="step-title">
                          Bấm nút <strong>Thiết lập thanh toán</strong> bên dưới
                          & Đăng nhập Apple ID
                        </span>
                      </div>
                    </li>
                    <li class="step-item">
                      <div class="step-link">
                        <span class="step-number">2</span>
                        <span class="step-title">Chọn "Thêm phương thức"</span>
                      </div>
                    </li>
                    <li class="step-item">
                      <div class="step-link">
                        <span class="step-number">3</span>
                        <span class="step-title">
                          Chọn <strong>MoMo E-Wallet</strong> >
                          <strong>Đăng nhập vào MoMo E-Wallet</strong> & làm
                          theo hướng dẫn
                        </span>
                      </div>
                    </li>
                  </ul>
                  <div class="mb-3 text-center">
                    <a
                      href="#"
                      data-popup=".cas-htu-popup"
                      class="d-inline-block button button-fill button-round popup-open color-pink px-3"
                      >Xem hình hướng dẫn</a
                    >
                  </div>
                </div>
              </li>
              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">Liên kết ngân hàng</div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="">
                    <div class="htu-bank bg-light mt-0 px-2">
                      <!-- ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-vietcom-181105104335.jpg"
                          />
                          <div ng-bind="item.Title" class="ng-binding">VCB</div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-agri-48.png__48x48_q95_crop_subsampling-2-181105104838.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            Agribank
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-vtb-logo-web.png__48x48_q95_crop_subsampling-2-181105104953.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            Vietinbank
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-bidv-logo.png__48x48_q95_crop_subsampling-2-181105105152.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            BIDV
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-images-181105111118.jpg"
                          />
                          <div ng-bind="item.Title" class="ng-binding">ACB</div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-shinhan-181105111100.jpg"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            Shinhan
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-sacombank-logo.png__48x48_q95_crop_subsampling-2-181105111049.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            Sacombank
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-scb-logo.jpg__48x48_q95_crop_subsampling-2-181105111035.jpg"
                          />
                          <div ng-bind="item.Title" class="ng-binding">SCB</div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-viber%20image3-181105111025.jpg"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            VPBank
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-vib-logo-500x500.jpg__48x48_q95_crop_subsampling-2-181105111015.jpg"
                          />
                          <div ng-bind="item.Title" class="ng-binding">VIB</div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-eximbank-logo.png__48x48_q95_crop_subsampling-2-181105111007.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            Eximbank
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-tp-logo-web.png__48x48_q95_crop_subsampling-2-181105110957.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            TPBank
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-viber%20image-181105110946.jpg"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            Bảo Việt
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-vrb-logo-181105110935.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">VRB</div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-social-share-181105110925.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">OCB</div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                      <div
                        ng-repeat="item in group.Items"
                        class="htu-bank-col popup-button ng-scope"
                        ng-click="ShowBlocksRender(item.Title,item.Blocks)"
                      >
                        <div class="htu-bank-item">
                          <img
                            ng-src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                            class="d-block mx-auto img-fluid"
                            alt=""
                            src="https://static.mservice.io/img/momo-upload-api-abbank_logo-190504154550.png"
                          />
                          <div ng-bind="item.Title" class="ng-binding">
                            ABBank
                          </div>
                        </div>
                      </div>
                      <!-- end ngRepeat: item in group.Items -->
                    </div>
                  </div>
                </div>
              </li>

              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">Gửi thẻ quà tặng dịch vụ App</div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                  </div>
                </div>
              </li>

              <li class="accordion-item">
                <a href="#" class="item-content item-link">
                  <div class="item-inner">
                    <div class="item-title">Quản lý gói đăng ký</div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- And somewhere in DOM -->

    <div class="popup referral-feature-popup popup-swipe-round">
      <div class="view">
        <div class="page">
          <div class="navbar close-handler">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link popup-close">
                  <img src="images/icons/icon-x.svg" width="28" alt="" />
                  <!-- <i class="icon icon-back"></i> -->
                </a>
              </div>
              <div class="title">Gói quà Hồ Chí Minh</div>
            </div>
          </div>

          <div class="referral-feature-change">
            <div class="inner">
              <div class="w-100">
                <div class="tt">
                    Bạn có muốn đổi sang gói quà Hà Nội không ?
                </div>
                <div class="row justify-content-center">
                  <button class="col button button-fill color-pink font-weight-bold mx-2">Có</button>
                  <button class="col button button-fill color-gray font-weight-bold mx-2">
                    Không
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="page-content">
            <div class="px-3 pt-5 referral-feature-detail">
              <div class="mb-3">
                <h4 class="mb-1 mt-0 d-inline-block">
                  Số lượng thẻ quà nhận được :
                </h4>
                11
              </div>

              <div class="mb-3">
                <h4 class="mb-1 mt-0">Nơi sử dụng :</h4>
                <ul class="m-0">
                  <li>Thanh toán trên Ví MoMo</li>
                </ul>
              </div>

              <div class="mb-3">
                <h4 class="mb-1 mt-0">Chi tiết từng thẻ quà :</h4>
                <ul class="m-0">
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>

                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                  <li>
                    1 Thẻ quà tặng 100.000 đ thanh toán tất cả dịch vụ trên MoMo
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popup referral-popup popup-swipe-round">
      <div class="view">
        <div class="page">
          <div class="navbar close-handler">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link popup-close">
                  <img src="images/icons/icon-x.svg" width="28" alt="" />
                  <!-- <i class="icon icon-back"></i> -->
                </a>
              </div>
              <div class="title">Gói quà 200k</div>
            </div>
          </div>

          <div class="page-content">
            <div class="p-3 pt-5 referral-gift-detail">
              <p>
                1. 02 thẻ quà Nạp điện thoại, Mua mã thẻ trị giá 20.000đ/thẻ<br />
                2. 01 thẻ quà Nạp điện thoại, Mua mã thẻ trị giá 10.000đ<br />
                3. 01 thẻ quà Giảm 30% (tối đa 20.000đ) thanh toán Điện, Nước,
                Internet, Chung Cư<br />
                4. 01 thẻ quà Hoàn phí chuyển tiền đến Ngân hàng nội địa trị giá
                10.000đ<br />
                5. 01 thẻ quà Giảm 20% (tối đa 10.000đ) thanh toán Siêu thị/ Cửa
                hàng Tiện lợi<br />
                6. 01 thẻ quà Giảm Giá 30% (tối đa 10.000đ) khi đi đổ xăng tại
                PVOil, Comeco<br />
                7. 01 thẻ quà thanh toán dịch vụ Google Play / Apple Store trị
                giá 10.000đ<br />
                8. 01 thẻ quà đặt phòng khách sạn trị giá 40.000đ<br />
                9. 01 thẻ quà thanh toán vé xe/vé tàu/vé máy bay trị giá 50.000đ
              </p>

              <p>
                Lưu ý:&nbsp;<br />
                - Hạn sử dụng: tối đa 30 ngày, tùy vào từng thẻ quà<br />
                - Mỗi thẻ quà tặng chỉ áp dụng cho 1 lần thanh toán<br />
                - Thẻ quà tặng không được hoàn lại và không có giá trị quy đổi
                thành tiền mặt<br />
                - Thẻ quà không áp dụng dịch vụ Thanh toán hóa đơn MobiFone trả
                sau, Prudential, LotteMart<br />
                - Thẻ quà không được cộng gộp<br />
                - Thẻ quà sẽ không được hoàn lại đối với các giao dịch yêu cầu
                hoàn tiền
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popup cas-htu-popup popup-swipe-round">
      <div class="view">
        <div class="page">
          <!-- <a href="#" class="link  popup-close close-button">
                        <img src="images/close.svg" alt="Close">
                      </a> -->
          <!--   <div class="navbar">
                        <div class="navbar-inner sliding">
                          <div class="left">
                            <a class="link back">
                              <i class="icon icon-back"></i>
                              <span class="if-not-md">Quay lại</span>
                            </a>
                          </div>
                          <div class="title">Hướng dẫn</div>
                        </div>
                      </div> -->

          <div class="navbar close-handler">
            <div class="navbar-inner sliding">
              <div class="left">
                <a class="link popup-close">
                  <img src="images/icons/icon-x.svg" width="28" alt="" />
                  <!-- <i class="icon icon-back"></i> -->
                </a>
              </div>
              <div class="title">Hướng dẫn Baskin Robbins</div>
            </div>
          </div>

          <!-- <div class="toolbar toolbar-bottom toolbar-large">
                        <div class="toolbar-inner">
                          <div class=" w-100">
                            <p class="row mb-0 ">
                              <a class="col button button-fill button-large color-gray link popup-close">Quay lại</a>

                              <button class="col button button-fill button-large color-pink  ">Sử dụng
                              </button>
                            </p>
                          </div>

                        </div>
                      </div> -->

          <div class="page-content">
            <div
              data-lazy='{"enabled": true}'
              data-pagination='{"el": ".swiper-pagination", "type" : "fraction", "hideOnClick": true}'
              class="swiper-container swiper-init htu-swiper"
            >
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                {{#each @root.htu}}
                <div class="swiper-slide">
                  <div class="htu-content">
                    <div class="htu-mockup">
                      <div
                        class="htu-mockup-slider"
                        style="background-image: url('images/phone-mockup.png')"
                      >
                        <img
                          data-src="{{image}}"
                          class="img-fluid d-block mx-auto swiper-lazy"
                          alt=""
                        />
                      </div>

                      <div class="htu-mockup-txt">
                        <h3 class="htu-mockup-title mt-0 mb-2">{{title}}</h3>
                        <div class="htu-mockup-body">{{content}}</div>

                        <div class="mt-3 font-italic">{{note}}</div>
                      </div>
                    </div>
                  </div>
                </div>

                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  return {
    data: function () {
      return {
        itemsm: ["dwd", "dwd", "dwd", "dwd"],
        htu: [
          {
            image:
              "https://static.mservice.io/img/momo-upload-api-tai-vi-1-190103160624.jpg",
            title: "Tải ứng dụng Ví MoMo",
            content:
              "Tải ứng dụng miễn phí bằng cách tìm kiếm từ khóa “vi momo” trên App Store hoặc Google Play Store.",
            note: "",
          },
          {
            image:
              "https://static.mservice.io/img/momo-upload-api-2-190103153118.jpg",
            title: "Nhập số điện thoại",
            content:
              "Mở ứng dụng và nhập số điện thoại bạn muốn đăng ký Ví MoMo. ",
            note:
              "Lưu ý: Số điện thoại đăng kí Ví phải trùng với số điện thoại đăng kí Internet Banking của ngân hàng bạn muốn liên kết.",
          },
          {
            image:
              "https://static.mservice.io/img/momo-upload-api-3-190103153122.jpg",
            title: "Nhập mã xác thực ",
            content:
              'Một tin nhắn chứa mã xác thực sẽ gửi trực tiếp đến số điện thoại của bạn. </br> Vui lòng kiểm tra và nhập chính xác mã xác thực vào ô "Nhập mã xác thực" rồi nhấn "Tiếp tục".',
            note: "",
          },
          {
            image:
              "https://static.mservice.io/img/momo-upload-api-4-190103153127.jpg",
            title: "Tạo mật khẩu đăng nhập ",
            content:
              'Thiết lập mật khẩu để bảo vệ tài khoản Ví MoMo của bạn gồm 6 chữ số và mật khẩu ở 2 ô phải hoàn toàn giống nhau. </br> \nSau đó bấm "Xác nhận".',
            note: "",
          },
          {
            image:
              "https://static.mservice.io/img/momo-upload-api-5-190103153131.jpg",
            title: "Nhập thông tin ",
            content:
              'Sau khi tạo mật khẩu đăng nhập thành công, bạn nhập thông tin cá nhân theo yêu cầu và nhấn "Xác nhận" để hoàn tất đăng ký.',
            note: "",
          },
        ],
      };
    },
    methods: {
      emitTest: function (data) {
        console.log("chay oi pa");
      },
    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;

        this.$app.on("emitTest", this.emitTest);

        var casReferral = app.popup.create({
          el: ".referral-popup",
          swipeToClose: "to-bottom",
          swipeHandler: ".close-handler",
        });

        var casHtu = app.popup.create({
          el: ".cas-htu-popup",
          swipeToClose: "to-bottom",
          swipeHandler: ".close-handler",
        });

        casHtu.on("open", function (popup) {
          var swiper = app.swiper.get(".htu-swiper");
          swiper.update();
        });
      },
      pageAfterIn: function (e, page) {
        var self = this;
        var app = self.$app;
        app.toolbar.hide(".toolbar");
        $(".page-content-referral").on("scroll", function () {
          if ($(".page-content-referral").scrollTop() > 400) {
            app.toolbar.show(".toolbar");
          } else {
            app.toolbar.hide(".toolbar");
          }
        });

        $$(".contact__avatar").each(function () {
          var charFirst = $$(this)[0]
            .innerText.toString()
            .charAt(0)
            .toUpperCase();
          var code = charFirst.charCodeAt(0);

          console.log(code);

          if (code > 64 && code < 70) {
            $$(this).addClass("is-pink");
          }
          if (code >= 70 && code < 75) {
            $$(this).addClass("is-purple");
          }
          if (code >= 75 && code < 80) {
            $$(this).addClass("is-orange");
          }
          if (code >= 80 && code < 85) {
            $$(this).addClass("is-blue");
          }
          if (code >= 85 && code < 91) {
            $$(this).addClass("is-teal");
          }
        });

        $(".accordion-item").on("accordion:opened", function (el) {
          const offset = $(el.currentTarget).offset().top;
          const navHeight = 56;
          const scrollTopValue =
            offset -
            navHeight +
            $(el.currentTarget).parents(".page-content").scrollTop();
          const animeTar = document.querySelector(".page-content");
          anime({
            targets: animeTar,
            scrollTop: scrollTopValue,
            duration: 500,
            easing: "easeInOutQuad",
          });
          // $(openedItem).parents('.page-content').scrollTop((offset - navHeight - toolbarHeight + scrollTop), 300);
        });
      },
    },
  };
</script>
