<template>
  <div class="page">

    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Quay lại</span>
          </a>
        </div>
        <div class="title">Sale item</div>
      </div>
    </div>



    <div class="toolbar toolbar-bottom toolbar-large">
      <div class="toolbar-inner">
        <div class=" w-100">
          <p class="row mb-0 ">
            <button class="col button button-fill button-large color-pink  "> Mở Website NCT
            </button>

            <button class="col button button-fill button-large color-pink "> Mở ứng dụng NCT</button>
          </p>
        </div>

      </div>
    </div>

    <div class="page-content">

      <div class="pron-container balance bg-white">





        <div class="sale-header">
          <h1 class="sale-title mt-0 mb-2">
            Nhập mã NCTMOMOTET để nhận ngay gói VIP từ Nhaccuatui
          </h1>

          <div class="sale-time">
            Áp dụng từ 04/9/2019 đến 30/9/2019
          </div>
        </div>

        <div class="pron-row balance">
          <div class="embed-responsive embed-responsive-sale">
            <img src="images/sale/ios-bg.png" class="embed-responsive-img" alt="">
          </div>
        </div>


        <div class="noti-content">
          <ul class="">
            <li class="">
              Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

            </li>
            <li>
              <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
              đãi
              chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
              NCTMOMO để giảm 50% so với giá gốc

            </li>
            <li>
              Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
            </li>

            <li>
              Dễ dàng thưởng thức âm nhạc và video chất lượng cao, không quảng cáo.

            </li>
            <li>
              <strong class="text-momo"> Gói vip dành riêng cho thành viên của Ví MoMo</strong> với giá ưu
              đãi
              chỉ <strong class="text-momo">24.500đ/tháng</strong> khi nhập mã
              NCTMOMO để giảm 50% so với giá gốc

            </li>
            <li>
              Mỗi một tài khoản được tặng thêm 7 ngày trong thời gian sử dụng gói Vip
            </li>
          </ul>

          <ul>
            <li>List item two</li>
            <li>List item three</li>
            <li>List item four</li>
          </ul>
          <ol start="8">
          
            <li>List item two</li>
            <li>List item three</li>
            <li>List item four</li>
          </ol>

        

          <div class="noti-gallery">
            <div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="15"
              data-slides-per-view="auto" class="swiper-container swiper-init swiper-container-horizontal">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="simple-slide js-noti-gallery" data-thumb="1">
                    <div class="img-wrapper">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-190919124236-637044937560026858.jpg"
                        alt="2">
                    </div>
                    <div class="image-caption">Chỉ một cơn lũ cũng có thể cuốn trôi đi tất cả</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="simple-slide js-noti-gallery" data-thumb="2">
                    <div class="img-wrapper">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-190919124253-637044937735412359.jpg"
                        alt="2">
                    </div>
                    <div class="image-caption">Dù nghèo khó nhiều bề, nhưng chị Lan, vợ anh Mến vẫn luôn vui vẻ, lạc
                      quan.</div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="simple-slide js-noti-gallery" data-thumb="3">
                    <div class="img-wrapper">
                      <img
                        src="https://static.mservice.io/blogscontents/momo-upload-api-190919124312-637044937922073546.jpg"
                        alt="2">
                    </div>
                    <div class="image-caption">Bãi đất trơ trọi phía sau nhà của anh Cảnh</div>
                  </div>
                </div>

              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>

</template>


<script>

  return {
    data: function () {


      return {

      }
    },
    methods: {

    },
    on: {
      pageBeforeRemove: function () {
        var self = this;
        // if (self.stepperPig) self.stepperPig.destroy();
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;


        /*=== With Captions ===*/
        var myPhotoBrowserNoti = app.photoBrowser.create({
          photos: [
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124236-637044937560026858.jpg",
              caption:
                "Các bé cùng thả bóng bay, chắp cánh ước mơ và hy vọng trong “Ngày hội hoa hướng dương”"
            },
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124253-637044937735412359.jpg",
              caption:
                "Các bé tham gia “Ngày hội hoa hướng dương” chuỗi hoạt động nằm trong chương trình “Ước Mơ của Thúy”"
            },
            // This one without caption
            {
              url:
                "https://static.mservice.io/blogscontents/momo-upload-api-190919124312-637044937922073546.jpg",
              caption:
                "Các bé cùng thả bóng bay, chắp cánh ước mơ và hy vọng trong “Ngày hội hoa hướng dương”"
            }
          ],
          theme: "dark",
          type: "standalone",
          backLinkText: ""
        });


        $$(".js-noti-gallery").on("click", function (e) {
          var thumb = $$(this).attr('data-thumb') - 1;
          console.log(thumb);
          myPhotoBrowserNoti.open(thumb);
        });


      },
    },
  };

</script>